@import "@lilib/themes";

.#{$cls-prefix}description {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  line-height: var(--line-height-base);

  &-icon,
  &-end-icon {
    display: inline-flex;
    flex: none;
    align-items: center;
    justify-content: center;

    & > img {
      width: 1em;
      height: 1em;
      object-fit: cover;
      overflow: hidden;
    }
  }

  &-icon {
    min-width: 1em;
    height: 1em;
    color: var(--text-color-base);
    font-size: calc(var(--line-height-base) * 1em);
    line-height: 1;
    margin-inline-end: var(--space-2);
  }

  &-end-icon {
    width: calc(var(--line-height-base) * 1em);
    height: calc(var(--line-height-base) * 1em);
    color: var(--text-color-muted);
    margin-inline-start: var(--space-2);
  }

  &-content {
    flex: 1 1 0;
  }

  &-title {
    color: var(--text-color-base);
    font-weight: var(--font-weight-title);

    & + * {
      margin-top: var(--space-2);
    }
  }

  &-detail {
    color: var(--text-color-muted);
    font-size: var(--font-size-smaller);

    & p {
      margin-bottom: var(--space-2);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
