@import "@lilib/themes";

.#{$cls-prefix}description {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;

  &-icon {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    min-width: 1em;
    min-height: 1em;
    margin-inline-end: var(--space-2);
    color: var(--text-color-base);
    font-size: calc(var(--line-height-base) * 1em);
    line-height: 1;

    & > img {
      width: 1em;
      height: 1em;
      object-fit: cover;
      overflow: hidden;
    }
  }

  &-content {
    flex: 1 1 0;
  }

  &-title {
    color: var(--text-color-base);
    font-weight: var(--font-weight-title);

    & + * {
      margin-top: var(--space-2);
    }
  }

  &-detail {
    color: var(--text-color-muted);
    font-size: var(--font-size-smaller);

    & p {
      margin-bottom: var(--space-2);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
