@import "@lilib/themes";

.#{$cls-prefix}card {
  @include reset;

  display: flex;
  box-sizing: border-box;
  background-color: var(--background-color-card);
  border: 1px solid var(--border-color-base);
  border-radius: var(--border-radius-fixed-base);

  &[disabled] {
    &[href] {
      pointer-events: none;
    }
  }

  &-image {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--background-color-deep-base);

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  }

  &-main {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    overflow: auto;
  }

  &-header {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    box-sizing: border-box;
    padding: var(--space-4);
  }

  &-icon {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    min-width: 1em;
    min-height: 1em;
    margin-right: var(--space-2);
    font-size: calc(var(--line-height-base) * 1em);
    line-height: 1;

    & > img {
      width: 1em;
      height: 1em;
      object-fit: cover;
      overflow: hidden;
    }
  }

  &-title {
    flex: 1 1 0;
    font-weight: 700;
    @include text-overflow;
  }

  &-headnote {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    margin-left: var(--space-2);
  }

  &-headmark {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    margin-left: var(--space-2);
  }

  &-footer {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: var(--space-4);
  }

  &-footnote {
    display: flex;
    flex: 1 1 0;
    align-items: center;

    & + .#{$cls-prefix}card-footmark {
      margin-left: var(--space-2);
    }
  }

  &-footmark {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
  }

  &-content {
    flex: 1 1 0;
    box-sizing: border-box;
    padding: var(--space-4);
    overflow: auto;

    & p {
      margin-bottom: var(--space-2);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.#{$cls-prefix}has-header:not(.#{$cls-prefix}splited) {
    & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-content {
      padding-top: 0;
    }
  }

  &.#{$cls-prefix}has-footer:not(.#{$cls-prefix}splited) {
    & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-content {
      padding-bottom: 0;
    }
  }

  &.#{$cls-prefix}unpadding {
    & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-content {
      padding: 0;
    }
  }

  &.#{$cls-prefix}image-placement-top {
    flex-direction: column;

    & > .#{$cls-prefix}card-image {
      margin: -1px -1px 0;
      border-top-left-radius: var(--border-radius-fixed-base);
      border-top-right-radius: var(--border-radius-fixed-base);
    }
  }

  &.#{$cls-prefix}image-placement-bottom {
    flex-direction: column-reverse;

    & > .#{$cls-prefix}card-image {
      margin: 0 -1px -1px;
      border-bottom-right-radius: var(--border-radius-fixed-base);
      border-bottom-left-radius: var(--border-radius-fixed-base);
    }
  }

  &.#{$cls-prefix}image-placement-start {
    flex-direction: row;

    & > .#{$cls-prefix}card-image {
      margin: -1px 0 -1px -1px;
      border-top-left-radius: var(--border-radius-fixed-base);
      border-bottom-left-radius: var(--border-radius-fixed-base);
    }
  }

  &.#{$cls-prefix}image-placement-end {
    flex-direction: row-reverse;

    & > .#{$cls-prefix}card-image {
      margin: -1px -1px -1px 0;
      border-top-right-radius: var(--border-radius-fixed-base);
      border-bottom-right-radius: var(--border-radius-fixed-base);
    }
  }

  &.#{$cls-prefix}splited {
    & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-header {
      padding: var(--space-2) var(--space-4);
      background-color: rgba(var(--basis-rgb) / var(--alpha-soft));
      border-bottom: 1px solid var(--border-color-inactive);
      border-top-left-radius: var(--border-radius-fixed-base);
      border-top-right-radius: var(--border-radius-fixed-base);
    }

    & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-footer {
      padding: var(--space-2) var(--space-4);
      background-color: rgba(var(--basis-rgb) / var(--alpha-soft));
      border-top: 1px solid var(--border-color-inactive);
      border-bottom-right-radius: var(--border-radius-fixed-base);
      border-bottom-left-radius: var(--border-radius-fixed-base);
    }

    &.#{$cls-prefix}image-placement-top {
      & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-header {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &.#{$cls-prefix}image-placement-bottom {
      & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-footer {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &.#{$cls-prefix}image-placement-start {
      & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-header {
        border-top-left-radius: 0;
      }

      & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-footer {
        border-bottom-left-radius: 0;
      }
    }

    &.#{$cls-prefix}image-placement-end {
      & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-header {
        border-top-right-radius: 0;
      }

      & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-footer {
        border-bottom-right-radius: 0;
      }
    }
  }

  &.#{$cls-prefix}shadowed {
    box-shadow: var(--box-shadow-2);
  }

  &.#{$cls-prefix}hoverable {
    cursor: pointer;
    @include transition(fast, ease-in-out, box-shadow);

    &:hover {
      box-shadow: var(--box-shadow-4);
    }

    &:active {
      box-shadow: var(--box-shadow-2);
    }

    [data-focusing] &:focus {
      @include focus-outline;
    }
  }

  &.#{$cls-prefix}borderless {
    border: 0;

    & > .#{$cls-prefix}card-image {
      margin: 0;
    }
  }
}

.#{$cls-prefix}card.#{$cls-prefix}rtl {
  & > .#{$cls-prefix}card-main {
    & > .#{$cls-prefix}card-header {
      & > .#{$cls-prefix}card-icon {
        margin-right: 0;
        margin-left: var(--space-2);
      }

      & > .#{$cls-prefix}card-headnote {
        margin-right: var(--space-2);
        margin-left: 0;
      }

      & > .#{$cls-prefix}card-headmark {
        margin-right: var(--space-2);
        margin-left: 0;
      }
    }

    & > .#{$cls-prefix}card-footer {
      & > .#{$cls-prefix}card-footnote {
        & + .#{$cls-prefix}card-footmark {
          margin-right: var(--space-2);
          margin-left: 0;
        }
      }
    }
  }

  &.#{$cls-prefix}image-placement-start {
    & > .#{$cls-prefix}card-image {
      margin: -1px -1px -1px 0;
      border-radius: 0 var(--border-radius-fixed-base)
        var(--border-radius-fixed-base) 0;
    }
  }

  &.#{$cls-prefix}image-placement-end {
    & > .#{$cls-prefix}card-image {
      margin: -1px 0 -1px -1px;
      border-radius: var(--border-radius-fixed-base) 0 0
        var(--border-radius-fixed-base);
    }
  }

  &.#{$cls-prefix}splited {
    &.#{$cls-prefix}image-placement-start {
      & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-header {
        border-top-left-radius: var(--border-radius-fixed-base);
        border-top-right-radius: 0;
      }

      & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-footer {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: var(--border-radius-fixed-base);
      }
    }

    &.#{$cls-prefix}image-placement-end {
      & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-header {
        border-top-left-radius: 0;
        border-top-right-radius: var(--border-radius-fixed-base);
      }

      & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-footer {
        border-bottom-right-radius: var(--border-radius-fixed-base);
        border-bottom-left-radius: 0;
      }
    }
  }

  &.#{$cls-prefix}borderless {
    & > .#{$cls-prefix}card-image {
      margin: 0;
    }
  }
}
