@import "@lilib/themes";

.#{$cls-prefix}card {
  @include reset;

  display: flex;
  box-sizing: border-box;
  background-color: var(--background-color-card);
  border: 1px solid var(--border-color-base);
  border-radius: var(--border-radius-fixed-large);

  &[href][disabled] {
    pointer-events: none;
  }

  &-image {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--background-color-deep-base);

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  }

  &-main {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    overflow: auto;
    border-radius: var(--border-radius-fixed-large);
  }

  &-header {
    display: flex;
    flex: none;
    align-items: center;
    box-sizing: border-box;
    padding: var(--space-4) var(--space-6);
    border-start-start-radius: var(--border-radius-fixed-large);
    border-start-end-radius: var(--border-radius-fixed-large);
  }

  &-icon {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    min-width: 1em;
    min-height: 1em;
    font-size: calc(var(--line-height-base) * var(--font-size-larger));
    line-height: 1;
    margin-inline-end: var(--space-2);

    & > img {
      width: 1em;
      height: 1em;
      object-fit: cover;
      overflow: hidden;
    }
  }

  &-title {
    flex: 1 1 0;
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-larger);
  }

  &-headnote,
  &-headmark {
    display: flex;
    flex: none;
    align-items: center;
    margin-inline-start: var(--space-2);
  }

  &-footer {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: var(--space-4) var(--space-6);
    border-end-end-radius: var(--border-radius-fixed-large);
    border-end-start-radius: var(--border-radius-fixed-large);
  }

  &-footnote {
    display: flex;
    flex: 1 1 0;
    align-items: center;

    & + .#{$cls-prefix}card-footmark {
      margin-inline-start: var(--space-2);
    }
  }

  &-footmark {
    display: flex;
    flex: none;
    align-items: center;
  }

  &-content {
    flex: 1 1 0;
    box-sizing: border-box;
    padding: var(--space-4) var(--space-6);
    overflow: auto;

    & p:last-child {
      margin-bottom: 0;
    }
  }

  &.#{$cls-prefix}with-header:not(.#{$cls-prefix}divided) {
    & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-content {
      padding-top: 0;
    }
  }

  &.#{$cls-prefix}with-footer:not(.#{$cls-prefix}divided) {
    & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-content {
      padding-bottom: 0;
    }
  }

  &.#{$cls-prefix}unpadding {
    & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-content {
      padding: 0;
    }
  }

  &.#{$cls-prefix}image-placement-top {
    flex-direction: column;

    & > .#{$cls-prefix}card-image {
      border-start-start-radius: var(--border-radius-fixed-large);
      border-start-end-radius: var(--border-radius-fixed-large);
      margin-block-start: -1px;
      margin-inline-start: -1px;
      margin-inline-end: -1px;
    }

    & > .#{$cls-prefix}card-main,
    & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-header {
      border-start-start-radius: 0;
      border-start-end-radius: 0;
    }
  }

  &.#{$cls-prefix}image-placement-bottom {
    flex-direction: column-reverse;

    & > .#{$cls-prefix}card-image {
      border-end-end-radius: var(--border-radius-fixed-large);
      border-end-start-radius: var(--border-radius-fixed-large);
      margin-inline-start: -1px;
      margin-inline-end: -1px;
      margin-block-end: -1px;
    }

    & > .#{$cls-prefix}card-main,
    & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-footer {
      border-end-end-radius: 0;
      border-end-start-radius: 0;
    }
  }

  &.#{$cls-prefix}image-placement-start {
    flex-direction: row;

    & > .#{$cls-prefix}card-image {
      border-start-start-radius: var(--border-radius-fixed-large);
      border-end-start-radius: var(--border-radius-fixed-large);
      margin-block-start: -1px;
      margin-block-end: -1px;
      margin-inline-start: -1px;
    }

    & > .#{$cls-prefix}card-main {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
    }

    & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-header {
      border-start-start-radius: 0;
    }

    & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-footer {
      border-end-start-radius: 0;
    }
  }

  &.#{$cls-prefix}image-placement-end {
    flex-direction: row-reverse;

    & > .#{$cls-prefix}card-image {
      border-start-end-radius: var(--border-radius-fixed-large);
      border-end-end-radius: var(--border-radius-fixed-large);
      margin-block-start: -1px;
      margin-inline-end: -1px;
      margin-block-end: -1px;
    }

    & > .#{$cls-prefix}card-main {
      border-start-end-radius: 0;
      border-end-end-radius: 0;
    }

    & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-header {
      border-start-end-radius: 0;
    }

    & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-footer {
      border-end-end-radius: 0;
    }
  }

  &.#{$cls-prefix}divided {
    & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-header {
      padding: var(--space-2) var(--space-6);
      border-bottom: 1px solid var(--border-color-inactive);
    }

    & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-footer {
      padding: var(--space-2) var(--space-6);
      border-top: 1px solid var(--border-color-inactive);
    }
  }

  &.#{$cls-prefix}striped {
    & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-header,
    & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-footer {
      background-color: rgba(var(--basis-rgb) / var(--alpha-base));
    }
  }

  &.#{$cls-prefix}shadowed {
    box-shadow: var(--shadow-2);
  }

  &.#{$cls-prefix}hoverable {
    cursor: pointer;
    @include transition(fast, ease, box-shadow);

    &:hover {
      box-shadow: var(--shadow-4);
    }

    &:active {
      box-shadow: var(--shadow-2);
    }

    [data-focusing] &:focus {
      @include focus-outline;
    }
  }

  &.#{$cls-prefix}borderless {
    border: 0;

    & > .#{$cls-prefix}card-image {
      margin: 0;
    }
  }
}
