@import "@lilib/themes";

.#{$cls-prefix}backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-backdrop);
  display: none;
  background-color: var(--background-color-backdrop);
  @include transition(base, opacity);

  &.#{$cls-prefix}opened {
    display: block;
  }

  &.#{$cls-prefix}blurred {
    backdrop-filter: blur(20px);
  }

  &.#{$cls-prefix}transparent {
    background-color: transparent;
    backdrop-filter: none;
  }

  &.#{$cls-prefix}transition {
    &-enter,
    &-exiting,
    &-exited {
      opacity: 0;
    }

    &-entering,
    &-exit {
      opacity: 1;
    }

    &-exited {
      display: none;
    }
  }
}
