@import "@lilib/themes";

.#{$cls-prefix}light {
  @each $name, $value in $light-properties {
    $property: str-insert($name, $var-prefix, 3);

    #{$property}: $value;
  }

  color: unquote("var(--" + $var-prefix + "text-color-base)");
  color-scheme: light;
}

.#{$cls-prefix}dark {
  @each $name, $value in $dark-properties {
    $property: str-insert($name, $var-prefix, 3);

    #{$property}: $value;
  }

  color: unquote("var(--" + $var-prefix + "text-color-base)");
  color-scheme: dark;
}
