@import "@lilib/themes";

.#{$cls-prefix}light {
  @each $name, $value in $light-properties {
    $property: str-insert($name, $var-prefix, 3);

    #{$property}: $value;
  }

  color-scheme: light;
}

.#{$cls-prefix}dark {
  @each $name, $value in $dark-properties {
    $property: str-insert($name, $var-prefix, 3);

    #{$property}: $value;
  }

  color-scheme: dark;
}

.#{$cls-prefix}light,
.#{$cls-prefix}dark {
  color: unquote("var(--" + $var-prefix + "text-color-base)");

  &.body,
  & > body {
    background-color: unquote("var(--" + $var-prefix + "background-color-0)");
  }
}
