@import "@lilib/themes";

.#{$cls-prefix}divider {
  @include reset;

  flex: 0 0 auto;
  border-color: var(--border-color-inactive);
  border-style: solid;
  @include clearfix;

  &:not(.#{$cls-prefix}inline) {
    align-self: stretch;
  }

  &:not(.#{$cls-prefix}vertical) {
    display: block;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    border-top-width: 1px;

    &.#{$cls-prefix}inline {
      display: inline-block;
      width: 1em;
      vertical-align: middle;
    }

    &.#{$cls-prefix}divider-gap-1x {
      margin: var(--space-1) auto;
    }

    &.#{$cls-prefix}divider-gap-2x {
      margin: var(--space-2) auto;
    }

    &.#{$cls-prefix}divider-gap-3x {
      margin: var(--space-3) auto;
    }

    &.#{$cls-prefix}divider-gap-4x {
      margin: var(--space-4) auto;
    }

    &.#{$cls-prefix}divider-gap-5x {
      margin: var(--space-5) auto;
    }

    &.#{$cls-prefix}divider-gap-6x {
      margin: var(--space-6) auto;
    }

    &.#{$cls-prefix}divider-gap-7x {
      margin: var(--space-7) auto;
    }

    &.#{$cls-prefix}divider-gap-8x {
      margin: var(--space-8) auto;
    }

    &.#{$cls-prefix}divider-gap-9x {
      margin: var(--space-9) auto;
    }
  }

  &.#{$cls-prefix}vertical {
    display: inline-block;
    height: auto;
    min-height: 1em;
    vertical-align: middle;
    border-left-width: 1px;

    &.#{$cls-prefix}inline {
      height: 1em;
    }

    &.#{$cls-prefix}divider-gap-1x {
      margin: 0 var(--space-1);
    }

    &.#{$cls-prefix}divider-gap-2x {
      margin: 0 var(--space-2);
    }

    &.#{$cls-prefix}divider-gap-3x {
      margin: 0 var(--space-3);
    }

    &.#{$cls-prefix}divider-gap-4x {
      margin: 0 var(--space-4);
    }

    &.#{$cls-prefix}divider-gap-5x {
      margin: 0 var(--space-5);
    }

    &.#{$cls-prefix}divider-gap-6x {
      margin: 0 var(--space-6);
    }

    &.#{$cls-prefix}divider-gap-7x {
      margin: 0 var(--space-7);
    }

    &.#{$cls-prefix}divider-gap-8x {
      margin: 0 var(--space-8);
    }

    &.#{$cls-prefix}divider-gap-9x {
      margin: 0 var(--space-9);
    }
  }
}
