{
  "extends": ["react-app", "react-app/jest", "prettier"],
  "overrides": [
    {
      "files": ["stories.ts", "stories.tsx"],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ]
}
