{
  "extends": ["react-app", "react-app/jest", "prettier"],
  "rules": {
    "jsx-a11y/alt-text": "off",
    "jsx-a11y/anchor-is-valid": "off"
  },
  "overrides": [
    {
      "files": ["stories.ts", "stories.tsx"],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ]
}
