@import "@lilib/themes";

.#{$cls-prefix}loader {
  & > .#{$cls-prefix}loader-mask {
    color: var(--text-color-base);

    & > .#{$cls-prefix}loader-icon {
      flex: 0 0 auto;
      font-size: var(--line-height-fixed-base);
      line-height: 1;
    }

    & > .#{$cls-prefix}loader-message {
      flex: 0 0 auto;
      margin-top: var(--space-1);
      font-size: var(--font-size-base);
      line-height: var(--line-height-base);
    }
  }

  &.#{$cls-prefix}small {
    & > .#{$cls-prefix}loader-mask {
      & > .#{$cls-prefix}icon {
        font-size: var(--line-height-fixed-small);
      }

      & > .#{$cls-prefix}loader-message {
        font-size: var(--font-size-small);
      }
    }
  }

  &.#{$cls-prefix}large {
    & > .#{$cls-prefix}loader-mask {
      & > .#{$cls-prefix}icon {
        font-size: var(--line-height-fixed-large);
      }

      & > .#{$cls-prefix}loader-message {
        font-size: var(--font-size-large);
      }
    }
  }

  &.#{$cls-prefix}contented {
    position: relative;

    & > .#{$cls-prefix}loader-content {
      @include transition(base, ease, opacity, filter);

      &.#{$cls-prefix}transition {
        &-enter,
        &-entering,
        &-entered {
          opacity: 0.2;
          filter: blur(4px);
        }
      }
    }

    & > .#{$cls-prefix}loader-mask {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: var(--space-4);
      @include transition(base, ease, opacity);

      &.#{$cls-prefix}transition {
        &-enter,
        &-exit,
        &-exiting {
          opacity: 0;
        }
      }
    }
  }

  &:not(.#{$cls-prefix}contented) {
    & > .#{$cls-prefix}loader-mask {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: var(--space-4);
    }
  }
}
