@import "@lilib/themes";

ol,
ul {
  &.#{$cls-prefix}list {
    margin: 0;
    padding: 0;
  }
}

.#{$cls-prefix}list {
  @include reset;

  display: block;
  box-sizing: border-box;
  width: 100%;
  color: var(--text-color-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);

  &.#{$cls-prefix}small {
    font-size: var(--font-size-small);
  }

  &.#{$cls-prefix}large {
    font-size: var(--font-size-large);
  }

  &.#{$cls-prefix}filled {
    background-color: var(--background-color-card);
  }

  &.#{$cls-prefix}splited {
    & > .#{$cls-prefix}list-item {
      margin-top: -1px;
    }

    &:not(.#{$cls-prefix}indented) {
      & > .#{$cls-prefix}list-item:not(:first-child) {
        border-top: 1px solid var(--border-color-inactive);
      }
    }

    &.#{$cls-prefix}indented {
      & > .#{$cls-prefix}list-item:not(:first-child) {
        & > .#{$cls-prefix}list-item-inner {
          & > .#{$cls-prefix}list-item-icon {
            margin-top: 1px;
          }

          & > .#{$cls-prefix}list-item-main {
            border-top: 1px solid var(--border-color-inactive);
          }
        }
      }
    }
  }

  &.#{$cls-prefix}bounded:not(.#{$cls-prefix}bordered) {
    border-top: 1px solid var(--border-color-base);
    border-bottom: 1px solid var(--border-color-base);
  }

  &.#{$cls-prefix}bordered {
    border: 1px solid var(--border-color-base);
    border-radius: var(--border-radius-base);

    & > .#{$cls-prefix}list-item:first-child {
      border-top-left-radius: var(--border-radius-base);
      border-top-right-radius: var(--border-radius-base);
    }

    & > .#{$cls-prefix}list-item:last-child {
      border-bottom-right-radius: var(--border-radius-base);
      border-bottom-left-radius: var(--border-radius-base);
    }
  }
}
