@import "@lilib/themes";

.#{$cls-prefix}popup {
  z-index: var(--z-index-popup);
  box-sizing: border-box;
  max-width: 600px;
  padding: var(--space-4);
  background-color: var(--background-color-overlay);
  border: 1px solid var(--border-color-base);
  border-radius: var(--border-radius-base);
  box-shadow: var(--shadow-3);
  @include transition(base, ease-in-out, transform, opacity);

  &-arrow {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    background-color: var(--background-color-overlay);
    border: 1px solid var(--border-color-base);
    transform: rotate(45deg);

    &[data-placement^="top"] {
      bottom: -8px;
      border-top-color: transparent;
      border-left-color: transparent;
      border-radius: 0 0 2px;
      clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
    }

    &[data-placement^="bottom"] {
      top: -8px;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-radius: 2px 0 0;
      clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
    }

    &[data-placement^="left"] {
      right: -8px;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-radius: 0 2px 0 0;
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    }

    &[data-placement^="right"] {
      left: -8px;
      border-top-color: transparent;
      border-right-color: transparent;
      border-radius: 0 0 0 2px;
      clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
    }
  }

  &.#{$cls-prefix}unpadding {
    padding: 0;
  }

  &[data-placement="top"] {
    transform-origin: 50% 100%;
  }

  &[data-placement="top-start"] {
    transform-origin: 0% 100%;
  }

  &[data-placement="top-end"] {
    transform-origin: 100% 100%;
  }

  &[data-placement="bottom"] {
    transform-origin: 50% 0%;
  }

  &[data-placement="bottom-start"] {
    transform-origin: 0% 0%;
  }

  &[data-placement="bottom-end"] {
    transform-origin: 100% 0%;
  }

  &[data-placement="left"] {
    transform-origin: 100% 50%;
  }

  &[data-placement="left-start"] {
    transform-origin: 100% 0%;
  }

  &[data-placement="left-end"] {
    transform-origin: 100% 100%;
  }

  &[data-placement="right"] {
    transform-origin: 0% 50%;
  }

  &[data-placement="right-start"] {
    transform-origin: 0% 0%;
  }

  &[data-placement="right-end"] {
    transform-origin: 0% 100%;
  }

  &.#{$cls-prefix}transition {
    &-enter,
    &-exiting,
    &-exited {
      transform: scale(0.9);
      opacity: 0;
    }

    &-entering,
    &-exit {
      transform: translateX(0) translateY(0);
      opacity: 1;
    }

    &-exited {
      display: none;
    }
  }
}

.#{$cls-prefix}popup.#{$cls-prefix}rtl {
  &[data-placement="top-start"] {
    transform-origin: 100% 100%;
  }

  &[data-placement="top-end"] {
    transform-origin: 0% 100%;
  }

  &[data-placement="bottom-start"] {
    transform-origin: 100% 0%;
  }

  &[data-placement="bottom-end"] {
    transform-origin: 0% 0%;
  }
}
