@import "@lilib/themes";

.#{$cls-prefix}dot {
  display: inline-flex;
  flex: none;
  width: 8px;
  height: 8px;
  color: var(--text-color-base);
  vertical-align: 0.125em;
  background-color: var(--text-color-base);
  border-radius: 50%;

  &.#{$cls-prefix}small {
    width: 6px;
    height: 6px;
  }

  &.#{$cls-prefix}large {
    width: 10px;
    height: 10px;
  }

  &.#{$cls-prefix}animated {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: currentColor;
      border-radius: 50%;
      animation: #{$cls-prefix}dot-animate var(--motion-duration-lazy) var(--motion-function-ease-in-out) 0s infinite;
      content: "";
    }
  }

  @each $color in $colors {
    &.#{$cls-prefix}#{$color} {
      color: rgb(var(--#{$color}-rgb));
      background-color: rgb(var(--#{$color}-rgb));
    }
  }
}

@keyframes #{$cls-prefix}dot-animate {
  from {
    transform: scale(1);
    opacity: 0.5;
  }

  to {
    transform: scale(2.5);
    opacity: 0;
  }
}
