@import "@lilib/themes";

.#{$cls-prefix}info {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  line-height: var(--line-height-base);

  &-indicator {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    min-width: 1em;
    min-height: 1em;
    margin-right: var(--space-2);
    color: var(--text-color-base);
    font-size: calc(var(--line-height-base) * 1em);
    line-height: 1;

    & > img {
      width: 1em;
      height: 1em;
      object-fit: cover;
      overflow: hidden;
    }
  }

  &-content {
    flex: 1 1 0;
  }

  &-title {
    color: var(--text-color-base);
    font-weight: 700;

    & + * {
      margin-top: var(--space-2);
    }
  }

  &-detail {
    color: var(--text-color-muted);
    font-size: var(--font-size-smaller);

    & + * {
      margin-top: var(--space-2);
    }

    & p {
      margin-bottom: var(--space-2);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.#{$cls-prefix}info.#{$cls-prefix}rtl {
  & > .#{$cls-prefix}info-indicator {
    margin-right: 0;
    margin-left: var(--space-2);
  }
}
