@import "@lilib/themes";

.#{$cls-prefix}tag {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
  height: var(--line-height-fixed-base);
  margin: 0;
  padding: 0;
  color: var(--text-color-base);
  font: inherit;
  font-size: var(--font-size-base);
  line-height: var(--line-height-fixed-base);
  text-decoration: none;
  background-color: var(--background-color-1);
  border: 0;
  border-radius: var(--border-radius-small);
  box-shadow: 0 0 0 1px var(--border-color-base);
  appearance: none;

  &-content {
    flex: 1 1 0;
    box-sizing: border-box;
    height: 100%;
    padding: 0
      calc((#{var(--line-height-fixed-base)} - #{var(--font-size-base)}));
    text-align: center;
    border-radius: var(--border-radius-small);
    @include text-overflow;
  }

  &-clear {
    display: inline-flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    width: var(--line-height-fixed-base);
    height: 100%;
    color: var(--text-color-inactive);
    border-top-right-radius: var(--border-radius-small);
    border-bottom-right-radius: var(--border-radius-small);
    cursor: pointer;

    &:hover {
      color: var(--text-color-hover);
      background-color: var(--background-color-2);
    }

    &:active {
      color: var(--text-color-active);
      background-color: var(--background-color-3);
    }
  }

  &.#{$cls-prefix}round {
    border-radius: 1000px;

    & > .#{$cls-prefix}tag-content {
      border-radius: 1000px;
    }

    & > .#{$cls-prefix}tag-clear {
      border-top-right-radius: 1000px;
      border-bottom-right-radius: 1000px;
    }
  }

  &.#{$cls-prefix}small {
    height: var(--line-height-fixed-small);
    font-size: var(--font-size-small);
    line-height: var(--line-height-fixed-small);

    & > .#{$cls-prefix}tag-content {
      padding: 0
        calc((#{var(--line-height-fixed-small)} - #{var(--font-size-small)}));
    }

    & > .#{$cls-prefix}tag-clear {
      width: var(--line-height-fixed-small);
    }
  }

  &.#{$cls-prefix}large {
    height: var(--line-height-fixed-large);
    font-size: var(--font-size-large);
    line-height: var(--line-height-fixed-large);

    & > .#{$cls-prefix}tag-content {
      padding: 0
        calc((#{var(--line-height-fixed-large)} - #{var(--font-size-large)}));
    }

    & > .#{$cls-prefix}tag-clear {
      width: var(--line-height-fixed-large);
    }
  }

  &.#{$cls-prefix}clearable {
    & > .#{$cls-prefix}tag-content {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &.#{$cls-prefix}clickable {
    & > .#{$cls-prefix}tag-content {
      cursor: pointer;

      &:hover {
        color: var(--text-color-hover);
        background-color: var(--background-color-2);
      }

      &:active {
        color: var(--text-color-active);
        background-color: var(--background-color-3);
      }
    }
  }

  @each $intent in $intents {
    &.#{$cls-prefix}#{$intent} {
      color: var(--text-color-#{$intent}-base);
      background-color: var(--background-color-#{$intent}-1);
      box-shadow: 0 0 0 1px var(--border-color-#{$intent}-base);

      & > .#{$cls-prefix}tag-clear {
        color: var(--text-color-#{$intent}-inactive);

        &:hover {
          color: var(--text-color-#{$intent}-hover);
          background-color: var(--background-color-#{$intent}-2);
        }

        &:active {
          color: var(--text-color-#{$intent}-active);
          background-color: var(--background-color-#{$intent}-3);
        }
      }

      &.#{$cls-prefix}clickable {
        & > .#{$cls-prefix}tag-content {
          &:hover {
            color: var(--text-color-#{$intent}-hover);
            background-color: var(--background-color-#{$intent}-2);
          }

          &:active {
            color: var(--text-color-#{$intent}-active);
            background-color: var(--background-color-#{$intent}-3);
          }
        }
      }
    }
  }

  &.#{$cls-prefix}solid {
    color: var(--text-color-solid-base);
    background-color: var(--text-color-base);
    box-shadow: none;

    & > .#{$cls-prefix}tag-clear {
      color: var(--text-color-solid-inactive);

      &:hover {
        color: var(--text-color-solid-base);
        background-color: var(--text-color-hover);
      }

      &:active {
        color: var(--text-color-solid-base);
        background-color: var(--text-color-active);
      }
    }

    &.#{$cls-prefix}clickable {
      & > .#{$cls-prefix}tag-content {
        &:hover {
          color: var(--text-color-solid-base);
          background-color: var(--text-color-hover);
        }

        &:active {
          color: var(--text-color-solid-base);
          background-color: var(--text-color-active);
        }
      }
    }

    @each $intent in $intents {
      &.#{$cls-prefix}#{$intent} {
        background-color: var(--text-color-#{$intent}-base);

        & > .#{$cls-prefix}tag-clear {
          &:hover {
            background-color: var(--text-color-#{$intent}-hover);
          }

          &:active {
            background-color: var(--text-color-#{$intent}-active);
          }
        }

        &.#{$cls-prefix}clickable {
          & > .#{$cls-prefix}tag-content {
            &:hover {
              background-color: var(--text-color-#{$intent}-hover);
            }

            &:active {
              background-color: var(--text-color-#{$intent}-active);
            }
          }
        }
      }
    }
  }

  &.#{$cls-prefix}outlined {
    background-color: transparent;
    box-shadow: 0 0 0 1px var(--border-color-base);

    & > .#{$cls-prefix}tag-clear {
      &:hover {
        background-color: var(--background-color-a1);
      }

      &:active {
        background-color: var(--background-color-a2);
      }
    }

    &.#{$cls-prefix}clickable {
      & > .#{$cls-prefix}tag-content {
        &:hover {
          background-color: var(--background-color-a1);
        }

        &:active {
          background-color: var(--background-color-a2);
        }
      }
    }

    @each $intent in $intents {
      &.#{$cls-prefix}#{$intent} {
        color: var(--text-color-#{$intent}-base);
        box-shadow: 0 0 0 1px var(--border-color-#{$intent}-base);

        & > .#{$cls-prefix}tag-clear {
          &:hover {
            color: var(--text-color-#{$intent}-hover);
            background-color: var(--background-color-#{$intent}-a1);
          }

          &:active {
            color: var(--text-color-#{$intent}-active);
            background-color: var(--background-color-#{$intent}-a2);
          }
        }

        &.#{$cls-prefix}clickable {
          & > .#{$cls-prefix}tag-content {
            &:hover {
              color: var(--text-color-#{$intent}-hover);
              background-color: var(--background-color-#{$intent}-a1);
            }

            &:active {
              color: var(--text-color-#{$intent}-active);
              background-color: var(--background-color-#{$intent}-a2);
            }
          }
        }
      }
    }
  }

  &.#{$cls-prefix}disabled {
    color: var(--text-color-disabled);
    background-color: var(--background-color-1);
    box-shadow: 0 0 0 1px var(--border-color-disabled);
    cursor: not-allowed;

    & > .#{$cls-prefix}tag-clear {
      color: var(--text-color-disabled);
      background-color: transparent;
      cursor: not-allowed;
    }

    &.#{$cls-prefix}clickable {
      & > .#{$cls-prefix}tag-content {
        color: var(--text-color-disabled);
        background-color: transparent;
        cursor: not-allowed;
      }
    }

    @each $intent in $intents {
      &.#{$cls-prefix}#{$intent} {
        color: var(--text-color-#{$intent}-disabled);
        background-color: var(--background-color-#{$intent}-1);
        box-shadow: 0 0 0 1px var(--border-color-#{$intent}-disabled);

        & > .#{$cls-prefix}tag-clear {
          color: var(--text-color-#{$intent}-disabled);
          background-color: transparent;
        }

        &.#{$cls-prefix}clickable {
          & > .#{$cls-prefix}tag-content {
            color: var(--text-color-#{$intent}-disabled);
            background-color: transparent;
          }
        }
      }
    }

    &.#{$cls-prefix}solid {
      color: var(--text-color-solid-disabled);
      background-color: var(--text-color-disabled);
      box-shadow: none;

      & > .#{$cls-prefix}tag-clear {
        color: var(--text-color-solid-disabled);
        background-color: transparent;
      }

      &.#{$cls-prefix}clickable {
        & > .#{$cls-prefix}tag-content {
          color: var(--text-color-solid-disabled);
          background-color: transparent;
        }
      }

      @each $intent in $intents {
        &.#{$cls-prefix}#{$intent} {
          background-color: var(--text-color-#{$intent}-disabled);

          & > .#{$cls-prefix}tag-clear {
            background-color: transparent;
          }

          &.#{$cls-prefix}clickable {
            & > .#{$cls-prefix}tag-content {
              background-color: transparent;
            }
          }
        }
      }
    }

    &.#{$cls-prefix}outlined {
      background-color: transparent;
      box-shadow: 0 0 0 1px var(--border-color-disabled);

      & > .#{$cls-prefix}tag-clear {
        background-color: transparent;
      }

      &.#{$cls-prefix}clickable {
        & > .#{$cls-prefix}tag-content {
          background-color: transparent;
        }
      }

      @each $intent in $intents {
        &.#{$cls-prefix}#{$intent} {
          color: var(--text-color-#{$intent}-disabled);
          background-color: transparent;
          box-shadow: 0 0 0 1px var(--border-color-#{$intent}-disabled);

          & > .#{$cls-prefix}tag-clear {
            color: var(--text-color-#{$intent}-disabled);
            background-color: transparent;
          }

          &.#{$cls-prefix}clickable {
            & > .#{$cls-prefix}tag-content {
              color: var(--text-color-#{$intent}-disabled);
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}
