@import "@lilib/themes";

.#{$cls-prefix}popup.#{$cls-prefix}tooltip {
  z-index: var(--z-index-tooltip);
  padding: var(--space-2);
  color: var(--text-color-active);
  box-shadow: var(--shadow-1);

  &.#{$cls-prefix}unpadding {
    padding: 0;
  }
}
