@import "@lilib/themes";

.#{$cls-prefix}text {
  @include reset;
  @include feedback(color);

  &.#{$cls-prefix}small {
    font-size: var(--font-size-small);
  }

  &.#{$cls-prefix}smaller {
    font-size: var(--font-size-smaller);
  }

  &.#{$cls-prefix}large {
    font-size: var(--font-size-large);
  }

  &.#{$cls-prefix}larger {
    font-size: var(--font-size-larger);
  }

  &.#{$cls-prefix}muted {
    color: var(--text-color-muted);
  }

  &.#{$cls-prefix}active {
    &,
    &:hover,
    &:active {
      color: var(--text-color-active);
    }
  }

  &.#{$cls-prefix}hoverable {
    cursor: pointer;

    &:hover {
      color: var(--text-color-major-hover);
    }

    &:active {
      color: var(--text-color-major-active);
    }
  }

  &.#{$cls-prefix}disabled {
    color: var(--text-color-disabled);

    &[href] {
      pointer-events: none;
    }

    &:hover,
    &:active {
      color: var(--text-color-disabled);
      text-decoration: none;
    }

    &.#{$cls-prefix}hoverable {
      cursor: not-allowed;
    }
  }

  @each $intent in $intents {
    &.#{$cls-prefix}#{$intent} {
      color: var(--text-color-#{$intent}-base);

      &.#{$cls-prefix}muted {
        color: var(--text-color-#{$intent}-inactive);
      }

      &.#{$cls-prefix}hoverable {
        &:hover {
          color: var(--text-color-#{$intent}-hover);
        }

        &:active {
          color: var(--text-color-#{$intent}-active);
        }
      }

      &.#{$cls-prefix}active {
        &,
        &:hover,
        &:active {
          color: var(--text-color-#{$intent}-active);
        }
      }

      &.#{$cls-prefix}disabled {
        &,
        &:hover,
        &:active {
          color: var(--text-color-#{$intent}-disabled);
        }
      }
    }
  }
}

a.#{$cls-prefix}text.#{$cls-prefix}hoverable {
  &:hover,
  &:active {
    text-decoration: underline;
  }
}
