@import "@lilib/themes";

.#{$cls-prefix}badge {
  &-switcher {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include transition(fast, transform, opacity);
  }

  &.#{$cls-prefix}outlined {
    & > .#{$cls-prefix}badge-switcher {
      & > * {
        box-shadow: 0 0 0 2px var(--background-color-page);
      }
    }
  }

  &.#{$cls-prefix}standalone {
    display: inline-flex;
    @include transition(fast, transform, opacity);

    &.#{$cls-prefix}transition {
      &-enter,
      &-exit,
      &-exiting {
        transform: scale(0);
        opacity: 0;
      }
    }
  }

  &.#{$cls-prefix}contained {
    position: relative;
    display: inline-block;

    & > .#{$cls-prefix}badge-switcher {
      position: absolute;

      &-top-start {
        transform: translate(-50%, -50%);
      }

      &-top-end {
        transform: translate(50%, -50%);
      }

      &-bottom-start {
        transform: translate(-50%, 50%);
      }

      &-bottom-end {
        transform: translate(50%, 50%);
      }
    }

    &.#{$cls-prefix}transition {
      &-enter,
      &-exit,
      &-exiting {
        & > .#{$cls-prefix}badge-switcher {
          transform: scale(0);
          opacity: 0;

          &-top-start {
            transform: translate(-50%, -50%) scale(0);
          }

          &-top-end {
            transform: translate(50%, -50%) scale(0);
          }

          &-bottom-start {
            transform: translate(-50%, 50%) scale(0);
          }

          &-bottom-end {
            transform: translate(50%, 50%) scale(0);
          }
        }
      }

      &-exited {
        & > .#{$cls-prefix}badge-switcher {
          display: none;
        }
      }
    }
  }
}

.#{$cls-prefix}badge.#{$cls-prefix}rtl {
  &.#{$cls-prefix}contained {
    & > .#{$cls-prefix}badge-switcher {
      &-top-start {
        transform: translate(50%, -50%);
      }

      &-top-end {
        transform: translate(-50%, -50%);
      }

      &-bottom-start {
        transform: translate(50%, 50%);
      }

      &-bottom-end {
        transform: translate(-50%, 50%);
      }
    }

    &.#{$cls-prefix}transition {
      &-enter,
      &-exit,
      &-exiting {
        & > .#{$cls-prefix}badge-switcher {
          &-top-start {
            transform: translate(50%, -50%) scale(0);
          }

          &-top-end {
            transform: translate(-50%, -50%) scale(0);
          }

          &-bottom-start {
            transform: translate(50%, 50%) scale(0);
          }

          &-bottom-end {
            transform: translate(-50%, 50%) scale(0);
          }
        }
      }
    }
  }
}
