@import "@lilib/themes";

.#{$cls-prefix}checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: var(--font-size-base);
  vertical-align: middle;
  cursor: pointer;

  &-input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    appearance: none;
  }

  & > .#{$cls-prefix}spinner {
    flex: 0 0 auto;
  }

  &-indicator {
    position: relative;
    flex: 0 0 auto;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    border: 1px solid var(--border-color-base);
    border-radius: var(--border-radius-small);
  }

  &-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    line-height: 1;
    transform: scale(0.75);
  }

  &-label {
    flex: 1 1 auto;
    margin-left: 0.5em;
  }

  &.#{$cls-prefix}small {
    font-size: var(--font-size-small);
  }

  &.#{$cls-prefix}large {
    font-size: var(--font-size-large);
  }

  &:hover {
    & .#{$cls-prefix}checkbox-indicator {
      border-color: var(--bg-color-solid-major-base);
    }
  }

  &.#{$cls-prefix}checked {
    & .#{$cls-prefix}checkbox-indicator {
      color: var(--text-color-solid-base);
      background-color: var(--bg-color-solid-major-base);
      border-color: var(--bg-color-solid-major-base);
    }

    &:hover {
      & .#{$cls-prefix}checkbox-indicator {
        color: var(--text-color-solid-hover);
        background-color: var(--bg-color-solid-major-hover);
        border-color: var(--bg-color-solid-major-hover);
      }
    }

    &:active {
      & .#{$cls-prefix}checkbox-indicator {
        color: var(--text-color-solid-active);
        background-color: var(--bg-color-solid-major-active);
        border-color: var(--bg-color-solid-major-active);
      }
    }
  }

  &.#{$cls-prefix}loading {
    cursor: auto;
  }

  &.#{$cls-prefix}disabled {
    color: var(--text-color-disabled);
    cursor: not-allowed;

    & .#{$cls-prefix}checkbox-indicator {
      background-color: var(--bg-color-disabled);
      border-color: var(--border-color-inactive);
    }

    &.#{$cls-prefix}checked {
      & .#{$cls-prefix}checkbox-indicator {
        color: var(--text-color-solid-disabled);
        background-color: var(--bg-color-solid-major-disabled);
        border-color: var(--bg-color-solid-major-disabled);
      }
    }
  }
}

.#{$cls-prefix}checkbox.#{$cls-prefix}rtl {
  & .#{$cls-prefix}checkbox-label {
    margin-right: 0.5em;
    margin-left: 0;
  }
}
