@import "./palettes";
@import "../functions/light-color";
@import "../functions/shade-color";

$dark-base: $gray !default;
$dark-major: light-color($major, 20%) !default;
$dark-minor: light-color($minor, 20%) !default;
$dark-positive: light-color($positive, 20%) !default;
$dark-alertive: light-color($alertive, 20%) !default;
$dark-negative: light-color($negative, 20%) !default;

$dark-background-color-0: shade-color($dark-base, 80%);
$dark-background-color-1: shade-color($dark-base, 70%);
$dark-background-color-2: shade-color($dark-base, 60%);
$dark-background-color-3: shade-color($dark-base, 50%);
$dark-background-color-a1: rgba($dark-base, 0.2);
$dark-background-color-a2: rgba($dark-base, 0.3);

$dark-background-color-major-1: shade-color($dark-major, 70%);
$dark-background-color-major-2: shade-color($dark-major, 60%);
$dark-background-color-major-3: shade-color($dark-major, 50%);
$dark-background-color-major-a1: rgba($dark-major, 0.2);
$dark-background-color-major-a2: rgba($dark-major, 0.3);

$dark-background-color-minor-1: shade-color($dark-minor, 70%);
$dark-background-color-minor-2: shade-color($dark-minor, 60%);
$dark-background-color-minor-3: shade-color($dark-minor, 50%);
$dark-background-color-minor-a1: rgba($dark-minor, 0.2);
$dark-background-color-minor-a2: rgba($dark-minor, 0.3);

$dark-background-color-positive-1: shade-color($dark-positive, 70%);
$dark-background-color-positive-2: shade-color($dark-positive, 60%);
$dark-background-color-positive-3: shade-color($dark-positive, 50%);
$dark-background-color-positive-a1: rgba($dark-positive, 0.2);
$dark-background-color-positive-a2: rgba($dark-positive, 0.3);

$dark-background-color-alertive-1: shade-color($dark-alertive, 70%);
$dark-background-color-alertive-2: shade-color($dark-alertive, 60%);
$dark-background-color-alertive-3: shade-color($dark-alertive, 50%);
$dark-background-color-alertive-a1: rgba($dark-alertive, 0.2);
$dark-background-color-alertive-a2: rgba($dark-alertive, 0.3);

$dark-background-color-negative-1: shade-color($dark-negative, 70%);
$dark-background-color-negative-2: shade-color($dark-negative, 60%);
$dark-background-color-negative-3: shade-color($dark-negative, 50%);
$dark-background-color-negative-a1: rgba($dark-negative, 0.2);
$dark-background-color-negative-a2: rgba($dark-negative, 0.3);

$dark-text-color-base: light-color($dark-base, 70%) !default;
$dark-text-color-muted: light-color($dark-base, 15%) !default;
$dark-text-color-hover: light-color($dark-base, 85%) !default;
$dark-text-color-active: $white !default;
$dark-text-color-inactive: shade-color($dark-base, 15%) !default;
$dark-text-color-disabled: shade-color($dark-base, 30%) !default;

$dark-text-color-solid-base: rgba($black, 0.8) !default;
$dark-text-color-solid-hover: rgba($black, 0.9) !default;
$dark-text-color-solid-active: $black !default;
$dark-text-color-solid-inactive: rgba($black, 0.45) !default;
$dark-text-color-solid-disabled: rgba($black, 0.45) !default;

$dark-text-color-reverse-base: rgba($black, 0.8) !default;
$dark-text-color-reverse-hover: rgba($black, 0.9) !default;
$dark-text-color-reverse-active: $black !default;
$dark-text-color-reverse-inactive: rgba($black, 0.45) !default;
$dark-text-color-reverse-disabled: rgba($black, 0.45) !default;

$dark-text-color-major-base: $dark-major !default;
$dark-text-color-major-hover: light-color($dark-major, 20%) !default;
$dark-text-color-major-active: light-color($dark-major, 40%) !default;
$dark-text-color-major-inactive: shade-color($dark-major, 20%) !default;
$dark-text-color-major-disabled: shade-color($dark-major, 40%) !default;

$dark-text-color-minor-base: $dark-minor !default;
$dark-text-color-minor-hover: light-color($dark-minor, 20%) !default;
$dark-text-color-minor-active: light-color($dark-minor, 40%) !default;
$dark-text-color-minor-inactive: shade-color($dark-minor, 20%) !default;
$dark-text-color-minor-disabled: shade-color($dark-minor, 40%) !default;

$dark-text-color-positive-base: $dark-positive !default;
$dark-text-color-positive-hover: light-color($dark-positive, 20%) !default;
$dark-text-color-positive-active: light-color($dark-positive, 40%) !default;
$dark-text-color-positive-inactive: shade-color($dark-positive, 20%) !default;
$dark-text-color-positive-disabled: shade-color($dark-positive, 40%) !default;

$dark-text-color-alertive-base: $dark-alertive !default;
$dark-text-color-alertive-hover: light-color($dark-alertive, 20%) !default;
$dark-text-color-alertive-active: light-color($dark-alertive, 40%) !default;
$dark-text-color-alertive-inactive: shade-color($dark-alertive, 20%) !default;
$dark-text-color-alertive-disabled: shade-color($dark-alertive, 40%) !default;

$dark-text-color-negative-base: $dark-negative !default;
$dark-text-color-negative-hover: light-color($dark-negative, 20%) !default;
$dark-text-color-negative-active: light-color($dark-negative, 40%) !default;
$dark-text-color-negative-inactive: shade-color($dark-negative, 20%) !default;
$dark-text-color-negative-disabled: shade-color($dark-negative, 40%) !default;

$dark-border-color-base: shade-color($dark-base, 40%) !default;
$dark-border-color-hover: shade-color($dark-base, 30%) !default;
$dark-border-color-active: shade-color($dark-base, 20%) !default;
$dark-border-color-inactive: shade-color($dark-base, 50%) !default;
$dark-border-color-disabled: shade-color($dark-base, 60%) !default;

$dark-border-color-major-base: shade-color($dark-major, 40%) !default;
$dark-border-color-major-hover: shade-color($dark-major, 30%) !default;
$dark-border-color-major-active: shade-color($dark-major, 20%) !default;
$dark-border-color-major-inactive: shade-color($dark-major, 50%) !default;
$dark-border-color-major-disabled: shade-color($dark-major, 60%) !default;

$dark-border-color-minor-base: shade-color($dark-minor, 40%) !default;
$dark-border-color-minor-hover: shade-color($dark-minor, 30%) !default;
$dark-border-color-minor-active: shade-color($dark-minor, 20%) !default;
$dark-border-color-minor-inactive: shade-color($dark-minor, 50%) !default;
$dark-border-color-minor-disabled: shade-color($dark-minor, 60%) !default;

$dark-border-color-positive-base: shade-color($dark-positive, 40%) !default;
$dark-border-color-positive-hover: shade-color($dark-positive, 30%) !default;
$dark-border-color-positive-active: shade-color($dark-positive, 20%) !default;
$dark-border-color-positive-inactive: shade-color($dark-positive, 50%) !default;
$dark-border-color-positive-disabled: shade-color($dark-positive, 60%) !default;

$dark-border-color-alertive-base: shade-color($dark-alertive, 40%) !default;
$dark-border-color-alertive-hover: shade-color($dark-alertive, 30%) !default;
$dark-border-color-alertive-active: shade-color($dark-alertive, 20%) !default;
$dark-border-color-alertive-inactive: shade-color($dark-alertive, 50%) !default;
$dark-border-color-alertive-disabled: shade-color($dark-alertive, 60%) !default;

$dark-border-color-negative-base: shade-color($dark-negative, 40%) !default;
$dark-border-color-negative-hover: shade-color($dark-negative, 30%) !default;
$dark-border-color-negative-active: shade-color($dark-negative, 20%) !default;
$dark-border-color-negative-inactive: shade-color($dark-negative, 50%) !default;
$dark-border-color-negative-disabled: shade-color($dark-negative, 60%) !default;
