@import "./palettes";
@import "./light";
@import "../functions/light-color";
@import "../functions/shade-color";

$dark-basis: $basis !default;
$dark-major: light-color($major, 20%) !default;
$dark-minor: light-color($minor, 20%) !default;
$dark-positive: light-color($positive, 20%) !default;
$dark-alertive: light-color($alertive, 20%) !default;
$dark-negative: light-color($negative, 20%) !default;

$dark-basis-a1: rgba($dark-basis, 0.2) !default;
$dark-basis-a2: rgba($dark-basis, 0.29) !default;
$dark-basis-a3: rgba($dark-basis, 0.38) !default;
$dark-basis-a4: rgba($dark-basis, 0.47) !default;
$dark-basis-a5: rgba($dark-basis, 0.56) !default;
$dark-basis-a6: rgba($dark-basis, 0.65) !default;
$dark-basis-a7: rgba($dark-basis, 0.74) !default;
$dark-basis-a8: rgba($dark-basis, 0.83) !default;
$dark-basis-a9: rgba($dark-basis, 0.92) !default;

$dark-basis-l1: shade-color($dark-basis, 90%) !default;
$dark-basis-l2: shade-color($dark-basis, 80%) !default;
$dark-basis-l3: shade-color($dark-basis, 70%) !default;
$dark-basis-l4: shade-color($dark-basis, 60%) !default;
$dark-basis-l5: shade-color($dark-basis, 50%) !default;
$dark-basis-l6: shade-color($dark-basis, 40%) !default;
$dark-basis-l7: shade-color($dark-basis, 30%) !default;
$dark-basis-l8: shade-color($dark-basis, 20%) !default;
$dark-basis-l9: shade-color($dark-basis, 10%) !default;

$dark-basis-s1: light-color($dark-basis, 10%) !default;
$dark-basis-s2: light-color($dark-basis, 20%) !default;
$dark-basis-s3: light-color($dark-basis, 30%) !default;
$dark-basis-s4: light-color($dark-basis, 40%) !default;
$dark-basis-s5: light-color($dark-basis, 50%) !default;
$dark-basis-s6: light-color($dark-basis, 60%) !default;
$dark-basis-s7: light-color($dark-basis, 70%) !default;
$dark-basis-s8: light-color($dark-basis, 80%) !default;
$dark-basis-s9: light-color($dark-basis, 90%) !default;

$dark-major-a1: rgba($dark-major, 0.2) !default;
$dark-major-a2: rgba($dark-major, 0.29) !default;
$dark-major-a3: rgba($dark-major, 0.38) !default;
$dark-major-a4: rgba($dark-major, 0.47) !default;
$dark-major-a5: rgba($dark-major, 0.56) !default;
$dark-major-a6: rgba($dark-major, 0.65) !default;
$dark-major-a7: rgba($dark-major, 0.74) !default;
$dark-major-a8: rgba($dark-major, 0.83) !default;
$dark-major-a9: rgba($dark-major, 0.92) !default;

$dark-major-l1: shade-color($dark-major, 90%) !default;
$dark-major-l2: shade-color($dark-major, 80%) !default;
$dark-major-l3: shade-color($dark-major, 70%) !default;
$dark-major-l4: shade-color($dark-major, 60%) !default;
$dark-major-l5: shade-color($dark-major, 50%) !default;
$dark-major-l6: shade-color($dark-major, 40%) !default;
$dark-major-l7: shade-color($dark-major, 30%) !default;
$dark-major-l8: shade-color($dark-major, 20%) !default;
$dark-major-l9: shade-color($dark-major, 10%) !default;

$dark-major-s1: light-color($dark-major, 10%) !default;
$dark-major-s2: light-color($dark-major, 20%) !default;
$dark-major-s3: light-color($dark-major, 30%) !default;
$dark-major-s4: light-color($dark-major, 40%) !default;
$dark-major-s5: light-color($dark-major, 50%) !default;
$dark-major-s6: light-color($dark-major, 60%) !default;
$dark-major-s7: light-color($dark-major, 70%) !default;
$dark-major-s8: light-color($dark-major, 80%) !default;
$dark-major-s9: light-color($dark-major, 90%) !default;

$dark-minor-a1: rgba($dark-minor, 0.2) !default;
$dark-minor-a2: rgba($dark-minor, 0.29) !default;
$dark-minor-a3: rgba($dark-minor, 0.38) !default;
$dark-minor-a4: rgba($dark-minor, 0.47) !default;
$dark-minor-a5: rgba($dark-minor, 0.56) !default;
$dark-minor-a6: rgba($dark-minor, 0.65) !default;
$dark-minor-a7: rgba($dark-minor, 0.74) !default;
$dark-minor-a8: rgba($dark-minor, 0.83) !default;
$dark-minor-a9: rgba($dark-minor, 0.92) !default;

$dark-minor-l1: shade-color($dark-minor, 90%) !default;
$dark-minor-l2: shade-color($dark-minor, 80%) !default;
$dark-minor-l3: shade-color($dark-minor, 70%) !default;
$dark-minor-l4: shade-color($dark-minor, 60%) !default;
$dark-minor-l5: shade-color($dark-minor, 50%) !default;
$dark-minor-l6: shade-color($dark-minor, 40%) !default;
$dark-minor-l7: shade-color($dark-minor, 30%) !default;
$dark-minor-l8: shade-color($dark-minor, 20%) !default;
$dark-minor-l9: shade-color($dark-minor, 10%) !default;

$dark-minor-s1: light-color($dark-minor, 10%) !default;
$dark-minor-s2: light-color($dark-minor, 20%) !default;
$dark-minor-s3: light-color($dark-minor, 30%) !default;
$dark-minor-s4: light-color($dark-minor, 40%) !default;
$dark-minor-s5: light-color($dark-minor, 50%) !default;
$dark-minor-s6: light-color($dark-minor, 60%) !default;
$dark-minor-s7: light-color($dark-minor, 70%) !default;
$dark-minor-s8: light-color($dark-minor, 80%) !default;
$dark-minor-s9: light-color($dark-minor, 90%) !default;

$dark-positive-a1: rgba($dark-positive, 0.2) !default;
$dark-positive-a2: rgba($dark-positive, 0.29) !default;
$dark-positive-a3: rgba($dark-positive, 0.38) !default;
$dark-positive-a4: rgba($dark-positive, 0.47) !default;
$dark-positive-a5: rgba($dark-positive, 0.56) !default;
$dark-positive-a6: rgba($dark-positive, 0.65) !default;
$dark-positive-a7: rgba($dark-positive, 0.74) !default;
$dark-positive-a8: rgba($dark-positive, 0.83) !default;
$dark-positive-a9: rgba($dark-positive, 0.92) !default;

$dark-positive-l1: shade-color($dark-positive, 90%) !default;
$dark-positive-l2: shade-color($dark-positive, 80%) !default;
$dark-positive-l3: shade-color($dark-positive, 70%) !default;
$dark-positive-l4: shade-color($dark-positive, 60%) !default;
$dark-positive-l5: shade-color($dark-positive, 50%) !default;
$dark-positive-l6: shade-color($dark-positive, 40%) !default;
$dark-positive-l7: shade-color($dark-positive, 30%) !default;
$dark-positive-l8: shade-color($dark-positive, 20%) !default;
$dark-positive-l9: shade-color($dark-positive, 10%) !default;

$dark-positive-s1: light-color($dark-positive, 10%) !default;
$dark-positive-s2: light-color($dark-positive, 20%) !default;
$dark-positive-s3: light-color($dark-positive, 30%) !default;
$dark-positive-s4: light-color($dark-positive, 40%) !default;
$dark-positive-s5: light-color($dark-positive, 50%) !default;
$dark-positive-s6: light-color($dark-positive, 60%) !default;
$dark-positive-s7: light-color($dark-positive, 70%) !default;
$dark-positive-s8: light-color($dark-positive, 80%) !default;
$dark-positive-s9: light-color($dark-positive, 90%) !default;

$dark-alertive-a1: rgba($dark-alertive, 0.2) !default;
$dark-alertive-a2: rgba($dark-alertive, 0.29) !default;
$dark-alertive-a3: rgba($dark-alertive, 0.38) !default;
$dark-alertive-a4: rgba($dark-alertive, 0.47) !default;
$dark-alertive-a5: rgba($dark-alertive, 0.56) !default;
$dark-alertive-a6: rgba($dark-alertive, 0.65) !default;
$dark-alertive-a7: rgba($dark-alertive, 0.74) !default;
$dark-alertive-a8: rgba($dark-alertive, 0.83) !default;
$dark-alertive-a9: rgba($dark-alertive, 0.92) !default;

$dark-alertive-l1: shade-color($dark-alertive, 90%) !default;
$dark-alertive-l2: shade-color($dark-alertive, 80%) !default;
$dark-alertive-l3: shade-color($dark-alertive, 70%) !default;
$dark-alertive-l4: shade-color($dark-alertive, 60%) !default;
$dark-alertive-l5: shade-color($dark-alertive, 50%) !default;
$dark-alertive-l6: shade-color($dark-alertive, 40%) !default;
$dark-alertive-l7: shade-color($dark-alertive, 30%) !default;
$dark-alertive-l8: shade-color($dark-alertive, 20%) !default;
$dark-alertive-l9: shade-color($dark-alertive, 10%) !default;

$dark-alertive-s1: light-color($dark-alertive, 10%) !default;
$dark-alertive-s2: light-color($dark-alertive, 20%) !default;
$dark-alertive-s3: light-color($dark-alertive, 30%) !default;
$dark-alertive-s4: light-color($dark-alertive, 40%) !default;
$dark-alertive-s5: light-color($dark-alertive, 50%) !default;
$dark-alertive-s6: light-color($dark-alertive, 60%) !default;
$dark-alertive-s7: light-color($dark-alertive, 70%) !default;
$dark-alertive-s8: light-color($dark-alertive, 80%) !default;
$dark-alertive-s9: light-color($dark-alertive, 90%) !default;

$dark-negative-a1: rgba($dark-negative, 0.2) !default;
$dark-negative-a2: rgba($dark-negative, 0.29) !default;
$dark-negative-a3: rgba($dark-negative, 0.38) !default;
$dark-negative-a4: rgba($dark-negative, 0.47) !default;
$dark-negative-a5: rgba($dark-negative, 0.56) !default;
$dark-negative-a6: rgba($dark-negative, 0.65) !default;
$dark-negative-a7: rgba($dark-negative, 0.74) !default;
$dark-negative-a8: rgba($dark-negative, 0.83) !default;
$dark-negative-a9: rgba($dark-negative, 0.92) !default;

$dark-negative-l1: shade-color($dark-negative, 90%) !default;
$dark-negative-l2: shade-color($dark-negative, 80%) !default;
$dark-negative-l3: shade-color($dark-negative, 70%) !default;
$dark-negative-l4: shade-color($dark-negative, 60%) !default;
$dark-negative-l5: shade-color($dark-negative, 50%) !default;
$dark-negative-l6: shade-color($dark-negative, 40%) !default;
$dark-negative-l7: shade-color($dark-negative, 30%) !default;
$dark-negative-l8: shade-color($dark-negative, 20%) !default;
$dark-negative-l9: shade-color($dark-negative, 10%) !default;

$dark-negative-s1: light-color($dark-negative, 10%) !default;
$dark-negative-s2: light-color($dark-negative, 20%) !default;
$dark-negative-s3: light-color($dark-negative, 30%) !default;
$dark-negative-s4: light-color($dark-negative, 40%) !default;
$dark-negative-s5: light-color($dark-negative, 50%) !default;
$dark-negative-s6: light-color($dark-negative, 60%) !default;
$dark-negative-s7: light-color($dark-negative, 70%) !default;
$dark-negative-s8: light-color($dark-negative, 80%) !default;
$dark-negative-s9: light-color($dark-negative, 90%) !default;

$dark-bg-color-body: $dark-basis-l2 !default;
$dark-bg-color-page: $dark-basis-l3 !default;
$dark-bg-color-card: $dark-basis-l3 !default;
$dark-bg-color-side: $dark-basis-l4 !default;
$dark-bg-color-head: $dark-basis-l5 !default;
$dark-bg-color-popup: $dark-basis-l3 !default;
$dark-bg-color-tooltip: $black-a8 !default;
$dark-bg-color-backdrop: $black-a8 !default;

$dark-bg-color-base: $dark-basis-l3 !default;
$dark-bg-color-hover: $dark-basis-l4 !default;
$dark-bg-color-active: $dark-basis-l5 !default;
$dark-bg-color-inactive: $dark-basis-l4 !default;
$dark-bg-color-disabled: $dark-basis-l3 !default;

$dark-bg-color-deep-base: $dark-basis-l6 !default;
$dark-bg-color-deep-hover: $dark-basis-l7 !default;
$dark-bg-color-deep-active: $dark-basis-l8 !default;
$dark-bg-color-deep-inactive: $dark-basis-l5 !default;
$dark-bg-color-deep-disabled: $dark-basis-l4 !default;

$dark-bg-color-solid-base: $dark-basis-s6 !default;
$dark-bg-color-solid-hover: $dark-basis-s7 !default;
$dark-bg-color-solid-active: $dark-basis-s8 !default;
$dark-bg-color-solid-inactive: $dark-basis !default;
$dark-bg-color-solid-disabled: $dark-basis-l8 !default;

$dark-bg-color-major-base: $dark-major-l3 !default;
$dark-bg-color-major-hover: $dark-major-l4 !default;
$dark-bg-color-major-active: $dark-major-l5 !default;
$dark-bg-color-major-inactive: $dark-major-l4 !default;
$dark-bg-color-major-disabled: $dark-major-l3 !default;

$dark-bg-color-minor-base: $dark-minor-l3 !default;
$dark-bg-color-minor-hover: $dark-minor-l4 !default;
$dark-bg-color-minor-active: $dark-minor-l5 !default;
$dark-bg-color-minor-inactive: $dark-minor-l4 !default;
$dark-bg-color-minor-disabled: $dark-minor-l3 !default;

$dark-bg-color-positive-base: $dark-positive-l3 !default;
$dark-bg-color-positive-hover: $dark-positive-l4 !default;
$dark-bg-color-positive-active: $dark-positive-l5 !default;
$dark-bg-color-positive-inactive: $dark-positive-l4 !default;
$dark-bg-color-positive-disabled: $dark-positive-l3 !default;

$dark-bg-color-alertive-base: $dark-alertive-l3 !default;
$dark-bg-color-alertive-hover: $dark-alertive-l4 !default;
$dark-bg-color-alertive-active: $dark-alertive-l5 !default;
$dark-bg-color-alertive-inactive: $dark-alertive-l4 !default;
$dark-bg-color-alertive-disabled: $dark-alertive-l3 !default;

$dark-bg-color-negative-base: $dark-negative-l3 !default;
$dark-bg-color-negative-hover: $dark-negative-l4 !default;
$dark-bg-color-negative-active: $dark-negative-l5 !default;
$dark-bg-color-negative-inactive: $dark-negative-l4 !default;
$dark-bg-color-negative-disabled: $dark-negative-l3 !default;

$dark-bg-color-solid-major-base: $dark-major !default;
$dark-bg-color-solid-major-hover: $dark-major-s1 !default;
$dark-bg-color-solid-major-active: $dark-major-s2 !default;
$dark-bg-color-solid-major-inactive: $dark-major-l8 !default;
$dark-bg-color-solid-major-disabled: $dark-major-l6 !default;

$dark-bg-color-solid-minor-base: $dark-minor !default;
$dark-bg-color-solid-minor-hover: $dark-minor-s1 !default;
$dark-bg-color-solid-minor-active: $dark-minor-s2 !default;
$dark-bg-color-solid-minor-inactive: $dark-minor-l8 !default;
$dark-bg-color-solid-minor-disabled: $dark-minor-l6 !default;

$dark-bg-color-solid-positive-base: $dark-positive !default;
$dark-bg-color-solid-positive-hover: $dark-positive-s1 !default;
$dark-bg-color-solid-positive-active: $dark-positive-s2 !default;
$dark-bg-color-solid-positive-inactive: $dark-positive-l8 !default;
$dark-bg-color-solid-positive-disabled: $dark-positive-l6 !default;

$dark-bg-color-solid-alertive-base: $dark-alertive !default;
$dark-bg-color-solid-alertive-hover: $dark-alertive-s1 !default;
$dark-bg-color-solid-alertive-active: $dark-alertive-s2 !default;
$dark-bg-color-solid-alertive-inactive: $dark-alertive-l8 !default;
$dark-bg-color-solid-alertive-disabled: $dark-alertive-l6 !default;

$dark-bg-color-solid-negative-base: $dark-negative !default;
$dark-bg-color-solid-negative-hover: $dark-negative-s1 !default;
$dark-bg-color-solid-negative-active: $dark-negative-s2 !default;
$dark-bg-color-solid-negative-inactive: $dark-negative-l8 !default;
$dark-bg-color-solid-negative-disabled: $dark-negative-l6 !default;

$dark-bg-color-hollow-soft: $dark-basis-a1;
$dark-bg-color-hollow-deep: $dark-basis-a2;
$dark-bg-color-hollow-major-soft: $dark-major-a1;
$dark-bg-color-hollow-major-deep: $dark-major-a2;
$dark-bg-color-hollow-minor-soft: $dark-minor-a1;
$dark-bg-color-hollow-minor-deep: $dark-minor-a2;
$dark-bg-color-hollow-positive-soft: $dark-positive-a1;
$dark-bg-color-hollow-positive-deep: $dark-positive-a2;
$dark-bg-color-hollow-alertive-soft: $dark-alertive-a1;
$dark-bg-color-hollow-alertive-deep: $dark-alertive-a2;
$dark-bg-color-hollow-negative-soft: $dark-negative-a1;
$dark-bg-color-hollow-negative-deep: $dark-negative-a2;

$dark-text-color-base: $dark-basis-s7 !default;
$dark-text-color-muted: $dark-basis-s2 !default;
$dark-text-color-hover: $dark-basis-s9 !default;
$dark-text-color-active: $white !default;
$dark-text-color-inactive: $dark-basis-l9 !default;
$dark-text-color-disabled: $dark-basis-l7 !default;

$dark-text-color-solid-base: $black !default;
$dark-text-color-solid-hover: $black !default;
$dark-text-color-solid-active: $black !default;
$dark-text-color-solid-inactive: $black-a5 !default;
$dark-text-color-solid-disabled: $black-a5 !default;

$dark-text-color-reverse-base: $black !default;
$dark-text-color-reverse-hover: $black !default;
$dark-text-color-reverse-active: $black !default;
$dark-text-color-reverse-inactive: $black-a5 !default;
$dark-text-color-reverse-disabled: $black-a5 !default;

$dark-text-color-major-base: $dark-major !default;
$dark-text-color-major-hover: $dark-major-s2 !default;
$dark-text-color-major-active: $dark-major-s4 !default;
$dark-text-color-major-inactive: $dark-major-l8 !default;
$dark-text-color-major-disabled: $dark-major-l6 !default;

$dark-text-color-minor-base: $dark-minor !default;
$dark-text-color-minor-hover: $dark-minor-s2 !default;
$dark-text-color-minor-active: $dark-minor-s4 !default;
$dark-text-color-minor-inactive: $dark-minor-l8 !default;
$dark-text-color-minor-disabled: $dark-minor-l6 !default;

$dark-text-color-positive-base: $dark-positive !default;
$dark-text-color-positive-hover: $dark-positive-s2 !default;
$dark-text-color-positive-active: $dark-positive-s4 !default;
$dark-text-color-positive-inactive: $dark-positive-l8 !default;
$dark-text-color-positive-disabled: $dark-positive-l6 !default;

$dark-text-color-alertive-base: $dark-alertive !default;
$dark-text-color-alertive-hover: $dark-alertive-s2 !default;
$dark-text-color-alertive-active: $dark-alertive-s4 !default;
$dark-text-color-alertive-inactive: $dark-alertive-l8 !default;
$dark-text-color-alertive-disabled: $dark-alertive-l6 !default;

$dark-text-color-negative-base: $dark-negative !default;
$dark-text-color-negative-hover: $dark-negative-s2 !default;
$dark-text-color-negative-active: $dark-negative-s4 !default;
$dark-text-color-negative-inactive: $dark-negative-l8 !default;
$dark-text-color-negative-disabled: $dark-negative-l6 !default;

$dark-border-color-base: $dark-basis-l6 !default;
$dark-border-color-hover: $dark-basis-l7 !default;
$dark-border-color-active: $dark-basis-l8 !default;
$dark-border-color-inactive: $dark-basis-l5 !default;
$dark-border-color-disabled: $dark-basis-l4 !default;

$dark-border-color-deep-base: $dark-basis-l8 !default;
$dark-border-color-deep-hover: $dark-basis-l9 !default;
$dark-border-color-deep-active: $dark-basis !default;
$dark-border-color-deep-inactive: $dark-basis-l7 !default;
$dark-border-color-deep-disabled: $dark-basis-l6 !default;

$dark-border-color-solid-base: $dark-basis-s8 !default;
$dark-border-color-solid-hover: $dark-basis-s9 !default;
$dark-border-color-solid-active: $white !default;
$dark-border-color-solid-inactive: $dark-basis-s2 !default;
$dark-border-color-solid-disabled: $dark-basis !default;

$dark-border-color-major-base: $dark-major-l6 !default;
$dark-border-color-major-hover: $dark-major-l7 !default;
$dark-border-color-major-active: $dark-major-l8 !default;
$dark-border-color-major-inactive: $dark-major-l5 !default;
$dark-border-color-major-disabled: $dark-major-l4 !default;

$dark-border-color-minor-base: $dark-minor-l6 !default;
$dark-border-color-minor-hover: $dark-minor-l7 !default;
$dark-border-color-minor-active: $dark-minor-l8 !default;
$dark-border-color-minor-inactive: $dark-minor-l5 !default;
$dark-border-color-minor-disabled: $dark-minor-l4 !default;

$dark-border-color-positive-base: $dark-positive-l6 !default;
$dark-border-color-positive-hover: $dark-positive-l7 !default;
$dark-border-color-positive-active: $dark-positive-l8 !default;
$dark-border-color-positive-inactive: $dark-positive-l5 !default;
$dark-border-color-positive-disabled: $dark-positive-l4 !default;

$dark-border-color-alertive-base: $dark-alertive-l6 !default;
$dark-border-color-alertive-hover: $dark-alertive-l7 !default;
$dark-border-color-alertive-active: $dark-alertive-l8 !default;
$dark-border-color-alertive-inactive: $dark-alertive-l5 !default;
$dark-border-color-alertive-disabled: $dark-alertive-l4 !default;

$dark-border-color-negative-base: $dark-negative-l6 !default;
$dark-border-color-negative-hover: $dark-negative-l7 !default;
$dark-border-color-negative-active: $dark-negative-l8 !default;
$dark-border-color-negative-inactive: $dark-negative-l5 !default;
$dark-border-color-negative-disabled: $dark-negative-l4 !default;

$dark-border-color-solid-major-base: $dark-major-s3 !default;
$dark-border-color-solid-major-hover: $dark-major-s4 !default;
$dark-border-color-solid-major-active: $dark-major-s5 !default;
$dark-border-color-solid-major-inactive: $dark-major !default;
$dark-border-color-solid-major-disabled: $dark-major-l8 !default;

$dark-border-color-solid-minor-base: $dark-minor-s3 !default;
$dark-border-color-solid-minor-hover: $dark-minor-s4 !default;
$dark-border-color-solid-minor-active: $dark-minor-s5 !default;
$dark-border-color-solid-minor-inactive: $dark-minor !default;
$dark-border-color-solid-minor-disabled: $dark-minor-l8 !default;

$dark-border-color-solid-positive-base: $dark-positive-s3 !default;
$dark-border-color-solid-positive-hover: $dark-positive-s4 !default;
$dark-border-color-solid-positive-active: $dark-positive-s5 !default;
$dark-border-color-solid-positive-inactive: $dark-positive !default;
$dark-border-color-solid-positive-disabled: $dark-positive-l8 !default;

$dark-border-color-solid-alertive-base: $dark-alertive-s3 !default;
$dark-border-color-solid-alertive-hover: $dark-alertive-s4 !default;
$dark-border-color-solid-alertive-active: $dark-alertive-s5 !default;
$dark-border-color-solid-alertive-inactive: $dark-alertive !default;
$dark-border-color-solid-alertive-disabled: $dark-alertive-l8 !default;

$dark-border-color-solid-negative-base: $dark-negative-s3 !default;
$dark-border-color-solid-negative-hover: $dark-negative-s4 !default;
$dark-border-color-solid-negative-active: $dark-negative-s5 !default;
$dark-border-color-solid-negative-inactive: $dark-negative !default;
$dark-border-color-solid-negative-disabled: $dark-negative-l8 !default;
