@import "./light-palettes";
@import "../functions/light-color";
@import "../functions/shade-color";

$dark-red: $red !default;
$dark-magenta: $magenta !default;
$dark-purple: $purple !default;
$dark-indigo: $indigo !default;
$dark-navy: $navy !default;
$dark-blue: $blue !default;
$dark-cyan: $cyan !default;
$dark-teal: $teal !default;
$dark-green: $green !default;
$dark-lime: $lime !default;
$dark-yellow: $yellow !default;
$dark-orange: $orange !default;
$dark-brown: $brown !default;
$dark-gray: $gray !default;

$dark-red-rgb: red($dark-red) green($dark-red) blue($dark-red) !default;
$dark-magenta-rgb: red($dark-magenta) green($dark-magenta) blue($dark-magenta) !default;
$dark-purple-rgb: red($dark-purple) green($dark-purple) blue($dark-purple) !default;
$dark-indigo-rgb: red($dark-indigo) green($dark-indigo) blue($dark-indigo) !default;
$dark-navy-rgb: red($dark-navy) green($dark-navy) blue($dark-navy) !default;
$dark-blue-rgb: red($dark-blue) green($dark-blue) blue($dark-blue) !default;
$dark-cyan-rgb: red($dark-cyan) green($dark-cyan) blue($dark-cyan) !default;
$dark-teal-rgb: red($dark-teal) green($dark-teal) blue($dark-teal) !default;
$dark-green-rgb: red($dark-green) green($dark-green) blue($dark-green) !default;
$dark-lime-rgb: red($dark-lime) green($dark-lime) blue($dark-lime) !default;
$dark-yellow-rgb: red($dark-yellow) green($dark-yellow) blue($dark-yellow) !default;
$dark-orange-rgb: red($dark-orange) green($dark-orange) blue($dark-orange) !default;
$dark-brown-rgb: red($dark-brown) green($dark-brown) blue($dark-brown) !default;
$dark-gray-rgb: red($dark-gray) green($dark-gray) blue($dark-gray) !default;

$dark-basis: $basis !default;
$dark-major: $major !default;
$dark-minor: $minor !default;
$dark-positive: $positive !default;
$dark-alertive: $alertive !default;
$dark-negative: $negative !default;

$dark-basis-rgb: red($dark-basis) green($dark-basis) blue($dark-basis) !default;
$dark-major-rgb: red($dark-major) green($dark-major) blue($dark-major) !default;
$dark-minor-rgb: red($dark-minor) green($dark-minor) blue($dark-minor) !default;
$dark-positive-rgb: red($dark-positive) green($dark-positive) blue($dark-positive) !default;
$dark-alertive-rgb: red($dark-alertive) green($dark-alertive) blue($dark-alertive) !default;
$dark-negative-rgb: red($dark-negative) green($dark-negative) blue($dark-negative) !default;

$dark-basis-0: shade-color($dark-basis, 70%) !default;
$dark-basis-1: shade-color($dark-basis, 60%) !default;
$dark-basis-2: shade-color($dark-basis, 45%) !default;
$dark-basis-3: shade-color($dark-basis, 30%) !default;
$dark-basis-4: shade-color($dark-basis, 15%) !default;
$dark-basis-5: $dark-basis !default;
$dark-basis-6: light-color($dark-basis, 15%) !default;
$dark-basis-7: light-color($dark-basis, 30%) !default;
$dark-basis-8: light-color($dark-basis, 45%) !default;
$dark-basis-9: light-color($dark-basis, 60%) !default;

$dark-major-0: shade-color($dark-major, 70%) !default;
$dark-major-1: shade-color($dark-major, 60%) !default;
$dark-major-2: shade-color($dark-major, 45%) !default;
$dark-major-3: shade-color($dark-major, 30%) !default;
$dark-major-4: shade-color($dark-major, 15%) !default;
$dark-major-5: $dark-major !default;
$dark-major-6: light-color($dark-major, 15%) !default;
$dark-major-7: light-color($dark-major, 30%) !default;
$dark-major-8: light-color($dark-major, 45%) !default;
$dark-major-9: light-color($dark-major, 60%) !default;

$dark-minor-0: shade-color($dark-minor, 70%) !default;
$dark-minor-1: shade-color($dark-minor, 60%) !default;
$dark-minor-2: shade-color($dark-minor, 45%) !default;
$dark-minor-3: shade-color($dark-minor, 30%) !default;
$dark-minor-4: shade-color($dark-minor, 15%) !default;
$dark-minor-5: $dark-minor !default;
$dark-minor-6: light-color($dark-minor, 15%) !default;
$dark-minor-7: light-color($dark-minor, 30%) !default;
$dark-minor-8: light-color($dark-minor, 45%) !default;
$dark-minor-9: light-color($dark-minor, 60%) !default;

$dark-positive-0: shade-color($dark-positive, 70%) !default;
$dark-positive-1: shade-color($dark-positive, 60%) !default;
$dark-positive-2: shade-color($dark-positive, 45%) !default;
$dark-positive-3: shade-color($dark-positive, 30%) !default;
$dark-positive-4: shade-color($dark-positive, 15%) !default;
$dark-positive-5: $dark-positive !default;
$dark-positive-6: light-color($dark-positive, 15%) !default;
$dark-positive-7: light-color($dark-positive, 30%) !default;
$dark-positive-8: light-color($dark-positive, 45%) !default;
$dark-positive-9: light-color($dark-positive, 60%) !default;

$dark-alertive-0: shade-color($dark-alertive, 70%) !default;
$dark-alertive-1: shade-color($dark-alertive, 60%) !default;
$dark-alertive-2: shade-color($dark-alertive, 45%) !default;
$dark-alertive-3: shade-color($dark-alertive, 30%) !default;
$dark-alertive-4: shade-color($dark-alertive, 15%) !default;
$dark-alertive-5: $dark-alertive !default;
$dark-alertive-6: light-color($dark-alertive, 15%) !default;
$dark-alertive-7: light-color($dark-alertive, 30%) !default;
$dark-alertive-8: light-color($dark-alertive, 45%) !default;
$dark-alertive-9: light-color($dark-alertive, 60%) !default;

$dark-negative-0: shade-color($dark-negative, 70%) !default;
$dark-negative-1: shade-color($dark-negative, 60%) !default;
$dark-negative-2: shade-color($dark-negative, 45%) !default;
$dark-negative-3: shade-color($dark-negative, 30%) !default;
$dark-negative-4: shade-color($dark-negative, 15%) !default;
$dark-negative-5: $dark-negative !default;
$dark-negative-6: light-color($dark-negative, 15%) !default;
$dark-negative-7: light-color($dark-negative, 30%) !default;
$dark-negative-8: light-color($dark-negative, 45%) !default;
$dark-negative-9: light-color($dark-negative, 60%) !default;

$dark-red-0: shade-color($dark-red, 70%) !default;
$dark-red-1: shade-color($dark-red, 60%) !default;
$dark-red-2: shade-color($dark-red, 45%) !default;
$dark-red-3: shade-color($dark-red, 30%) !default;
$dark-red-4: shade-color($dark-red, 15%) !default;
$dark-red-5: $dark-red !default;
$dark-red-6: light-color($dark-red, 15%) !default;
$dark-red-7: light-color($dark-red, 30%) !default;
$dark-red-8: light-color($dark-red, 45%) !default;
$dark-red-9: light-color($dark-red, 60%) !default;

$dark-magenta-0: shade-color($dark-magenta, 70%) !default;
$dark-magenta-1: shade-color($dark-magenta, 60%) !default;
$dark-magenta-2: shade-color($dark-magenta, 45%) !default;
$dark-magenta-3: shade-color($dark-magenta, 30%) !default;
$dark-magenta-4: shade-color($dark-magenta, 15%) !default;
$dark-magenta-5: $dark-magenta !default;
$dark-magenta-6: light-color($dark-magenta, 15%) !default;
$dark-magenta-7: light-color($dark-magenta, 30%) !default;
$dark-magenta-8: light-color($dark-magenta, 45%) !default;
$dark-magenta-9: light-color($dark-magenta, 60%) !default;

$dark-purple-0: shade-color($dark-purple, 70%) !default;
$dark-purple-1: shade-color($dark-purple, 60%) !default;
$dark-purple-2: shade-color($dark-purple, 45%) !default;
$dark-purple-3: shade-color($dark-purple, 30%) !default;
$dark-purple-4: shade-color($dark-purple, 15%) !default;
$dark-purple-5: $dark-purple !default;
$dark-purple-6: light-color($dark-purple, 15%) !default;
$dark-purple-7: light-color($dark-purple, 30%) !default;
$dark-purple-8: light-color($dark-purple, 45%) !default;
$dark-purple-9: light-color($dark-purple, 60%) !default;

$dark-indigo-0: shade-color($dark-indigo, 70%) !default;
$dark-indigo-1: shade-color($dark-indigo, 60%) !default;
$dark-indigo-2: shade-color($dark-indigo, 45%) !default;
$dark-indigo-3: shade-color($dark-indigo, 30%) !default;
$dark-indigo-4: shade-color($dark-indigo, 15%) !default;
$dark-indigo-5: $dark-indigo !default;
$dark-indigo-6: light-color($dark-indigo, 15%) !default;
$dark-indigo-7: light-color($dark-indigo, 30%) !default;
$dark-indigo-8: light-color($dark-indigo, 45%) !default;
$dark-indigo-9: light-color($dark-indigo, 60%) !default;

$dark-navy-0: shade-color($dark-navy, 70%) !default;
$dark-navy-1: shade-color($dark-navy, 60%) !default;
$dark-navy-2: shade-color($dark-navy, 45%) !default;
$dark-navy-3: shade-color($dark-navy, 30%) !default;
$dark-navy-4: shade-color($dark-navy, 15%) !default;
$dark-navy-5: $dark-navy !default;
$dark-navy-6: light-color($dark-navy, 15%) !default;
$dark-navy-7: light-color($dark-navy, 30%) !default;
$dark-navy-8: light-color($dark-navy, 45%) !default;
$dark-navy-9: light-color($dark-navy, 60%) !default;

$dark-blue-0: shade-color($dark-blue, 70%) !default;
$dark-blue-1: shade-color($dark-blue, 60%) !default;
$dark-blue-2: shade-color($dark-blue, 45%) !default;
$dark-blue-3: shade-color($dark-blue, 30%) !default;
$dark-blue-4: shade-color($dark-blue, 15%) !default;
$dark-blue-5: $dark-blue !default;
$dark-blue-6: light-color($dark-blue, 15%) !default;
$dark-blue-7: light-color($dark-blue, 30%) !default;
$dark-blue-8: light-color($dark-blue, 45%) !default;
$dark-blue-9: light-color($dark-blue, 60%) !default;

$dark-cyan-0: shade-color($dark-cyan, 70%) !default;
$dark-cyan-1: shade-color($dark-cyan, 60%) !default;
$dark-cyan-2: shade-color($dark-cyan, 45%) !default;
$dark-cyan-3: shade-color($dark-cyan, 30%) !default;
$dark-cyan-4: shade-color($dark-cyan, 15%) !default;
$dark-cyan-5: $dark-cyan !default;
$dark-cyan-6: light-color($dark-cyan, 15%) !default;
$dark-cyan-7: light-color($dark-cyan, 30%) !default;
$dark-cyan-8: light-color($dark-cyan, 45%) !default;
$dark-cyan-9: light-color($dark-cyan, 60%) !default;

$dark-teal-0: shade-color($dark-teal, 70%) !default;
$dark-teal-1: shade-color($dark-teal, 60%) !default;
$dark-teal-2: shade-color($dark-teal, 45%) !default;
$dark-teal-3: shade-color($dark-teal, 30%) !default;
$dark-teal-4: shade-color($dark-teal, 15%) !default;
$dark-teal-5: $dark-teal !default;
$dark-teal-6: light-color($dark-teal, 15%) !default;
$dark-teal-7: light-color($dark-teal, 30%) !default;
$dark-teal-8: light-color($dark-teal, 45%) !default;
$dark-teal-9: light-color($dark-teal, 60%) !default;

$dark-green-0: shade-color($dark-green, 70%) !default;
$dark-green-1: shade-color($dark-green, 60%) !default;
$dark-green-2: shade-color($dark-green, 45%) !default;
$dark-green-3: shade-color($dark-green, 30%) !default;
$dark-green-4: shade-color($dark-green, 15%) !default;
$dark-green-5: $dark-green !default;
$dark-green-6: light-color($dark-green, 15%) !default;
$dark-green-7: light-color($dark-green, 30%) !default;
$dark-green-8: light-color($dark-green, 45%) !default;
$dark-green-9: light-color($dark-green, 60%) !default;

$dark-lime-0: shade-color($dark-lime, 70%) !default;
$dark-lime-1: shade-color($dark-lime, 60%) !default;
$dark-lime-2: shade-color($dark-lime, 45%) !default;
$dark-lime-3: shade-color($dark-lime, 30%) !default;
$dark-lime-4: shade-color($dark-lime, 15%) !default;
$dark-lime-5: $dark-lime !default;
$dark-lime-6: light-color($dark-lime, 15%) !default;
$dark-lime-7: light-color($dark-lime, 30%) !default;
$dark-lime-8: light-color($dark-lime, 45%) !default;
$dark-lime-9: light-color($dark-lime, 60%) !default;

$dark-yellow-0: shade-color($dark-yellow, 70%) !default;
$dark-yellow-1: shade-color($dark-yellow, 60%) !default;
$dark-yellow-2: shade-color($dark-yellow, 45%) !default;
$dark-yellow-3: shade-color($dark-yellow, 30%) !default;
$dark-yellow-4: shade-color($dark-yellow, 15%) !default;
$dark-yellow-5: $dark-yellow !default;
$dark-yellow-6: light-color($dark-yellow, 15%) !default;
$dark-yellow-7: light-color($dark-yellow, 30%) !default;
$dark-yellow-8: light-color($dark-yellow, 45%) !default;
$dark-yellow-9: light-color($dark-yellow, 60%) !default;

$dark-orange-0: shade-color($dark-orange, 70%) !default;
$dark-orange-1: shade-color($dark-orange, 60%) !default;
$dark-orange-2: shade-color($dark-orange, 45%) !default;
$dark-orange-3: shade-color($dark-orange, 30%) !default;
$dark-orange-4: shade-color($dark-orange, 15%) !default;
$dark-orange-5: $dark-orange !default;
$dark-orange-6: light-color($dark-orange, 15%) !default;
$dark-orange-7: light-color($dark-orange, 30%) !default;
$dark-orange-8: light-color($dark-orange, 45%) !default;
$dark-orange-9: light-color($dark-orange, 60%) !default;

$dark-brown-0: shade-color($dark-brown, 70%) !default;
$dark-brown-1: shade-color($dark-brown, 60%) !default;
$dark-brown-2: shade-color($dark-brown, 45%) !default;
$dark-brown-3: shade-color($dark-brown, 30%) !default;
$dark-brown-4: shade-color($dark-brown, 15%) !default;
$dark-brown-5: $dark-brown !default;
$dark-brown-6: light-color($dark-brown, 15%) !default;
$dark-brown-7: light-color($dark-brown, 30%) !default;
$dark-brown-8: light-color($dark-brown, 45%) !default;
$dark-brown-9: light-color($dark-brown, 60%) !default;

$dark-gray-0: shade-color($dark-gray, 70%) !default;
$dark-gray-1: shade-color($dark-gray, 60%) !default;
$dark-gray-2: shade-color($dark-gray, 45%) !default;
$dark-gray-3: shade-color($dark-gray, 30%) !default;
$dark-gray-4: shade-color($dark-gray, 15%) !default;
$dark-gray-5: $dark-gray !default;
$dark-gray-6: light-color($dark-gray, 15%) !default;
$dark-gray-7: light-color($dark-gray, 30%) !default;
$dark-gray-8: light-color($dark-gray, 45%) !default;
$dark-gray-9: light-color($dark-gray, 60%) !default;
