@import "../functions/light-color";
@import "../functions/shade-color";

$white: #fff !default;
$black: #000 !default;

$red: hsl(355deg, 75%, 55%) !default;
$magenta: hsl(300deg, 70%, 45%) !default;
$purple: hsl(280deg, 80%, 50%) !default;
$indigo: hsl(255deg, 80%, 50%) !default;
$navy: hsl(235deg, 70%, 50%) !default;
$blue: hsl(215deg, 80%, 50%) !default;
$cyan: hsl(190deg, 65%, 40%) !default;
$teal: hsl(165deg, 65%, 35%) !default;
$green: hsl(130deg, 45%, 40%) !default;
$lime: hsl(80deg, 55%, 45%) !default;
$yellow: hsl(45deg, 95%, 45%) !default;
$orange: hsl(30deg, 85%, 50%) !default;
$brown: hsl(355deg, 15%, 50%) !default;
$gray: hsl(215deg, 5%, 50%) !default;

$base: $gray !default;
$major: $blue !default;
$minor: $gray !default;
$positive: $green !default;
$alertive: $orange !default;
$negative: $red !default;

$bg-color-base: $white;
$bg-color-soft: light-color($base, 90%);
$bg-color-deep: light-color($base, 80%);
$bg-color-alpha-soft: rgba($base, 0.1);
$bg-color-alpha-deep: rgba($base, 0.2);

$bg-color-major-base: light-color($major, 90%);
$bg-color-major-soft: light-color($major, 80%);
$bg-color-major-deep: light-color($major, 70%);
$bg-color-major-alpha-soft: rgba($major, 0.1);
$bg-color-major-alpha-deep: rgba($major, 0.2);

$bg-color-minor-base: light-color($minor, 90%);
$bg-color-minor-soft: light-color($minor, 80%);
$bg-color-minor-deep: light-color($minor, 70%);
$bg-color-minor-alpha-soft: rgba($minor, 0.1);
$bg-color-minor-alpha-deep: rgba($minor, 0.2);

$bg-color-positive-base: light-color($positive, 90%);
$bg-color-positive-soft: light-color($positive, 80%);
$bg-color-positive-deep: light-color($positive, 70%);
$bg-color-positive-alpha-soft: rgba($positive, 0.1);
$bg-color-positive-alpha-deep: rgba($positive, 0.2);

$bg-color-alertive-base: light-color($alertive, 90%);
$bg-color-alertive-soft: light-color($alertive, 80%);
$bg-color-alertive-deep: light-color($alertive, 70%);
$bg-color-alertive-alpha-soft: rgba($alertive, 0.1);
$bg-color-alertive-alpha-deep: rgba($alertive, 0.2);

$bg-color-negative-base: light-color($negative, 90%);
$bg-color-negative-soft: light-color($negative, 80%);
$bg-color-negative-deep: light-color($negative, 70%);
$bg-color-negative-alpha-soft: rgba($negative, 0.1);
$bg-color-negative-alpha-deep: rgba($negative, 0.2);

$text-color-base: shade-color($base, 60%) !default;
$text-color-muted: $base !default;
$text-color-hover: shade-color($base, 75%) !default;
$text-color-active: $black !default;
$text-color-inactive: light-color($base, 20%) !default;
$text-color-disabled: light-color($base, 40%) !default;

$text-color-reverse-base: $white !default;
$text-color-reverse-hover: $white !default;
$text-color-reverse-active: $white !default;
$text-color-reverse-inactive: rgba($white, 0.7) !default;
$text-color-reverse-disabled: rgba($white, 0.7) !default;

$text-color-major-base: $major !default;
$text-color-major-hover: shade-color($major, 20%) !default;
$text-color-major-active: shade-color($major, 40%) !default;
$text-color-major-inactive: light-color($major, 40%) !default;
$text-color-major-disabled: light-color($major, 60%) !default;

$text-color-minor-base: $minor !default;
$text-color-minor-hover: shade-color($minor, 20%) !default;
$text-color-minor-active: shade-color($minor, 40%) !default;
$text-color-minor-inactive: light-color($minor, 40%) !default;
$text-color-minor-disabled: light-color($minor, 60%) !default;

$text-color-positive-base: $positive !default;
$text-color-positive-hover: shade-color($positive, 20%) !default;
$text-color-positive-active: shade-color($positive, 40%) !default;
$text-color-positive-inactive: light-color($positive, 40%) !default;
$text-color-positive-disabled: light-color($positive, 60%) !default;

$text-color-alertive-base: $alertive !default;
$text-color-alertive-hover: shade-color($alertive, 20%) !default;
$text-color-alertive-active: shade-color($alertive, 40%) !default;
$text-color-alertive-inactive: light-color($alertive, 40%) !default;
$text-color-alertive-disabled: light-color($alertive, 60%) !default;

$text-color-negative-base: $negative !default;
$text-color-negative-hover: shade-color($negative, 20%) !default;
$text-color-negative-active: shade-color($negative, 40%) !default;
$text-color-negative-inactive: light-color($negative, 40%) !default;
$text-color-negative-disabled: light-color($negative, 60%) !default;

$border-color-base: light-color($base, 60%) !default;
$border-color-hover: light-color($base, 50%) !default;
$border-color-active: light-color($base, 40%) !default;
$border-color-inactive: light-color($base, 70%) !default;
$border-color-disabled: light-color($base, 80%) !default;

$border-color-major-base: light-color($major, 60%) !default;
$border-color-major-hover: light-color($major, 50%) !default;
$border-color-major-active: light-color($major, 40%) !default;
$border-color-major-inactive: light-color($major, 70%) !default;
$border-color-major-disabled: light-color($major, 80%) !default;

$border-color-minor-base: light-color($minor, 60%) !default;
$border-color-minor-hover: light-color($minor, 50%) !default;
$border-color-minor-active: light-color($minor, 40%) !default;
$border-color-minor-inactive: light-color($minor, 70%) !default;
$border-color-minor-disabled: light-color($minor, 80%) !default;

$border-color-positive-base: light-color($positive, 60%) !default;
$border-color-positive-hover: light-color($positive, 50%) !default;
$border-color-positive-active: light-color($positive, 40%) !default;
$border-color-positive-inactive: light-color($positive, 70%) !default;
$border-color-positive-disabled: light-color($positive, 80%) !default;

$border-color-alertive-base: light-color($alertive, 60%) !default;
$border-color-alertive-hover: light-color($alertive, 50%) !default;
$border-color-alertive-active: light-color($alertive, 40%) !default;
$border-color-alertive-inactive: light-color($alertive, 70%) !default;
$border-color-alertive-disabled: light-color($alertive, 80%) !default;

$border-color-negative-base: light-color($negative, 60%) !default;
$border-color-negative-hover: light-color($negative, 50%) !default;
$border-color-negative-active: light-color($negative, 40%) !default;
$border-color-negative-inactive: light-color($negative, 70%) !default;
$border-color-negative-disabled: light-color($negative, 80%) !default;
