@import "./palettes";
@import "../functions/light-color";
@import "../functions/shade-color";

$basis: $gray !default;
$major: $blue !default;
$minor: $gray !default;
$positive: $green !default;
$alertive: $orange !default;
$negative: $red !default;

$basis-rgb: red($basis) green($basis) blue($basis) !default;
$major-rgb: red($major) green($major) blue($major) !default;
$minor-rgb: red($minor) green($minor) blue($minor) !default;
$positive-rgb: red($positive) green($positive) blue($positive) !default;
$alertive-rgb: red($alertive) green($alertive) blue($alertive) !default;
$negative-rgb: red($negative) green($negative) blue($negative) !default;

$alpha-soft: 0.1 !default;
$alpha-deep: 0.2 !default;
$alpha-dark: 0.3 !default;

$major-0: light-color($major, 90%) !default;
$major-1: light-color($major, 80%) !default;
$major-2: light-color($major, 60%) !default;
$major-3: light-color($major, 40%) !default;
$major-4: light-color($major, 20%) !default;
$major-5: $major !default;
$major-6: shade-color($major, 15%) !default;
$major-7: shade-color($major, 30%) !default;
$major-8: shade-color($major, 45%) !default;
$major-9: shade-color($major, 60%) !default;

$minor-0: light-color($minor, 90%) !default;
$minor-1: light-color($minor, 80%) !default;
$minor-2: light-color($minor, 60%) !default;
$minor-3: light-color($minor, 40%) !default;
$minor-4: light-color($minor, 20%) !default;
$minor-5: $minor !default;
$minor-6: shade-color($minor, 15%) !default;
$minor-7: shade-color($minor, 30%) !default;
$minor-8: shade-color($minor, 45%) !default;
$minor-9: shade-color($minor, 60%) !default;

$positive-0: light-color($positive, 90%) !default;
$positive-1: light-color($positive, 80%) !default;
$positive-2: light-color($positive, 60%) !default;
$positive-3: light-color($positive, 40%) !default;
$positive-4: light-color($positive, 20%) !default;
$positive-5: $positive !default;
$positive-6: shade-color($positive, 15%) !default;
$positive-7: shade-color($positive, 30%) !default;
$positive-8: shade-color($positive, 45%) !default;
$positive-9: shade-color($positive, 60%) !default;

$alertive-0: light-color($alertive, 90%) !default;
$alertive-1: light-color($alertive, 80%) !default;
$alertive-2: light-color($alertive, 60%) !default;
$alertive-3: light-color($alertive, 40%) !default;
$alertive-4: light-color($alertive, 20%) !default;
$alertive-5: $alertive !default;
$alertive-6: shade-color($alertive, 15%) !default;
$alertive-7: shade-color($alertive, 30%) !default;
$alertive-8: shade-color($alertive, 45%) !default;
$alertive-9: shade-color($alertive, 60%) !default;

$negative-0: light-color($negative, 90%) !default;
$negative-1: light-color($negative, 80%) !default;
$negative-2: light-color($negative, 60%) !default;
$negative-3: light-color($negative, 40%) !default;
$negative-4: light-color($negative, 20%) !default;
$negative-5: $negative !default;
$negative-6: shade-color($negative, 15%) !default;
$negative-7: shade-color($negative, 30%) !default;
$negative-8: shade-color($negative, 45%) !default;
$negative-9: shade-color($negative, 60%) !default;

$text-color-base: rgba($black, 0.8) !default;
$text-color-muted: rgba($black, 0.6) !default;
$text-color-hover: rgba($black, 0.9) !default;
$text-color-active: $black !default;
$text-color-inactive: rgba($black, 0.4) !default;
$text-color-disabled: rgba($black, 0.3) !default;

$text-color-solid-base: $white !default;
$text-color-solid-hover: $white !default;
$text-color-solid-active: $white !default;
$text-color-solid-inactive: rgba($white, 0.7) !default;
$text-color-solid-disabled: rgba($white, 0.6) !default;

$text-color-reverse-base: $white !default;
$text-color-reverse-hover: $white !default;
$text-color-reverse-active: $white !default;
$text-color-reverse-inactive: rgba($white, 0.7) !default;
$text-color-reverse-disabled: rgba($white, 0.6) !default;

$border-color-base: light-color($basis, 60%) !default;
$border-color-hover: light-color($basis, 50%) !default;
$border-color-active: light-color($basis, 40%) !default;
$border-color-inactive: light-color($basis, 70%) !default;
$border-color-disabled: light-color($basis, 80%) !default;

$border-color-deep-base: light-color($basis, 30%) !default;
$border-color-deep-hover: light-color($basis, 20%) !default;
$border-color-deep-active: light-color($basis, 10%) !default;
$border-color-deep-inactive: light-color($basis, 40%) !default;
$border-color-deep-disabled: light-color($basis, 50%) !default;

$border-color-solid-base: shade-color($basis, 80%) !default;
$border-color-solid-hover: shade-color($basis, 90%) !default;
$border-color-solid-active: $black !default;
$border-color-solid-inactive: $basis !default;
$border-color-solid-disabled: light-color($basis, 20%) !default;

$background-color-page: $white !default;
$background-color-card: $white !default;
$background-color-over: $white !default;

$background-color-base: $white !default;
$background-color-hover: light-color($basis, 90%) !default;
$background-color-active: light-color($basis, 80%) !default;
$background-color-inactive: light-color($basis, 90%) !default;
$background-color-disabled: $white !default;

$background-color-deep-base: light-color($basis, 60%) !default;
$background-color-deep-hover: light-color($basis, 50%) !default;
$background-color-deep-active: light-color($basis, 40%) !default;
$background-color-deep-inactive: light-color($basis, 70%) !default;
$background-color-deep-disabled: light-color($basis, 80%) !default;

$background-color-solid-base: shade-color($basis, 60%) !default;
$background-color-solid-hover: shade-color($basis, 70%) !default;
$background-color-solid-active: shade-color($basis, 80%) !default;
$background-color-solid-inactive: light-color($basis, 20%) !default;
$background-color-solid-disabled: light-color($basis, 40%) !default;
