@import "../functions/light-color";
@import "../functions/shade-color";

$white: #fff !default;
$black: #000 !default;

$red: hsl(355deg, 70%, 55%) !default;
$magenta: hsl(300deg, 75%, 45%) !default;
$purple: hsl(280deg, 80%, 50%) !default;
$indigo: hsl(255deg, 85%, 60%) !default;
$navy: hsl(235deg, 90%, 60%) !default;
$blue: hsl(215deg, 80%, 50%) !default;
$cyan: hsl(190deg, 65%, 40%) !default;
$teal: hsl(165deg, 65%, 35%) !default;
$green: hsl(130deg, 45%, 40%) !default;
$lime: hsl(80deg, 55%, 45%) !default;
$yellow: hsl(45deg, 95%, 45%) !default;
$orange: hsl(30deg, 85%, 50%) !default;
$brown: hsl(355deg, 15%, 50%) !default;
$gray: hsl(215deg, 5%, 50%) !default;

$red-rgb: red($red) green($red) blue($red) !default;
$magenta-rgb: red($magenta) green($magenta) blue($magenta) !default;
$purple-rgb: red($purple) green($purple) blue($purple) !default;
$indigo-rgb: red($indigo) green($indigo) blue($indigo) !default;
$navy-rgb: red($navy) green($navy) blue($navy) !default;
$blue-rgb: red($blue) green($blue) blue($blue) !default;
$cyan-rgb: red($cyan) green($cyan) blue($cyan) !default;
$teal-rgb: red($teal) green($teal) blue($teal) !default;
$green-rgb: red($green) green($green) blue($green) !default;
$lime-rgb: red($lime) green($lime) blue($lime) !default;
$yellow-rgb: red($yellow) green($yellow) blue($yellow) !default;
$orange-rgb: red($orange) green($orange) blue($orange) !default;
$brown-rgb: red($brown) green($brown) blue($brown) !default;
$gray-rgb: red($gray) green($gray) blue($gray) !default;

$red-0: light-color($red, 90%) !default;
$red-1: light-color($red, 80%) !default;
$red-2: light-color($red, 60%) !default;
$red-3: light-color($red, 40%) !default;
$red-4: light-color($red, 20%) !default;
$red-5: $red !default;
$red-6: shade-color($red, 15%) !default;
$red-7: shade-color($red, 30%) !default;
$red-8: shade-color($red, 45%) !default;
$red-9: shade-color($red, 60%) !default;

$magenta-0: light-color($magenta, 90%) !default;
$magenta-1: light-color($magenta, 80%) !default;
$magenta-2: light-color($magenta, 60%) !default;
$magenta-3: light-color($magenta, 40%) !default;
$magenta-4: light-color($magenta, 20%) !default;
$magenta-5: $magenta !default;
$magenta-6: shade-color($magenta, 15%) !default;
$magenta-7: shade-color($magenta, 30%) !default;
$magenta-8: shade-color($magenta, 45%) !default;
$magenta-9: shade-color($magenta, 60%) !default;

$purple-0: light-color($purple, 90%) !default;
$purple-1: light-color($purple, 80%) !default;
$purple-2: light-color($purple, 60%) !default;
$purple-3: light-color($purple, 40%) !default;
$purple-4: light-color($purple, 20%) !default;
$purple-5: $purple !default;
$purple-6: shade-color($purple, 15%) !default;
$purple-7: shade-color($purple, 30%) !default;
$purple-8: shade-color($purple, 45%) !default;
$purple-9: shade-color($purple, 60%) !default;

$indigo-0: light-color($indigo, 90%) !default;
$indigo-1: light-color($indigo, 80%) !default;
$indigo-2: light-color($indigo, 60%) !default;
$indigo-3: light-color($indigo, 40%) !default;
$indigo-4: light-color($indigo, 20%) !default;
$indigo-5: $indigo !default;
$indigo-6: shade-color($indigo, 15%) !default;
$indigo-7: shade-color($indigo, 30%) !default;
$indigo-8: shade-color($indigo, 45%) !default;
$indigo-9: shade-color($indigo, 60%) !default;

$navy-0: light-color($navy, 90%) !default;
$navy-1: light-color($navy, 80%) !default;
$navy-2: light-color($navy, 60%) !default;
$navy-3: light-color($navy, 40%) !default;
$navy-4: light-color($navy, 20%) !default;
$navy-5: $navy !default;
$navy-6: shade-color($navy, 15%) !default;
$navy-7: shade-color($navy, 30%) !default;
$navy-8: shade-color($navy, 45%) !default;
$navy-9: shade-color($navy, 60%) !default;

$blue-0: light-color($blue, 90%) !default;
$blue-1: light-color($blue, 80%) !default;
$blue-2: light-color($blue, 60%) !default;
$blue-3: light-color($blue, 40%) !default;
$blue-4: light-color($blue, 20%) !default;
$blue-5: $blue !default;
$blue-6: shade-color($blue, 15%) !default;
$blue-7: shade-color($blue, 30%) !default;
$blue-8: shade-color($blue, 45%) !default;
$blue-9: shade-color($blue, 60%) !default;

$cyan-0: light-color($cyan, 90%) !default;
$cyan-1: light-color($cyan, 80%) !default;
$cyan-2: light-color($cyan, 60%) !default;
$cyan-3: light-color($cyan, 40%) !default;
$cyan-4: light-color($cyan, 20%) !default;
$cyan-5: $cyan !default;
$cyan-6: shade-color($cyan, 15%) !default;
$cyan-7: shade-color($cyan, 30%) !default;
$cyan-8: shade-color($cyan, 45%) !default;
$cyan-9: shade-color($cyan, 60%) !default;

$teal-0: light-color($teal, 90%) !default;
$teal-1: light-color($teal, 80%) !default;
$teal-2: light-color($teal, 60%) !default;
$teal-3: light-color($teal, 40%) !default;
$teal-4: light-color($teal, 20%) !default;
$teal-5: $teal !default;
$teal-6: shade-color($teal, 15%) !default;
$teal-7: shade-color($teal, 30%) !default;
$teal-8: shade-color($teal, 45%) !default;
$teal-9: shade-color($teal, 60%) !default;

$green-0: light-color($green, 90%) !default;
$green-1: light-color($green, 80%) !default;
$green-2: light-color($green, 60%) !default;
$green-3: light-color($green, 40%) !default;
$green-4: light-color($green, 20%) !default;
$green-5: $green !default;
$green-6: shade-color($green, 15%) !default;
$green-7: shade-color($green, 30%) !default;
$green-8: shade-color($green, 45%) !default;
$green-9: shade-color($green, 60%) !default;

$lime-0: light-color($lime, 90%) !default;
$lime-1: light-color($lime, 80%) !default;
$lime-2: light-color($lime, 60%) !default;
$lime-3: light-color($lime, 40%) !default;
$lime-4: light-color($lime, 20%) !default;
$lime-5: $lime !default;
$lime-6: shade-color($lime, 15%) !default;
$lime-7: shade-color($lime, 30%) !default;
$lime-8: shade-color($lime, 45%) !default;
$lime-9: shade-color($lime, 60%) !default;

$yellow-0: light-color($yellow, 90%) !default;
$yellow-1: light-color($yellow, 80%) !default;
$yellow-2: light-color($yellow, 60%) !default;
$yellow-3: light-color($yellow, 40%) !default;
$yellow-4: light-color($yellow, 20%) !default;
$yellow-5: $yellow !default;
$yellow-6: shade-color($yellow, 15%) !default;
$yellow-7: shade-color($yellow, 30%) !default;
$yellow-8: shade-color($yellow, 45%) !default;
$yellow-9: shade-color($yellow, 60%) !default;

$orange-0: light-color($orange, 90%) !default;
$orange-1: light-color($orange, 80%) !default;
$orange-2: light-color($orange, 60%) !default;
$orange-3: light-color($orange, 40%) !default;
$orange-4: light-color($orange, 20%) !default;
$orange-5: $orange !default;
$orange-6: shade-color($orange, 15%) !default;
$orange-7: shade-color($orange, 30%) !default;
$orange-8: shade-color($orange, 45%) !default;
$orange-9: shade-color($orange, 60%) !default;

$brown-0: light-color($brown, 90%) !default;
$brown-1: light-color($brown, 80%) !default;
$brown-2: light-color($brown, 60%) !default;
$brown-3: light-color($brown, 40%) !default;
$brown-4: light-color($brown, 20%) !default;
$brown-5: $brown !default;
$brown-6: shade-color($brown, 15%) !default;
$brown-7: shade-color($brown, 30%) !default;
$brown-8: shade-color($brown, 45%) !default;
$brown-9: shade-color($brown, 60%) !default;

$gray-0: light-color($gray, 90%) !default;
$gray-1: light-color($gray, 80%) !default;
$gray-2: light-color($gray, 60%) !default;
$gray-3: light-color($gray, 40%) !default;
$gray-4: light-color($gray, 20%) !default;
$gray-5: $gray !default;
$gray-6: shade-color($gray, 15%) !default;
$gray-7: shade-color($gray, 30%) !default;
$gray-8: shade-color($gray, 45%) !default;
$gray-9: shade-color($gray, 60%) !default;

$dark-red: light-color($red, 20%) !default;
$dark-magenta: light-color($magenta, 20%) !default;
$dark-purple: light-color($purple, 25%) !default;
$dark-indigo: light-color($indigo, 30%) !default;
$dark-navy: light-color($navy, 30%) !default;
$dark-blue: light-color($blue, 20%) !default;
$dark-cyan: light-color($cyan, 20%) !default;
$dark-teal: light-color($teal, 20%) !default;
$dark-green: light-color($green, 20%) !default;
$dark-lime: light-color($lime, 10%) !default;
$dark-yellow: $yellow !default;
$dark-orange: light-color($orange, 10%) !default;
$dark-brown: light-color($brown, 20%) !default;
$dark-gray: light-color($gray, 20%) !default;

$dark-red-rgb: red($dark-red) green($dark-red) blue($dark-red) !default;
$dark-magenta-rgb: red($dark-magenta) green($dark-magenta) blue($dark-magenta) !default;
$dark-purple-rgb: red($dark-purple) green($dark-purple) blue($dark-purple) !default;
$dark-indigo-rgb: red($dark-indigo) green($dark-indigo) blue($dark-indigo) !default;
$dark-navy-rgb: red($dark-navy) green($dark-navy) blue($dark-navy) !default;
$dark-blue-rgb: red($dark-blue) green($dark-blue) blue($dark-blue) !default;
$dark-cyan-rgb: red($dark-cyan) green($dark-cyan) blue($dark-cyan) !default;
$dark-teal-rgb: red($dark-teal) green($dark-teal) blue($dark-teal) !default;
$dark-green-rgb: red($dark-green) green($dark-green) blue($dark-green) !default;
$dark-lime-rgb: red($dark-lime) green($dark-lime) blue($dark-lime) !default;
$dark-yellow-rgb: red($dark-yellow) green($dark-yellow) blue($dark-yellow) !default;
$dark-orange-rgb: red($dark-orange) green($dark-orange) blue($dark-orange) !default;
$dark-brown-rgb: red($dark-brown) green($dark-brown) blue($dark-brown) !default;
$dark-gray-rgb: red($dark-gray) green($dark-gray) blue($dark-gray) !default;

$dark-red-0: shade-color($dark-red, 70%) !default;
$dark-red-1: shade-color($dark-red, 60%) !default;
$dark-red-2: shade-color($dark-red, 45%) !default;
$dark-red-3: shade-color($dark-red, 30%) !default;
$dark-red-4: shade-color($dark-red, 15%) !default;
$dark-red-5: $dark-red !default;
$dark-red-6: light-color($dark-red, 15%) !default;
$dark-red-7: light-color($dark-red, 30%) !default;
$dark-red-8: light-color($dark-red, 45%) !default;
$dark-red-9: light-color($dark-red, 60%) !default;

$dark-magenta-0: shade-color($dark-magenta, 70%) !default;
$dark-magenta-1: shade-color($dark-magenta, 60%) !default;
$dark-magenta-2: shade-color($dark-magenta, 45%) !default;
$dark-magenta-3: shade-color($dark-magenta, 30%) !default;
$dark-magenta-4: shade-color($dark-magenta, 15%) !default;
$dark-magenta-5: $dark-magenta !default;
$dark-magenta-6: light-color($dark-magenta, 15%) !default;
$dark-magenta-7: light-color($dark-magenta, 30%) !default;
$dark-magenta-8: light-color($dark-magenta, 45%) !default;
$dark-magenta-9: light-color($dark-magenta, 60%) !default;

$dark-purple-0: shade-color($dark-purple, 70%) !default;
$dark-purple-1: shade-color($dark-purple, 60%) !default;
$dark-purple-2: shade-color($dark-purple, 45%) !default;
$dark-purple-3: shade-color($dark-purple, 30%) !default;
$dark-purple-4: shade-color($dark-purple, 15%) !default;
$dark-purple-5: $dark-purple !default;
$dark-purple-6: light-color($dark-purple, 15%) !default;
$dark-purple-7: light-color($dark-purple, 30%) !default;
$dark-purple-8: light-color($dark-purple, 45%) !default;
$dark-purple-9: light-color($dark-purple, 60%) !default;

$dark-indigo-0: shade-color($dark-indigo, 70%) !default;
$dark-indigo-1: shade-color($dark-indigo, 60%) !default;
$dark-indigo-2: shade-color($dark-indigo, 45%) !default;
$dark-indigo-3: shade-color($dark-indigo, 30%) !default;
$dark-indigo-4: shade-color($dark-indigo, 15%) !default;
$dark-indigo-5: $dark-indigo !default;
$dark-indigo-6: light-color($dark-indigo, 15%) !default;
$dark-indigo-7: light-color($dark-indigo, 30%) !default;
$dark-indigo-8: light-color($dark-indigo, 45%) !default;
$dark-indigo-9: light-color($dark-indigo, 60%) !default;

$dark-navy-0: shade-color($dark-navy, 70%) !default;
$dark-navy-1: shade-color($dark-navy, 60%) !default;
$dark-navy-2: shade-color($dark-navy, 45%) !default;
$dark-navy-3: shade-color($dark-navy, 30%) !default;
$dark-navy-4: shade-color($dark-navy, 15%) !default;
$dark-navy-5: $dark-navy !default;
$dark-navy-6: light-color($dark-navy, 15%) !default;
$dark-navy-7: light-color($dark-navy, 30%) !default;
$dark-navy-8: light-color($dark-navy, 45%) !default;
$dark-navy-9: light-color($dark-navy, 60%) !default;

$dark-blue-0: shade-color($dark-blue, 70%) !default;
$dark-blue-1: shade-color($dark-blue, 60%) !default;
$dark-blue-2: shade-color($dark-blue, 45%) !default;
$dark-blue-3: shade-color($dark-blue, 30%) !default;
$dark-blue-4: shade-color($dark-blue, 15%) !default;
$dark-blue-5: $dark-blue !default;
$dark-blue-6: light-color($dark-blue, 15%) !default;
$dark-blue-7: light-color($dark-blue, 30%) !default;
$dark-blue-8: light-color($dark-blue, 45%) !default;
$dark-blue-9: light-color($dark-blue, 60%) !default;

$dark-cyan-0: shade-color($dark-cyan, 70%) !default;
$dark-cyan-1: shade-color($dark-cyan, 60%) !default;
$dark-cyan-2: shade-color($dark-cyan, 45%) !default;
$dark-cyan-3: shade-color($dark-cyan, 30%) !default;
$dark-cyan-4: shade-color($dark-cyan, 15%) !default;
$dark-cyan-5: $dark-cyan !default;
$dark-cyan-6: light-color($dark-cyan, 15%) !default;
$dark-cyan-7: light-color($dark-cyan, 30%) !default;
$dark-cyan-8: light-color($dark-cyan, 45%) !default;
$dark-cyan-9: light-color($dark-cyan, 60%) !default;

$dark-teal-0: shade-color($dark-teal, 70%) !default;
$dark-teal-1: shade-color($dark-teal, 60%) !default;
$dark-teal-2: shade-color($dark-teal, 45%) !default;
$dark-teal-3: shade-color($dark-teal, 30%) !default;
$dark-teal-4: shade-color($dark-teal, 15%) !default;
$dark-teal-5: $dark-teal !default;
$dark-teal-6: light-color($dark-teal, 15%) !default;
$dark-teal-7: light-color($dark-teal, 30%) !default;
$dark-teal-8: light-color($dark-teal, 45%) !default;
$dark-teal-9: light-color($dark-teal, 60%) !default;

$dark-green-0: shade-color($dark-green, 70%) !default;
$dark-green-1: shade-color($dark-green, 60%) !default;
$dark-green-2: shade-color($dark-green, 45%) !default;
$dark-green-3: shade-color($dark-green, 30%) !default;
$dark-green-4: shade-color($dark-green, 15%) !default;
$dark-green-5: $dark-green !default;
$dark-green-6: light-color($dark-green, 15%) !default;
$dark-green-7: light-color($dark-green, 30%) !default;
$dark-green-8: light-color($dark-green, 45%) !default;
$dark-green-9: light-color($dark-green, 60%) !default;

$dark-lime-0: shade-color($dark-lime, 70%) !default;
$dark-lime-1: shade-color($dark-lime, 60%) !default;
$dark-lime-2: shade-color($dark-lime, 45%) !default;
$dark-lime-3: shade-color($dark-lime, 30%) !default;
$dark-lime-4: shade-color($dark-lime, 15%) !default;
$dark-lime-5: $dark-lime !default;
$dark-lime-6: light-color($dark-lime, 15%) !default;
$dark-lime-7: light-color($dark-lime, 30%) !default;
$dark-lime-8: light-color($dark-lime, 45%) !default;
$dark-lime-9: light-color($dark-lime, 60%) !default;

$dark-yellow-0: shade-color($dark-yellow, 70%) !default;
$dark-yellow-1: shade-color($dark-yellow, 60%) !default;
$dark-yellow-2: shade-color($dark-yellow, 45%) !default;
$dark-yellow-3: shade-color($dark-yellow, 30%) !default;
$dark-yellow-4: shade-color($dark-yellow, 15%) !default;
$dark-yellow-5: $dark-yellow !default;
$dark-yellow-6: light-color($dark-yellow, 15%) !default;
$dark-yellow-7: light-color($dark-yellow, 30%) !default;
$dark-yellow-8: light-color($dark-yellow, 45%) !default;
$dark-yellow-9: light-color($dark-yellow, 60%) !default;

$dark-orange-0: shade-color($dark-orange, 70%) !default;
$dark-orange-1: shade-color($dark-orange, 60%) !default;
$dark-orange-2: shade-color($dark-orange, 45%) !default;
$dark-orange-3: shade-color($dark-orange, 30%) !default;
$dark-orange-4: shade-color($dark-orange, 15%) !default;
$dark-orange-5: $dark-orange !default;
$dark-orange-6: light-color($dark-orange, 15%) !default;
$dark-orange-7: light-color($dark-orange, 30%) !default;
$dark-orange-8: light-color($dark-orange, 45%) !default;
$dark-orange-9: light-color($dark-orange, 60%) !default;

$dark-brown-0: shade-color($dark-brown, 70%) !default;
$dark-brown-1: shade-color($dark-brown, 60%) !default;
$dark-brown-2: shade-color($dark-brown, 45%) !default;
$dark-brown-3: shade-color($dark-brown, 30%) !default;
$dark-brown-4: shade-color($dark-brown, 15%) !default;
$dark-brown-5: $dark-brown !default;
$dark-brown-6: light-color($dark-brown, 15%) !default;
$dark-brown-7: light-color($dark-brown, 30%) !default;
$dark-brown-8: light-color($dark-brown, 45%) !default;
$dark-brown-9: light-color($dark-brown, 60%) !default;

$dark-gray-0: shade-color($dark-gray, 70%) !default;
$dark-gray-1: shade-color($dark-gray, 60%) !default;
$dark-gray-2: shade-color($dark-gray, 45%) !default;
$dark-gray-3: shade-color($dark-gray, 30%) !default;
$dark-gray-4: shade-color($dark-gray, 15%) !default;
$dark-gray-5: $dark-gray !default;
$dark-gray-6: light-color($dark-gray, 15%) !default;
$dark-gray-7: light-color($dark-gray, 30%) !default;
$dark-gray-8: light-color($dark-gray, 45%) !default;
$dark-gray-9: light-color($dark-gray, 60%) !default;
