@import "../functions/light-color";
@import "../functions/shade-color";

$white: #fff !default;
$black: #000 !default;

$red: hsl(355deg, 70%, 55%) !default;
$magenta: hsl(300deg, 70%, 45%) !default;
$purple: hsl(280deg, 80%, 50%) !default;
$indigo: hsl(255deg, 80%, 50%) !default;
$navy: hsl(235deg, 70%, 50%) !default;
$blue: hsl(215deg, 80%, 50%) !default;
$cyan: hsl(190deg, 65%, 40%) !default;
$teal: hsl(165deg, 65%, 35%) !default;
$green: hsl(130deg, 45%, 40%) !default;
$lime: hsl(80deg, 55%, 45%) !default;
$yellow: hsl(45deg, 95%, 45%) !default;
$orange: hsl(30deg, 85%, 50%) !default;
$brown: hsl(355deg, 15%, 50%) !default;
$gray: hsl(215deg, 5%, 50%) !default;

$dark-red: light-color($red, 20%) !default;
$dark-magenta: light-color($magenta, 20%) !default;
$dark-purple: light-color($purple, 20%) !default;
$dark-indigo: light-color($indigo, 20%) !default;
$dark-navy: light-color($navy, 20%) !default;
$dark-blue: light-color($blue, 20%) !default;
$dark-cyan: light-color($cyan, 20%) !default;
$dark-teal: light-color($teal, 20%) !default;
$dark-green: light-color($green, 20%) !default;
$dark-lime: light-color($lime, 20%) !default;
$dark-yellow: light-color($yellow, 20%) !default;
$dark-orange: light-color($orange, 20%) !default;
$dark-brown: light-color($brown, 20%) !default;
$dark-gray: light-color($gray, 20%) !default;

$white-a1: rgba($white, 0.1) !default;
$white-a2: rgba($white, 0.2) !default;
$white-a3: rgba($white, 0.3) !default;
$white-a4: rgba($white, 0.4) !default;
$white-a5: rgba($white, 0.5) !default;
$white-a6: rgba($white, 0.6) !default;
$white-a7: rgba($white, 0.7) !default;
$white-a8: rgba($white, 0.8) !default;
$white-a9: rgba($white, 0.9) !default;

$black-a1: rgba($black, 0.1) !default;
$black-a2: rgba($black, 0.2) !default;
$black-a3: rgba($black, 0.3) !default;
$black-a4: rgba($black, 0.4) !default;
$black-a5: rgba($black, 0.5) !default;
$black-a6: rgba($black, 0.6) !default;
$black-a7: rgba($black, 0.7) !default;
$black-a8: rgba($black, 0.8) !default;
$black-a9: rgba($black, 0.9) !default;

$red-a1: rgba($red, 0.1) !default;
$red-a2: rgba($red, 0.2) !default;
$red-a3: rgba($red, 0.3) !default;
$red-a4: rgba($red, 0.4) !default;
$red-a5: rgba($red, 0.5) !default;
$red-a6: rgba($red, 0.6) !default;
$red-a7: rgba($red, 0.7) !default;
$red-a8: rgba($red, 0.8) !default;
$red-a9: rgba($red, 0.9) !default;

$red-l1: light-color($red, 90%) !default;
$red-l2: light-color($red, 80%) !default;
$red-l3: light-color($red, 70%) !default;
$red-l4: light-color($red, 60%) !default;
$red-l5: light-color($red, 50%) !default;
$red-l6: light-color($red, 40%) !default;
$red-l7: light-color($red, 30%) !default;
$red-l8: light-color($red, 20%) !default;
$red-l9: light-color($red, 10%) !default;

$red-s1: shade-color($red, 10%) !default;
$red-s2: shade-color($red, 20%) !default;
$red-s3: shade-color($red, 30%) !default;
$red-s4: shade-color($red, 40%) !default;
$red-s5: shade-color($red, 50%) !default;
$red-s6: shade-color($red, 60%) !default;
$red-s7: shade-color($red, 70%) !default;
$red-s8: shade-color($red, 80%) !default;
$red-s9: shade-color($red, 90%) !default;

$magenta-a1: rgba($magenta, 0.1) !default;
$magenta-a2: rgba($magenta, 0.2) !default;
$magenta-a3: rgba($magenta, 0.3) !default;
$magenta-a4: rgba($magenta, 0.4) !default;
$magenta-a5: rgba($magenta, 0.5) !default;
$magenta-a6: rgba($magenta, 0.6) !default;
$magenta-a7: rgba($magenta, 0.7) !default;
$magenta-a8: rgba($magenta, 0.8) !default;
$magenta-a9: rgba($magenta, 0.9) !default;

$magenta-l1: light-color($magenta, 90%) !default;
$magenta-l2: light-color($magenta, 80%) !default;
$magenta-l3: light-color($magenta, 70%) !default;
$magenta-l4: light-color($magenta, 60%) !default;
$magenta-l5: light-color($magenta, 50%) !default;
$magenta-l6: light-color($magenta, 40%) !default;
$magenta-l7: light-color($magenta, 30%) !default;
$magenta-l8: light-color($magenta, 20%) !default;
$magenta-l9: light-color($magenta, 10%) !default;

$magenta-s1: shade-color($magenta, 10%) !default;
$magenta-s2: shade-color($magenta, 20%) !default;
$magenta-s3: shade-color($magenta, 30%) !default;
$magenta-s4: shade-color($magenta, 40%) !default;
$magenta-s5: shade-color($magenta, 50%) !default;
$magenta-s6: shade-color($magenta, 60%) !default;
$magenta-s7: shade-color($magenta, 70%) !default;
$magenta-s8: shade-color($magenta, 80%) !default;
$magenta-s9: shade-color($magenta, 90%) !default;

$purple-a1: rgba($purple, 0.1) !default;
$purple-a2: rgba($purple, 0.2) !default;
$purple-a3: rgba($purple, 0.3) !default;
$purple-a4: rgba($purple, 0.4) !default;
$purple-a5: rgba($purple, 0.5) !default;
$purple-a6: rgba($purple, 0.6) !default;
$purple-a7: rgba($purple, 0.7) !default;
$purple-a8: rgba($purple, 0.8) !default;
$purple-a9: rgba($purple, 0.9) !default;

$purple-l1: light-color($purple, 90%) !default;
$purple-l2: light-color($purple, 80%) !default;
$purple-l3: light-color($purple, 70%) !default;
$purple-l4: light-color($purple, 60%) !default;
$purple-l5: light-color($purple, 50%) !default;
$purple-l6: light-color($purple, 40%) !default;
$purple-l7: light-color($purple, 30%) !default;
$purple-l8: light-color($purple, 20%) !default;
$purple-l9: light-color($purple, 10%) !default;

$purple-s1: shade-color($purple, 10%) !default;
$purple-s2: shade-color($purple, 20%) !default;
$purple-s3: shade-color($purple, 30%) !default;
$purple-s4: shade-color($purple, 40%) !default;
$purple-s5: shade-color($purple, 50%) !default;
$purple-s6: shade-color($purple, 60%) !default;
$purple-s7: shade-color($purple, 70%) !default;
$purple-s8: shade-color($purple, 80%) !default;
$purple-s9: shade-color($purple, 90%) !default;

$indigo-a1: rgba($indigo, 0.1) !default;
$indigo-a2: rgba($indigo, 0.2) !default;
$indigo-a3: rgba($indigo, 0.3) !default;
$indigo-a4: rgba($indigo, 0.4) !default;
$indigo-a5: rgba($indigo, 0.5) !default;
$indigo-a6: rgba($indigo, 0.6) !default;
$indigo-a7: rgba($indigo, 0.7) !default;
$indigo-a8: rgba($indigo, 0.8) !default;
$indigo-a9: rgba($indigo, 0.9) !default;

$indigo-l1: light-color($indigo, 90%) !default;
$indigo-l2: light-color($indigo, 80%) !default;
$indigo-l3: light-color($indigo, 70%) !default;
$indigo-l4: light-color($indigo, 60%) !default;
$indigo-l5: light-color($indigo, 50%) !default;
$indigo-l6: light-color($indigo, 40%) !default;
$indigo-l7: light-color($indigo, 30%) !default;
$indigo-l8: light-color($indigo, 20%) !default;
$indigo-l9: light-color($indigo, 10%) !default;

$indigo-s1: shade-color($indigo, 10%) !default;
$indigo-s2: shade-color($indigo, 20%) !default;
$indigo-s3: shade-color($indigo, 30%) !default;
$indigo-s4: shade-color($indigo, 40%) !default;
$indigo-s5: shade-color($indigo, 50%) !default;
$indigo-s6: shade-color($indigo, 60%) !default;
$indigo-s7: shade-color($indigo, 70%) !default;
$indigo-s8: shade-color($indigo, 80%) !default;
$indigo-s9: shade-color($indigo, 90%) !default;

$navy-a1: rgba($navy, 0.1) !default;
$navy-a2: rgba($navy, 0.2) !default;
$navy-a3: rgba($navy, 0.3) !default;
$navy-a4: rgba($navy, 0.4) !default;
$navy-a5: rgba($navy, 0.5) !default;
$navy-a6: rgba($navy, 0.6) !default;
$navy-a7: rgba($navy, 0.7) !default;
$navy-a8: rgba($navy, 0.8) !default;
$navy-a9: rgba($navy, 0.9) !default;

$navy-l1: light-color($navy, 90%) !default;
$navy-l2: light-color($navy, 80%) !default;
$navy-l3: light-color($navy, 70%) !default;
$navy-l4: light-color($navy, 60%) !default;
$navy-l5: light-color($navy, 50%) !default;
$navy-l6: light-color($navy, 40%) !default;
$navy-l7: light-color($navy, 30%) !default;
$navy-l8: light-color($navy, 20%) !default;
$navy-l9: light-color($navy, 10%) !default;

$navy-s1: shade-color($navy, 10%) !default;
$navy-s2: shade-color($navy, 20%) !default;
$navy-s3: shade-color($navy, 30%) !default;
$navy-s4: shade-color($navy, 40%) !default;
$navy-s5: shade-color($navy, 50%) !default;
$navy-s6: shade-color($navy, 60%) !default;
$navy-s7: shade-color($navy, 70%) !default;
$navy-s8: shade-color($navy, 80%) !default;
$navy-s9: shade-color($navy, 90%) !default;

$blue-a1: rgba($blue, 0.1) !default;
$blue-a2: rgba($blue, 0.2) !default;
$blue-a3: rgba($blue, 0.3) !default;
$blue-a4: rgba($blue, 0.4) !default;
$blue-a5: rgba($blue, 0.5) !default;
$blue-a6: rgba($blue, 0.6) !default;
$blue-a7: rgba($blue, 0.7) !default;
$blue-a8: rgba($blue, 0.8) !default;
$blue-a9: rgba($blue, 0.9) !default;

$blue-l1: light-color($blue, 90%) !default;
$blue-l2: light-color($blue, 80%) !default;
$blue-l3: light-color($blue, 70%) !default;
$blue-l4: light-color($blue, 60%) !default;
$blue-l5: light-color($blue, 50%) !default;
$blue-l6: light-color($blue, 40%) !default;
$blue-l7: light-color($blue, 30%) !default;
$blue-l8: light-color($blue, 20%) !default;
$blue-l9: light-color($blue, 10%) !default;

$blue-s1: shade-color($blue, 10%) !default;
$blue-s2: shade-color($blue, 20%) !default;
$blue-s3: shade-color($blue, 30%) !default;
$blue-s4: shade-color($blue, 40%) !default;
$blue-s5: shade-color($blue, 50%) !default;
$blue-s6: shade-color($blue, 60%) !default;
$blue-s7: shade-color($blue, 70%) !default;
$blue-s8: shade-color($blue, 80%) !default;
$blue-s9: shade-color($blue, 90%) !default;

$cyan-a1: rgba($cyan, 0.1) !default;
$cyan-a2: rgba($cyan, 0.2) !default;
$cyan-a3: rgba($cyan, 0.3) !default;
$cyan-a4: rgba($cyan, 0.4) !default;
$cyan-a5: rgba($cyan, 0.5) !default;
$cyan-a6: rgba($cyan, 0.6) !default;
$cyan-a7: rgba($cyan, 0.7) !default;
$cyan-a8: rgba($cyan, 0.8) !default;
$cyan-a9: rgba($cyan, 0.9) !default;

$cyan-l1: light-color($cyan, 90%) !default;
$cyan-l2: light-color($cyan, 80%) !default;
$cyan-l3: light-color($cyan, 70%) !default;
$cyan-l4: light-color($cyan, 60%) !default;
$cyan-l5: light-color($cyan, 50%) !default;
$cyan-l6: light-color($cyan, 40%) !default;
$cyan-l7: light-color($cyan, 30%) !default;
$cyan-l8: light-color($cyan, 20%) !default;
$cyan-l9: light-color($cyan, 10%) !default;

$cyan-s1: shade-color($cyan, 10%) !default;
$cyan-s2: shade-color($cyan, 20%) !default;
$cyan-s3: shade-color($cyan, 30%) !default;
$cyan-s4: shade-color($cyan, 40%) !default;
$cyan-s5: shade-color($cyan, 50%) !default;
$cyan-s6: shade-color($cyan, 60%) !default;
$cyan-s7: shade-color($cyan, 70%) !default;
$cyan-s8: shade-color($cyan, 80%) !default;
$cyan-s9: shade-color($cyan, 90%) !default;

$teal-a1: rgba($teal, 0.1) !default;
$teal-a2: rgba($teal, 0.2) !default;
$teal-a3: rgba($teal, 0.3) !default;
$teal-a4: rgba($teal, 0.4) !default;
$teal-a5: rgba($teal, 0.5) !default;
$teal-a6: rgba($teal, 0.6) !default;
$teal-a7: rgba($teal, 0.7) !default;
$teal-a8: rgba($teal, 0.8) !default;
$teal-a9: rgba($teal, 0.9) !default;

$teal-l1: light-color($teal, 90%) !default;
$teal-l2: light-color($teal, 80%) !default;
$teal-l3: light-color($teal, 70%) !default;
$teal-l4: light-color($teal, 60%) !default;
$teal-l5: light-color($teal, 50%) !default;
$teal-l6: light-color($teal, 40%) !default;
$teal-l7: light-color($teal, 30%) !default;
$teal-l8: light-color($teal, 20%) !default;
$teal-l9: light-color($teal, 10%) !default;

$teal-s1: shade-color($teal, 10%) !default;
$teal-s2: shade-color($teal, 20%) !default;
$teal-s3: shade-color($teal, 30%) !default;
$teal-s4: shade-color($teal, 40%) !default;
$teal-s5: shade-color($teal, 50%) !default;
$teal-s6: shade-color($teal, 60%) !default;
$teal-s7: shade-color($teal, 70%) !default;
$teal-s8: shade-color($teal, 80%) !default;
$teal-s9: shade-color($teal, 90%) !default;

$green-a1: rgba($green, 0.1) !default;
$green-a2: rgba($green, 0.2) !default;
$green-a3: rgba($green, 0.3) !default;
$green-a4: rgba($green, 0.4) !default;
$green-a5: rgba($green, 0.5) !default;
$green-a6: rgba($green, 0.6) !default;
$green-a7: rgba($green, 0.7) !default;
$green-a8: rgba($green, 0.8) !default;
$green-a9: rgba($green, 0.9) !default;

$green-l1: light-color($green, 90%) !default;
$green-l2: light-color($green, 80%) !default;
$green-l3: light-color($green, 70%) !default;
$green-l4: light-color($green, 60%) !default;
$green-l5: light-color($green, 50%) !default;
$green-l6: light-color($green, 40%) !default;
$green-l7: light-color($green, 30%) !default;
$green-l8: light-color($green, 20%) !default;
$green-l9: light-color($green, 10%) !default;

$green-s1: shade-color($green, 10%) !default;
$green-s2: shade-color($green, 20%) !default;
$green-s3: shade-color($green, 30%) !default;
$green-s4: shade-color($green, 40%) !default;
$green-s5: shade-color($green, 50%) !default;
$green-s6: shade-color($green, 60%) !default;
$green-s7: shade-color($green, 70%) !default;
$green-s8: shade-color($green, 80%) !default;
$green-s9: shade-color($green, 90%) !default;

$lime-a1: rgba($lime, 0.1) !default;
$lime-a2: rgba($lime, 0.2) !default;
$lime-a3: rgba($lime, 0.3) !default;
$lime-a4: rgba($lime, 0.4) !default;
$lime-a5: rgba($lime, 0.5) !default;
$lime-a6: rgba($lime, 0.6) !default;
$lime-a7: rgba($lime, 0.7) !default;
$lime-a8: rgba($lime, 0.8) !default;
$lime-a9: rgba($lime, 0.9) !default;

$lime-l1: light-color($lime, 90%) !default;
$lime-l2: light-color($lime, 80%) !default;
$lime-l3: light-color($lime, 70%) !default;
$lime-l4: light-color($lime, 60%) !default;
$lime-l5: light-color($lime, 50%) !default;
$lime-l6: light-color($lime, 40%) !default;
$lime-l7: light-color($lime, 30%) !default;
$lime-l8: light-color($lime, 20%) !default;
$lime-l9: light-color($lime, 10%) !default;

$lime-s1: shade-color($lime, 10%) !default;
$lime-s2: shade-color($lime, 20%) !default;
$lime-s3: shade-color($lime, 30%) !default;
$lime-s4: shade-color($lime, 40%) !default;
$lime-s5: shade-color($lime, 50%) !default;
$lime-s6: shade-color($lime, 60%) !default;
$lime-s7: shade-color($lime, 70%) !default;
$lime-s8: shade-color($lime, 80%) !default;
$lime-s9: shade-color($lime, 90%) !default;

$yellow-a1: rgba($yellow, 0.1) !default;
$yellow-a2: rgba($yellow, 0.2) !default;
$yellow-a3: rgba($yellow, 0.3) !default;
$yellow-a4: rgba($yellow, 0.4) !default;
$yellow-a5: rgba($yellow, 0.5) !default;
$yellow-a6: rgba($yellow, 0.6) !default;
$yellow-a7: rgba($yellow, 0.7) !default;
$yellow-a8: rgba($yellow, 0.8) !default;
$yellow-a9: rgba($yellow, 0.9) !default;

$yellow-l1: light-color($yellow, 90%) !default;
$yellow-l2: light-color($yellow, 80%) !default;
$yellow-l3: light-color($yellow, 70%) !default;
$yellow-l4: light-color($yellow, 60%) !default;
$yellow-l5: light-color($yellow, 50%) !default;
$yellow-l6: light-color($yellow, 40%) !default;
$yellow-l7: light-color($yellow, 30%) !default;
$yellow-l8: light-color($yellow, 20%) !default;
$yellow-l9: light-color($yellow, 10%) !default;

$yellow-s1: shade-color($yellow, 10%) !default;
$yellow-s2: shade-color($yellow, 20%) !default;
$yellow-s3: shade-color($yellow, 30%) !default;
$yellow-s4: shade-color($yellow, 40%) !default;
$yellow-s5: shade-color($yellow, 50%) !default;
$yellow-s6: shade-color($yellow, 60%) !default;
$yellow-s7: shade-color($yellow, 70%) !default;
$yellow-s8: shade-color($yellow, 80%) !default;
$yellow-s9: shade-color($yellow, 90%) !default;

$orange-a1: rgba($orange, 0.1) !default;
$orange-a2: rgba($orange, 0.2) !default;
$orange-a3: rgba($orange, 0.3) !default;
$orange-a4: rgba($orange, 0.4) !default;
$orange-a5: rgba($orange, 0.5) !default;
$orange-a6: rgba($orange, 0.6) !default;
$orange-a7: rgba($orange, 0.7) !default;
$orange-a8: rgba($orange, 0.8) !default;
$orange-a9: rgba($orange, 0.9) !default;

$orange-l1: light-color($orange, 90%) !default;
$orange-l2: light-color($orange, 80%) !default;
$orange-l3: light-color($orange, 70%) !default;
$orange-l4: light-color($orange, 60%) !default;
$orange-l5: light-color($orange, 50%) !default;
$orange-l6: light-color($orange, 40%) !default;
$orange-l7: light-color($orange, 30%) !default;
$orange-l8: light-color($orange, 20%) !default;
$orange-l9: light-color($orange, 10%) !default;

$orange-s1: shade-color($orange, 10%) !default;
$orange-s2: shade-color($orange, 20%) !default;
$orange-s3: shade-color($orange, 30%) !default;
$orange-s4: shade-color($orange, 40%) !default;
$orange-s5: shade-color($orange, 50%) !default;
$orange-s6: shade-color($orange, 60%) !default;
$orange-s7: shade-color($orange, 70%) !default;
$orange-s8: shade-color($orange, 80%) !default;
$orange-s9: shade-color($orange, 90%) !default;

$brown-a1: rgba($brown, 0.1) !default;
$brown-a2: rgba($brown, 0.2) !default;
$brown-a3: rgba($brown, 0.3) !default;
$brown-a4: rgba($brown, 0.4) !default;
$brown-a5: rgba($brown, 0.5) !default;
$brown-a6: rgba($brown, 0.6) !default;
$brown-a7: rgba($brown, 0.7) !default;
$brown-a8: rgba($brown, 0.8) !default;
$brown-a9: rgba($brown, 0.9) !default;

$brown-l1: light-color($brown, 90%) !default;
$brown-l2: light-color($brown, 80%) !default;
$brown-l3: light-color($brown, 70%) !default;
$brown-l4: light-color($brown, 60%) !default;
$brown-l5: light-color($brown, 50%) !default;
$brown-l6: light-color($brown, 40%) !default;
$brown-l7: light-color($brown, 30%) !default;
$brown-l8: light-color($brown, 20%) !default;
$brown-l9: light-color($brown, 10%) !default;

$brown-s1: shade-color($brown, 10%) !default;
$brown-s2: shade-color($brown, 20%) !default;
$brown-s3: shade-color($brown, 30%) !default;
$brown-s4: shade-color($brown, 40%) !default;
$brown-s5: shade-color($brown, 50%) !default;
$brown-s6: shade-color($brown, 60%) !default;
$brown-s7: shade-color($brown, 70%) !default;
$brown-s8: shade-color($brown, 80%) !default;
$brown-s9: shade-color($brown, 90%) !default;

$gray-a1: rgba($gray, 0.1) !default;
$gray-a2: rgba($gray, 0.2) !default;
$gray-a3: rgba($gray, 0.3) !default;
$gray-a4: rgba($gray, 0.4) !default;
$gray-a5: rgba($gray, 0.5) !default;
$gray-a6: rgba($gray, 0.6) !default;
$gray-a7: rgba($gray, 0.7) !default;
$gray-a8: rgba($gray, 0.8) !default;
$gray-a9: rgba($gray, 0.9) !default;

$gray-l1: light-color($gray, 90%) !default;
$gray-l2: light-color($gray, 80%) !default;
$gray-l3: light-color($gray, 70%) !default;
$gray-l4: light-color($gray, 60%) !default;
$gray-l5: light-color($gray, 50%) !default;
$gray-l6: light-color($gray, 40%) !default;
$gray-l7: light-color($gray, 30%) !default;
$gray-l8: light-color($gray, 20%) !default;
$gray-l9: light-color($gray, 10%) !default;

$gray-s1: shade-color($gray, 10%) !default;
$gray-s2: shade-color($gray, 20%) !default;
$gray-s3: shade-color($gray, 30%) !default;
$gray-s4: shade-color($gray, 40%) !default;
$gray-s5: shade-color($gray, 50%) !default;
$gray-s6: shade-color($gray, 60%) !default;
$gray-s7: shade-color($gray, 70%) !default;
$gray-s8: shade-color($gray, 80%) !default;
$gray-s9: shade-color($gray, 90%) !default;

$dark-red-a1: rgba($dark-red, 0.2) !default;
$dark-red-a2: rgba($dark-red, 0.29) !default;
$dark-red-a3: rgba($dark-red, 0.38) !default;
$dark-red-a4: rgba($dark-red, 0.47) !default;
$dark-red-a5: rgba($dark-red, 0.56) !default;
$dark-red-a6: rgba($dark-red, 0.65) !default;
$dark-red-a7: rgba($dark-red, 0.74) !default;
$dark-red-a8: rgba($dark-red, 0.83) !default;
$dark-red-a9: rgba($dark-red, 0.92) !default;

$dark-red-l1: shade-color($dark-red, 90%) !default;
$dark-red-l2: shade-color($dark-red, 80%) !default;
$dark-red-l3: shade-color($dark-red, 70%) !default;
$dark-red-l4: shade-color($dark-red, 60%) !default;
$dark-red-l5: shade-color($dark-red, 50%) !default;
$dark-red-l6: shade-color($dark-red, 40%) !default;
$dark-red-l7: shade-color($dark-red, 30%) !default;
$dark-red-l8: shade-color($dark-red, 20%) !default;
$dark-red-l9: shade-color($dark-red, 10%) !default;

$dark-red-s1: light-color($dark-red, 10%) !default;
$dark-red-s2: light-color($dark-red, 20%) !default;
$dark-red-s3: light-color($dark-red, 30%) !default;
$dark-red-s4: light-color($dark-red, 40%) !default;
$dark-red-s5: light-color($dark-red, 50%) !default;
$dark-red-s6: light-color($dark-red, 60%) !default;
$dark-red-s7: light-color($dark-red, 70%) !default;
$dark-red-s8: light-color($dark-red, 80%) !default;
$dark-red-s9: light-color($dark-red, 90%) !default;

$dark-magenta-a1: rgba($dark-magenta, 0.2) !default;
$dark-magenta-a2: rgba($dark-magenta, 0.29) !default;
$dark-magenta-a3: rgba($dark-magenta, 0.38) !default;
$dark-magenta-a4: rgba($dark-magenta, 0.47) !default;
$dark-magenta-a5: rgba($dark-magenta, 0.56) !default;
$dark-magenta-a6: rgba($dark-magenta, 0.65) !default;
$dark-magenta-a7: rgba($dark-magenta, 0.74) !default;
$dark-magenta-a8: rgba($dark-magenta, 0.83) !default;
$dark-magenta-a9: rgba($dark-magenta, 0.92) !default;

$dark-magenta-l1: shade-color($dark-magenta, 90%) !default;
$dark-magenta-l2: shade-color($dark-magenta, 80%) !default;
$dark-magenta-l3: shade-color($dark-magenta, 70%) !default;
$dark-magenta-l4: shade-color($dark-magenta, 60%) !default;
$dark-magenta-l5: shade-color($dark-magenta, 50%) !default;
$dark-magenta-l6: shade-color($dark-magenta, 40%) !default;
$dark-magenta-l7: shade-color($dark-magenta, 30%) !default;
$dark-magenta-l8: shade-color($dark-magenta, 20%) !default;
$dark-magenta-l9: shade-color($dark-magenta, 10%) !default;

$dark-magenta-s1: light-color($dark-magenta, 10%) !default;
$dark-magenta-s2: light-color($dark-magenta, 20%) !default;
$dark-magenta-s3: light-color($dark-magenta, 30%) !default;
$dark-magenta-s4: light-color($dark-magenta, 40%) !default;
$dark-magenta-s5: light-color($dark-magenta, 50%) !default;
$dark-magenta-s6: light-color($dark-magenta, 60%) !default;
$dark-magenta-s7: light-color($dark-magenta, 70%) !default;
$dark-magenta-s8: light-color($dark-magenta, 80%) !default;
$dark-magenta-s9: light-color($dark-magenta, 90%) !default;

$dark-purple-a1: rgba($dark-purple, 0.2) !default;
$dark-purple-a2: rgba($dark-purple, 0.29) !default;
$dark-purple-a3: rgba($dark-purple, 0.38) !default;
$dark-purple-a4: rgba($dark-purple, 0.47) !default;
$dark-purple-a5: rgba($dark-purple, 0.56) !default;
$dark-purple-a6: rgba($dark-purple, 0.65) !default;
$dark-purple-a7: rgba($dark-purple, 0.74) !default;
$dark-purple-a8: rgba($dark-purple, 0.83) !default;
$dark-purple-a9: rgba($dark-purple, 0.92) !default;

$dark-purple-l1: shade-color($dark-purple, 90%) !default;
$dark-purple-l2: shade-color($dark-purple, 80%) !default;
$dark-purple-l3: shade-color($dark-purple, 70%) !default;
$dark-purple-l4: shade-color($dark-purple, 60%) !default;
$dark-purple-l5: shade-color($dark-purple, 50%) !default;
$dark-purple-l6: shade-color($dark-purple, 40%) !default;
$dark-purple-l7: shade-color($dark-purple, 30%) !default;
$dark-purple-l8: shade-color($dark-purple, 20%) !default;
$dark-purple-l9: shade-color($dark-purple, 10%) !default;

$dark-purple-s1: light-color($dark-purple, 10%) !default;
$dark-purple-s2: light-color($dark-purple, 20%) !default;
$dark-purple-s3: light-color($dark-purple, 30%) !default;
$dark-purple-s4: light-color($dark-purple, 40%) !default;
$dark-purple-s5: light-color($dark-purple, 50%) !default;
$dark-purple-s6: light-color($dark-purple, 60%) !default;
$dark-purple-s7: light-color($dark-purple, 70%) !default;
$dark-purple-s8: light-color($dark-purple, 80%) !default;
$dark-purple-s9: light-color($dark-purple, 90%) !default;

$dark-indigo-a1: rgba($dark-indigo, 0.2) !default;
$dark-indigo-a2: rgba($dark-indigo, 0.29) !default;
$dark-indigo-a3: rgba($dark-indigo, 0.38) !default;
$dark-indigo-a4: rgba($dark-indigo, 0.47) !default;
$dark-indigo-a5: rgba($dark-indigo, 0.56) !default;
$dark-indigo-a6: rgba($dark-indigo, 0.65) !default;
$dark-indigo-a7: rgba($dark-indigo, 0.74) !default;
$dark-indigo-a8: rgba($dark-indigo, 0.83) !default;
$dark-indigo-a9: rgba($dark-indigo, 0.92) !default;

$dark-indigo-l1: shade-color($dark-indigo, 90%) !default;
$dark-indigo-l2: shade-color($dark-indigo, 80%) !default;
$dark-indigo-l3: shade-color($dark-indigo, 70%) !default;
$dark-indigo-l4: shade-color($dark-indigo, 60%) !default;
$dark-indigo-l5: shade-color($dark-indigo, 50%) !default;
$dark-indigo-l6: shade-color($dark-indigo, 40%) !default;
$dark-indigo-l7: shade-color($dark-indigo, 30%) !default;
$dark-indigo-l8: shade-color($dark-indigo, 20%) !default;
$dark-indigo-l9: shade-color($dark-indigo, 10%) !default;

$dark-indigo-s1: light-color($dark-indigo, 10%) !default;
$dark-indigo-s2: light-color($dark-indigo, 20%) !default;
$dark-indigo-s3: light-color($dark-indigo, 30%) !default;
$dark-indigo-s4: light-color($dark-indigo, 40%) !default;
$dark-indigo-s5: light-color($dark-indigo, 50%) !default;
$dark-indigo-s6: light-color($dark-indigo, 60%) !default;
$dark-indigo-s7: light-color($dark-indigo, 70%) !default;
$dark-indigo-s8: light-color($dark-indigo, 80%) !default;
$dark-indigo-s9: light-color($dark-indigo, 90%) !default;

$dark-navy-a1: rgba($dark-navy, 0.2) !default;
$dark-navy-a2: rgba($dark-navy, 0.29) !default;
$dark-navy-a3: rgba($dark-navy, 0.38) !default;
$dark-navy-a4: rgba($dark-navy, 0.47) !default;
$dark-navy-a5: rgba($dark-navy, 0.56) !default;
$dark-navy-a6: rgba($dark-navy, 0.65) !default;
$dark-navy-a7: rgba($dark-navy, 0.74) !default;
$dark-navy-a8: rgba($dark-navy, 0.83) !default;
$dark-navy-a9: rgba($dark-navy, 0.92) !default;

$dark-navy-l1: shade-color($dark-navy, 90%) !default;
$dark-navy-l2: shade-color($dark-navy, 80%) !default;
$dark-navy-l3: shade-color($dark-navy, 70%) !default;
$dark-navy-l4: shade-color($dark-navy, 60%) !default;
$dark-navy-l5: shade-color($dark-navy, 50%) !default;
$dark-navy-l6: shade-color($dark-navy, 40%) !default;
$dark-navy-l7: shade-color($dark-navy, 30%) !default;
$dark-navy-l8: shade-color($dark-navy, 20%) !default;
$dark-navy-l9: shade-color($dark-navy, 10%) !default;

$dark-navy-s1: light-color($dark-navy, 10%) !default;
$dark-navy-s2: light-color($dark-navy, 20%) !default;
$dark-navy-s3: light-color($dark-navy, 30%) !default;
$dark-navy-s4: light-color($dark-navy, 40%) !default;
$dark-navy-s5: light-color($dark-navy, 50%) !default;
$dark-navy-s6: light-color($dark-navy, 60%) !default;
$dark-navy-s7: light-color($dark-navy, 70%) !default;
$dark-navy-s8: light-color($dark-navy, 80%) !default;
$dark-navy-s9: light-color($dark-navy, 90%) !default;

$dark-blue-a1: rgba($dark-blue, 0.2) !default;
$dark-blue-a2: rgba($dark-blue, 0.29) !default;
$dark-blue-a3: rgba($dark-blue, 0.38) !default;
$dark-blue-a4: rgba($dark-blue, 0.47) !default;
$dark-blue-a5: rgba($dark-blue, 0.56) !default;
$dark-blue-a6: rgba($dark-blue, 0.65) !default;
$dark-blue-a7: rgba($dark-blue, 0.74) !default;
$dark-blue-a8: rgba($dark-blue, 0.83) !default;
$dark-blue-a9: rgba($dark-blue, 0.92) !default;

$dark-blue-l1: shade-color($dark-blue, 90%) !default;
$dark-blue-l2: shade-color($dark-blue, 80%) !default;
$dark-blue-l3: shade-color($dark-blue, 70%) !default;
$dark-blue-l4: shade-color($dark-blue, 60%) !default;
$dark-blue-l5: shade-color($dark-blue, 50%) !default;
$dark-blue-l6: shade-color($dark-blue, 40%) !default;
$dark-blue-l7: shade-color($dark-blue, 30%) !default;
$dark-blue-l8: shade-color($dark-blue, 20%) !default;
$dark-blue-l9: shade-color($dark-blue, 10%) !default;

$dark-blue-s1: light-color($dark-blue, 10%) !default;
$dark-blue-s2: light-color($dark-blue, 20%) !default;
$dark-blue-s3: light-color($dark-blue, 30%) !default;
$dark-blue-s4: light-color($dark-blue, 40%) !default;
$dark-blue-s5: light-color($dark-blue, 50%) !default;
$dark-blue-s6: light-color($dark-blue, 60%) !default;
$dark-blue-s7: light-color($dark-blue, 70%) !default;
$dark-blue-s8: light-color($dark-blue, 80%) !default;
$dark-blue-s9: light-color($dark-blue, 90%) !default;

$dark-cyan-a1: rgba($dark-cyan, 0.2) !default;
$dark-cyan-a2: rgba($dark-cyan, 0.29) !default;
$dark-cyan-a3: rgba($dark-cyan, 0.38) !default;
$dark-cyan-a4: rgba($dark-cyan, 0.47) !default;
$dark-cyan-a5: rgba($dark-cyan, 0.56) !default;
$dark-cyan-a6: rgba($dark-cyan, 0.65) !default;
$dark-cyan-a7: rgba($dark-cyan, 0.74) !default;
$dark-cyan-a8: rgba($dark-cyan, 0.83) !default;
$dark-cyan-a9: rgba($dark-cyan, 0.92) !default;

$dark-cyan-l1: shade-color($dark-cyan, 90%) !default;
$dark-cyan-l2: shade-color($dark-cyan, 80%) !default;
$dark-cyan-l3: shade-color($dark-cyan, 70%) !default;
$dark-cyan-l4: shade-color($dark-cyan, 60%) !default;
$dark-cyan-l5: shade-color($dark-cyan, 50%) !default;
$dark-cyan-l6: shade-color($dark-cyan, 40%) !default;
$dark-cyan-l7: shade-color($dark-cyan, 30%) !default;
$dark-cyan-l8: shade-color($dark-cyan, 20%) !default;
$dark-cyan-l9: shade-color($dark-cyan, 10%) !default;

$dark-cyan-s1: light-color($dark-cyan, 10%) !default;
$dark-cyan-s2: light-color($dark-cyan, 20%) !default;
$dark-cyan-s3: light-color($dark-cyan, 30%) !default;
$dark-cyan-s4: light-color($dark-cyan, 40%) !default;
$dark-cyan-s5: light-color($dark-cyan, 50%) !default;
$dark-cyan-s6: light-color($dark-cyan, 60%) !default;
$dark-cyan-s7: light-color($dark-cyan, 70%) !default;
$dark-cyan-s8: light-color($dark-cyan, 80%) !default;
$dark-cyan-s9: light-color($dark-cyan, 90%) !default;

$dark-teal-a1: rgba($dark-teal, 0.2) !default;
$dark-teal-a2: rgba($dark-teal, 0.29) !default;
$dark-teal-a3: rgba($dark-teal, 0.38) !default;
$dark-teal-a4: rgba($dark-teal, 0.47) !default;
$dark-teal-a5: rgba($dark-teal, 0.56) !default;
$dark-teal-a6: rgba($dark-teal, 0.65) !default;
$dark-teal-a7: rgba($dark-teal, 0.74) !default;
$dark-teal-a8: rgba($dark-teal, 0.83) !default;
$dark-teal-a9: rgba($dark-teal, 0.92) !default;

$dark-teal-l1: shade-color($dark-teal, 90%) !default;
$dark-teal-l2: shade-color($dark-teal, 80%) !default;
$dark-teal-l3: shade-color($dark-teal, 70%) !default;
$dark-teal-l4: shade-color($dark-teal, 60%) !default;
$dark-teal-l5: shade-color($dark-teal, 50%) !default;
$dark-teal-l6: shade-color($dark-teal, 40%) !default;
$dark-teal-l7: shade-color($dark-teal, 30%) !default;
$dark-teal-l8: shade-color($dark-teal, 20%) !default;
$dark-teal-l9: shade-color($dark-teal, 10%) !default;

$dark-teal-s1: light-color($dark-teal, 10%) !default;
$dark-teal-s2: light-color($dark-teal, 20%) !default;
$dark-teal-s3: light-color($dark-teal, 30%) !default;
$dark-teal-s4: light-color($dark-teal, 40%) !default;
$dark-teal-s5: light-color($dark-teal, 50%) !default;
$dark-teal-s6: light-color($dark-teal, 60%) !default;
$dark-teal-s7: light-color($dark-teal, 70%) !default;
$dark-teal-s8: light-color($dark-teal, 80%) !default;
$dark-teal-s9: light-color($dark-teal, 90%) !default;

$dark-green-a1: rgba($dark-green, 0.2) !default;
$dark-green-a2: rgba($dark-green, 0.29) !default;
$dark-green-a3: rgba($dark-green, 0.38) !default;
$dark-green-a4: rgba($dark-green, 0.47) !default;
$dark-green-a5: rgba($dark-green, 0.56) !default;
$dark-green-a6: rgba($dark-green, 0.65) !default;
$dark-green-a7: rgba($dark-green, 0.74) !default;
$dark-green-a8: rgba($dark-green, 0.83) !default;
$dark-green-a9: rgba($dark-green, 0.92) !default;

$dark-green-l1: shade-color($dark-green, 90%) !default;
$dark-green-l2: shade-color($dark-green, 80%) !default;
$dark-green-l3: shade-color($dark-green, 70%) !default;
$dark-green-l4: shade-color($dark-green, 60%) !default;
$dark-green-l5: shade-color($dark-green, 50%) !default;
$dark-green-l6: shade-color($dark-green, 40%) !default;
$dark-green-l7: shade-color($dark-green, 30%) !default;
$dark-green-l8: shade-color($dark-green, 20%) !default;
$dark-green-l9: shade-color($dark-green, 10%) !default;

$dark-green-s1: light-color($dark-green, 10%) !default;
$dark-green-s2: light-color($dark-green, 20%) !default;
$dark-green-s3: light-color($dark-green, 30%) !default;
$dark-green-s4: light-color($dark-green, 40%) !default;
$dark-green-s5: light-color($dark-green, 50%) !default;
$dark-green-s6: light-color($dark-green, 60%) !default;
$dark-green-s7: light-color($dark-green, 70%) !default;
$dark-green-s8: light-color($dark-green, 80%) !default;
$dark-green-s9: light-color($dark-green, 90%) !default;

$dark-lime-a1: rgba($dark-lime, 0.2) !default;
$dark-lime-a2: rgba($dark-lime, 0.29) !default;
$dark-lime-a3: rgba($dark-lime, 0.38) !default;
$dark-lime-a4: rgba($dark-lime, 0.47) !default;
$dark-lime-a5: rgba($dark-lime, 0.56) !default;
$dark-lime-a6: rgba($dark-lime, 0.65) !default;
$dark-lime-a7: rgba($dark-lime, 0.74) !default;
$dark-lime-a8: rgba($dark-lime, 0.83) !default;
$dark-lime-a9: rgba($dark-lime, 0.92) !default;

$dark-lime-l1: shade-color($dark-lime, 90%) !default;
$dark-lime-l2: shade-color($dark-lime, 80%) !default;
$dark-lime-l3: shade-color($dark-lime, 70%) !default;
$dark-lime-l4: shade-color($dark-lime, 60%) !default;
$dark-lime-l5: shade-color($dark-lime, 50%) !default;
$dark-lime-l6: shade-color($dark-lime, 40%) !default;
$dark-lime-l7: shade-color($dark-lime, 30%) !default;
$dark-lime-l8: shade-color($dark-lime, 20%) !default;
$dark-lime-l9: shade-color($dark-lime, 10%) !default;

$dark-lime-s1: light-color($dark-lime, 10%) !default;
$dark-lime-s2: light-color($dark-lime, 20%) !default;
$dark-lime-s3: light-color($dark-lime, 30%) !default;
$dark-lime-s4: light-color($dark-lime, 40%) !default;
$dark-lime-s5: light-color($dark-lime, 50%) !default;
$dark-lime-s6: light-color($dark-lime, 60%) !default;
$dark-lime-s7: light-color($dark-lime, 70%) !default;
$dark-lime-s8: light-color($dark-lime, 80%) !default;
$dark-lime-s9: light-color($dark-lime, 90%) !default;

$dark-yellow-a1: rgba($dark-yellow, 0.2) !default;
$dark-yellow-a2: rgba($dark-yellow, 0.29) !default;
$dark-yellow-a3: rgba($dark-yellow, 0.38) !default;
$dark-yellow-a4: rgba($dark-yellow, 0.47) !default;
$dark-yellow-a5: rgba($dark-yellow, 0.56) !default;
$dark-yellow-a6: rgba($dark-yellow, 0.65) !default;
$dark-yellow-a7: rgba($dark-yellow, 0.74) !default;
$dark-yellow-a8: rgba($dark-yellow, 0.83) !default;
$dark-yellow-a9: rgba($dark-yellow, 0.92) !default;

$dark-yellow-l1: shade-color($dark-yellow, 90%) !default;
$dark-yellow-l2: shade-color($dark-yellow, 80%) !default;
$dark-yellow-l3: shade-color($dark-yellow, 70%) !default;
$dark-yellow-l4: shade-color($dark-yellow, 60%) !default;
$dark-yellow-l5: shade-color($dark-yellow, 50%) !default;
$dark-yellow-l6: shade-color($dark-yellow, 40%) !default;
$dark-yellow-l7: shade-color($dark-yellow, 30%) !default;
$dark-yellow-l8: shade-color($dark-yellow, 20%) !default;
$dark-yellow-l9: shade-color($dark-yellow, 10%) !default;

$dark-yellow-s1: light-color($dark-yellow, 10%) !default;
$dark-yellow-s2: light-color($dark-yellow, 20%) !default;
$dark-yellow-s3: light-color($dark-yellow, 30%) !default;
$dark-yellow-s4: light-color($dark-yellow, 40%) !default;
$dark-yellow-s5: light-color($dark-yellow, 50%) !default;
$dark-yellow-s6: light-color($dark-yellow, 60%) !default;
$dark-yellow-s7: light-color($dark-yellow, 70%) !default;
$dark-yellow-s8: light-color($dark-yellow, 80%) !default;
$dark-yellow-s9: light-color($dark-yellow, 90%) !default;

$dark-orange-a1: rgba($dark-orange, 0.2) !default;
$dark-orange-a2: rgba($dark-orange, 0.29) !default;
$dark-orange-a3: rgba($dark-orange, 0.38) !default;
$dark-orange-a4: rgba($dark-orange, 0.47) !default;
$dark-orange-a5: rgba($dark-orange, 0.56) !default;
$dark-orange-a6: rgba($dark-orange, 0.65) !default;
$dark-orange-a7: rgba($dark-orange, 0.74) !default;
$dark-orange-a8: rgba($dark-orange, 0.83) !default;
$dark-orange-a9: rgba($dark-orange, 0.92) !default;

$dark-orange-l1: shade-color($dark-orange, 90%) !default;
$dark-orange-l2: shade-color($dark-orange, 80%) !default;
$dark-orange-l3: shade-color($dark-orange, 70%) !default;
$dark-orange-l4: shade-color($dark-orange, 60%) !default;
$dark-orange-l5: shade-color($dark-orange, 50%) !default;
$dark-orange-l6: shade-color($dark-orange, 40%) !default;
$dark-orange-l7: shade-color($dark-orange, 30%) !default;
$dark-orange-l8: shade-color($dark-orange, 20%) !default;
$dark-orange-l9: shade-color($dark-orange, 10%) !default;

$dark-orange-s1: light-color($dark-orange, 10%) !default;
$dark-orange-s2: light-color($dark-orange, 20%) !default;
$dark-orange-s3: light-color($dark-orange, 30%) !default;
$dark-orange-s4: light-color($dark-orange, 40%) !default;
$dark-orange-s5: light-color($dark-orange, 50%) !default;
$dark-orange-s6: light-color($dark-orange, 60%) !default;
$dark-orange-s7: light-color($dark-orange, 70%) !default;
$dark-orange-s8: light-color($dark-orange, 80%) !default;
$dark-orange-s9: light-color($dark-orange, 90%) !default;

$dark-brown-a1: rgba($dark-brown, 0.2) !default;
$dark-brown-a2: rgba($dark-brown, 0.29) !default;
$dark-brown-a3: rgba($dark-brown, 0.38) !default;
$dark-brown-a4: rgba($dark-brown, 0.47) !default;
$dark-brown-a5: rgba($dark-brown, 0.56) !default;
$dark-brown-a6: rgba($dark-brown, 0.65) !default;
$dark-brown-a7: rgba($dark-brown, 0.74) !default;
$dark-brown-a8: rgba($dark-brown, 0.83) !default;
$dark-brown-a9: rgba($dark-brown, 0.92) !default;

$dark-brown-l1: shade-color($dark-brown, 90%) !default;
$dark-brown-l2: shade-color($dark-brown, 80%) !default;
$dark-brown-l3: shade-color($dark-brown, 70%) !default;
$dark-brown-l4: shade-color($dark-brown, 60%) !default;
$dark-brown-l5: shade-color($dark-brown, 50%) !default;
$dark-brown-l6: shade-color($dark-brown, 40%) !default;
$dark-brown-l7: shade-color($dark-brown, 30%) !default;
$dark-brown-l8: shade-color($dark-brown, 20%) !default;
$dark-brown-l9: shade-color($dark-brown, 10%) !default;

$dark-brown-s1: light-color($dark-brown, 10%) !default;
$dark-brown-s2: light-color($dark-brown, 20%) !default;
$dark-brown-s3: light-color($dark-brown, 30%) !default;
$dark-brown-s4: light-color($dark-brown, 40%) !default;
$dark-brown-s5: light-color($dark-brown, 50%) !default;
$dark-brown-s6: light-color($dark-brown, 60%) !default;
$dark-brown-s7: light-color($dark-brown, 70%) !default;
$dark-brown-s8: light-color($dark-brown, 80%) !default;
$dark-brown-s9: light-color($dark-brown, 90%) !default;

$dark-gray-a1: rgba($dark-gray, 0.2) !default;
$dark-gray-a2: rgba($dark-gray, 0.29) !default;
$dark-gray-a3: rgba($dark-gray, 0.38) !default;
$dark-gray-a4: rgba($dark-gray, 0.47) !default;
$dark-gray-a5: rgba($dark-gray, 0.56) !default;
$dark-gray-a6: rgba($dark-gray, 0.65) !default;
$dark-gray-a7: rgba($dark-gray, 0.74) !default;
$dark-gray-a8: rgba($dark-gray, 0.83) !default;
$dark-gray-a9: rgba($dark-gray, 0.92) !default;

$dark-gray-l1: shade-color($dark-gray, 90%) !default;
$dark-gray-l2: shade-color($dark-gray, 80%) !default;
$dark-gray-l3: shade-color($dark-gray, 70%) !default;
$dark-gray-l4: shade-color($dark-gray, 60%) !default;
$dark-gray-l5: shade-color($dark-gray, 50%) !default;
$dark-gray-l6: shade-color($dark-gray, 40%) !default;
$dark-gray-l7: shade-color($dark-gray, 30%) !default;
$dark-gray-l8: shade-color($dark-gray, 20%) !default;
$dark-gray-l9: shade-color($dark-gray, 10%) !default;

$dark-gray-s1: light-color($dark-gray, 10%) !default;
$dark-gray-s2: light-color($dark-gray, 20%) !default;
$dark-gray-s3: light-color($dark-gray, 30%) !default;
$dark-gray-s4: light-color($dark-gray, 40%) !default;
$dark-gray-s5: light-color($dark-gray, 50%) !default;
$dark-gray-s6: light-color($dark-gray, 60%) !default;
$dark-gray-s7: light-color($dark-gray, 70%) !default;
$dark-gray-s8: light-color($dark-gray, 80%) !default;
$dark-gray-s9: light-color($dark-gray, 90%) !default;
