@import "./base";
@import "./light";
@import "./dark";
@import "./palettes";
@import "../functions/merge-maps";

$base-properties: (
  "--space-1x": $space-1x,
  "--space-2x": $space-2x,
  "--space-3x": $space-3x,
  "--space-4x": $space-4x,
  "--space-5x": $space-5x,
  "--space-6x": $space-6x,
  "--space-7x": $space-7x,
  "--space-8x": $space-8x,
  "--space-9x": $space-9x,

  "--font-size-h1": $font-size-h1,
  "--font-size-h2": $font-size-h2,
  "--font-size-h3": $font-size-h3,
  "--font-size-h4": $font-size-h4,
  "--font-size-h5": $font-size-h5,
  "--font-size-h6": $font-size-h6,

  "--font-size-base": $font-size-base,
  "--font-size-small": $font-size-small,
  "--font-size-large": $font-size-large,

  "--font-family-base": $font-family-base,
  "--font-family-mono": $font-family-mono,

  "--line-height-base": $line-height-base,
  "--line-height-small": $line-height-small,
  "--line-height-large": $line-height-large,

  "--line-height-fixed-base": $line-height-fixed-base,
  "--line-height-fixed-small": $line-height-fixed-small,
  "--line-height-fixed-large": $line-height-fixed-large,

  "--border-radius-base": $border-radius-base,
  "--border-radius-small": $border-radius-small,
  "--border-radius-large": $border-radius-large,
  "--border-radius-round": $border-radius-round,

  "--border-radius-fixed-base": $border-radius-fixed-base,
  "--border-radius-fixed-small": $border-radius-fixed-small,
  "--border-radius-fixed-large": $border-radius-fixed-large,

  "--motion-duration-base": $motion-duration-base,
  "--motion-duration-fast": $motion-duration-fast,
  "--motion-duration-slow": $motion-duration-slow,
  "--motion-duration-lazy": $motion-duration-lazy,

  "--motion-function-base": $motion-function-base,
  "--motion-function-spin": $motion-function-spin,
) !default;

$light-properties: (
  "--red": $red,
  "--magenta": $magenta,
  "--purple": $purple,
  "--indigo": $indigo,
  "--navy": $navy,
  "--blue": $blue,
  "--cyan": $cyan,
  "--teal": $teal,
  "--green": $green,
  "--lime": $lime,
  "--yellow": $yellow,
  "--orange": $orange,
  "--brown": $brown,
  "--gray": $gray,

  "--red-rgb": $red-rgb,
  "--magenta-rgb": $magenta-rgb,
  "--purple-rgb": $purple-rgb,
  "--indigo-rgb": $indigo-rgb,
  "--navy-rgb": $navy-rgb,
  "--blue-rgb": $blue-rgb,
  "--cyan-rgb": $cyan-rgb,
  "--teal-rgb": $teal-rgb,
  "--green-rgb": $green-rgb,
  "--lime-rgb": $lime-rgb,
  "--yellow-rgb": $yellow-rgb,
  "--orange-rgb": $orange-rgb,
  "--brown-rgb": $brown-rgb,
  "--gray-rgb": $gray-rgb,

  "--red-0": $red-0,
  "--red-1": $red-1,
  "--red-2": $red-2,
  "--red-3": $red-3,
  "--red-4": $red-4,
  "--red-5": $red-5,
  "--red-6": $red-6,
  "--red-7": $red-7,
  "--red-8": $red-8,
  "--red-9": $red-9,

  "--magenta-0": $magenta-0,
  "--magenta-1": $magenta-1,
  "--magenta-2": $magenta-2,
  "--magenta-3": $magenta-3,
  "--magenta-4": $magenta-4,
  "--magenta-5": $magenta-5,
  "--magenta-6": $magenta-6,
  "--magenta-7": $magenta-7,
  "--magenta-8": $magenta-8,
  "--magenta-9": $magenta-9,

  "--purple-0": $purple-0,
  "--purple-1": $purple-1,
  "--purple-2": $purple-2,
  "--purple-3": $purple-3,
  "--purple-4": $purple-4,
  "--purple-5": $purple-5,
  "--purple-6": $purple-6,
  "--purple-7": $purple-7,
  "--purple-8": $purple-8,
  "--purple-9": $purple-9,

  "--indigo-0": $indigo-0,
  "--indigo-1": $indigo-1,
  "--indigo-2": $indigo-2,
  "--indigo-3": $indigo-3,
  "--indigo-4": $indigo-4,
  "--indigo-5": $indigo-5,
  "--indigo-6": $indigo-6,
  "--indigo-7": $indigo-7,
  "--indigo-8": $indigo-8,
  "--indigo-9": $indigo-9,

  "--navy-0": $navy-0,
  "--navy-1": $navy-1,
  "--navy-2": $navy-2,
  "--navy-3": $navy-3,
  "--navy-4": $navy-4,
  "--navy-5": $navy-5,
  "--navy-6": $navy-6,
  "--navy-7": $navy-7,
  "--navy-8": $navy-8,
  "--navy-9": $navy-9,

  "--blue-0": $blue-0,
  "--blue-1": $blue-1,
  "--blue-2": $blue-2,
  "--blue-3": $blue-3,
  "--blue-4": $blue-4,
  "--blue-5": $blue-5,
  "--blue-6": $blue-6,
  "--blue-7": $blue-7,
  "--blue-8": $blue-8,
  "--blue-9": $blue-9,

  "--cyan-0": $cyan-0,
  "--cyan-1": $cyan-1,
  "--cyan-2": $cyan-2,
  "--cyan-3": $cyan-3,
  "--cyan-4": $cyan-4,
  "--cyan-5": $cyan-5,
  "--cyan-6": $cyan-6,
  "--cyan-7": $cyan-7,
  "--cyan-8": $cyan-8,
  "--cyan-9": $cyan-9,

  "--teal-0": $teal-0,
  "--teal-1": $teal-1,
  "--teal-2": $teal-2,
  "--teal-3": $teal-3,
  "--teal-4": $teal-4,
  "--teal-5": $teal-5,
  "--teal-6": $teal-6,
  "--teal-7": $teal-7,
  "--teal-8": $teal-8,
  "--teal-9": $teal-9,

  "--green-0": $green-0,
  "--green-1": $green-1,
  "--green-2": $green-2,
  "--green-3": $green-3,
  "--green-4": $green-4,
  "--green-5": $green-5,
  "--green-6": $green-6,
  "--green-7": $green-7,
  "--green-8": $green-8,
  "--green-9": $green-9,

  "--lime-0": $lime-0,
  "--lime-1": $lime-1,
  "--lime-2": $lime-2,
  "--lime-3": $lime-3,
  "--lime-4": $lime-4,
  "--lime-5": $lime-5,
  "--lime-6": $lime-6,
  "--lime-7": $lime-7,
  "--lime-8": $lime-8,
  "--lime-9": $lime-9,

  "--yellow-0": $yellow-0,
  "--yellow-1": $yellow-1,
  "--yellow-2": $yellow-2,
  "--yellow-3": $yellow-3,
  "--yellow-4": $yellow-4,
  "--yellow-5": $yellow-5,
  "--yellow-6": $yellow-6,
  "--yellow-7": $yellow-7,
  "--yellow-8": $yellow-8,
  "--yellow-9": $yellow-9,

  "--orange-0": $orange-0,
  "--orange-1": $orange-1,
  "--orange-2": $orange-2,
  "--orange-3": $orange-3,
  "--orange-4": $orange-4,
  "--orange-5": $orange-5,
  "--orange-6": $orange-6,
  "--orange-7": $orange-7,
  "--orange-8": $orange-8,
  "--orange-9": $orange-9,

  "--brown-0": $brown-0,
  "--brown-1": $brown-1,
  "--brown-2": $brown-2,
  "--brown-3": $brown-3,
  "--brown-4": $brown-4,
  "--brown-5": $brown-5,
  "--brown-6": $brown-6,
  "--brown-7": $brown-7,
  "--brown-8": $brown-8,
  "--brown-9": $brown-9,

  "--gray-0": $gray-0,
  "--gray-1": $gray-1,
  "--gray-2": $gray-2,
  "--gray-3": $gray-3,
  "--gray-4": $gray-4,
  "--gray-5": $gray-5,
  "--gray-6": $gray-6,
  "--gray-7": $gray-7,
  "--gray-8": $gray-8,
  "--gray-9": $gray-9,

  "--basis": $basis,
  "--major": $major,
  "--minor": $minor,
  "--positive": $positive,
  "--alertive": $alertive,
  "--negative": $negative,

  "--basis-rgb": $basis-rgb,
  "--major-rgb": $major-rgb,
  "--minor-rgb": $minor-rgb,
  "--positive-rgb": $positive-rgb,
  "--alertive-rgb": $alertive-rgb,
  "--negative-rgb": $negative-rgb,

  "--alpha-soft": $alpha-soft,
  "--alpha-deep": $alpha-deep,
  "--alpha-dark": $alpha-dark,

  "--text-color-base": $text-color-base,
  "--text-color-hover": $text-color-hover,
  "--text-color-active": $text-color-active,
  "--text-color-inactive": $text-color-inactive,
  "--text-color-disabled": $text-color-disabled,

  "--text-color-solid-base": $text-color-solid-base,
  "--text-color-solid-hover": $text-color-solid-hover,
  "--text-color-solid-active": $text-color-solid-active,
  "--text-color-solid-inactive": $text-color-solid-inactive,
  "--text-color-solid-disabled": $text-color-solid-disabled,

  "--text-color-major-base": $text-color-major-base,
  "--text-color-major-hover": $text-color-major-hover,
  "--text-color-major-active": $text-color-major-active,
  "--text-color-major-inactive": $text-color-major-inactive,
  "--text-color-major-disabled": $text-color-major-disabled,

  "--text-color-minor-base": $text-color-minor-base,
  "--text-color-minor-hover": $text-color-minor-hover,
  "--text-color-minor-active": $text-color-minor-active,
  "--text-color-minor-inactive": $text-color-minor-inactive,
  "--text-color-minor-disabled": $text-color-minor-disabled,

  "--text-color-positive-base": $text-color-positive-base,
  "--text-color-positive-hover": $text-color-positive-hover,
  "--text-color-positive-active": $text-color-positive-active,
  "--text-color-positive-inactive": $text-color-positive-inactive,
  "--text-color-positive-disabled": $text-color-positive-disabled,

  "--text-color-alertive-base": $text-color-alertive-base,
  "--text-color-alertive-hover": $text-color-alertive-hover,
  "--text-color-alertive-active": $text-color-alertive-active,
  "--text-color-alertive-inactive": $text-color-alertive-inactive,
  "--text-color-alertive-disabled": $text-color-alertive-disabled,

  "--text-color-negative-base": $text-color-negative-base,
  "--text-color-negative-hover": $text-color-negative-hover,
  "--text-color-negative-active": $text-color-negative-active,
  "--text-color-negative-inactive": $text-color-negative-inactive,
  "--text-color-negative-disabled": $text-color-negative-disabled,

  "--border-color-base": $border-color-base,
  "--border-color-hover": $border-color-hover,
  "--border-color-active": $border-color-active,
  "--border-color-inactive": $border-color-inactive,
  "--border-color-disabled": $border-color-disabled,

  "--border-color-deep-base": $border-color-deep-base,
  "--border-color-deep-hover": $border-color-deep-hover,
  "--border-color-deep-active": $border-color-deep-active,
  "--border-color-deep-inactive": $border-color-deep-inactive,
  "--border-color-deep-disabled": $border-color-deep-disabled,

  "--border-color-solid-base": $border-color-solid-base,
  "--border-color-solid-hover": $border-color-solid-hover,
  "--border-color-solid-active": $border-color-solid-active,
  "--border-color-solid-inactive": $border-color-solid-inactive,
  "--border-color-solid-disabled": $border-color-solid-disabled,

  "--border-color-major-base": $border-color-major-base,
  "--border-color-major-hover": $border-color-major-hover,
  "--border-color-major-active": $border-color-major-active,
  "--border-color-major-inactive": $border-color-major-inactive,
  "--border-color-major-disabled": $border-color-major-disabled,

  "--border-color-minor-base": $border-color-minor-base,
  "--border-color-minor-hover": $border-color-minor-hover,
  "--border-color-minor-active": $border-color-minor-active,
  "--border-color-minor-inactive": $border-color-minor-inactive,
  "--border-color-minor-disabled": $border-color-minor-disabled,

  "--border-color-positive-base": $border-color-positive-base,
  "--border-color-positive-hover": $border-color-positive-hover,
  "--border-color-positive-active": $border-color-positive-active,
  "--border-color-positive-inactive": $border-color-positive-inactive,
  "--border-color-positive-disabled": $border-color-positive-disabled,

  "--border-color-alertive-base": $border-color-alertive-base,
  "--border-color-alertive-hover": $border-color-alertive-hover,
  "--border-color-alertive-active": $border-color-alertive-active,
  "--border-color-alertive-inactive": $border-color-alertive-inactive,
  "--border-color-alertive-disabled": $border-color-alertive-disabled,

  "--border-color-negative-base": $border-color-negative-base,
  "--border-color-negative-hover": $border-color-negative-hover,
  "--border-color-negative-active": $border-color-negative-active,
  "--border-color-negative-inactive": $border-color-negative-inactive,
  "--border-color-negative-disabled": $border-color-negative-disabled,

  "--border-color-solid-major-base": $border-color-solid-major-base,
  "--border-color-solid-major-hover": $border-color-solid-major-hover,
  "--border-color-solid-major-active": $border-color-solid-major-active,
  "--border-color-solid-major-inactive": $border-color-solid-major-inactive,
  "--border-color-solid-major-disabled": $border-color-solid-major-disabled,

  "--border-color-solid-minor-base": $border-color-solid-minor-base,
  "--border-color-solid-minor-hover": $border-color-solid-minor-hover,
  "--border-color-solid-minor-active": $border-color-solid-minor-active,
  "--border-color-solid-minor-inactive": $border-color-solid-minor-inactive,
  "--border-color-solid-minor-disabled": $border-color-solid-minor-disabled,

  "--border-color-solid-positive-base": $border-color-solid-positive-base,
  "--border-color-solid-positive-hover": $border-color-solid-positive-hover,
  "--border-color-solid-positive-active": $border-color-solid-positive-active,
  "--border-color-solid-positive-inactive": $border-color-solid-positive-inactive,
  "--border-color-solid-positive-disabled": $border-color-solid-positive-disabled,

  "--border-color-solid-alertive-base": $border-color-solid-alertive-base,
  "--border-color-solid-alertive-hover": $border-color-solid-alertive-hover,
  "--border-color-solid-alertive-active": $border-color-solid-alertive-active,
  "--border-color-solid-alertive-inactive": $border-color-solid-alertive-inactive,
  "--border-color-solid-alertive-disabled": $border-color-solid-alertive-disabled,

  "--border-color-solid-negative-base": $border-color-solid-negative-base,
  "--border-color-solid-negative-hover": $border-color-solid-negative-hover,
  "--border-color-solid-negative-active": $border-color-solid-negative-active,
  "--border-color-solid-negative-inactive": $border-color-solid-negative-inactive,
  "--border-color-solid-negative-disabled": $border-color-solid-negative-disabled,

  "--background-color-page": $background-color-page,
  "--background-color-card": $background-color-card,

  "--background-color-base": $background-color-base,
  "--background-color-hover": $background-color-hover,
  "--background-color-active": $background-color-active,
  "--background-color-inactive": $background-color-inactive,
  "--background-color-disabled": $background-color-disabled,

  "--background-color-deep-base": $background-color-deep-base,
  "--background-color-deep-hover": $background-color-deep-hover,
  "--background-color-deep-active": $background-color-deep-active,
  "--background-color-deep-inactive": $background-color-deep-inactive,
  "--background-color-deep-disabled": $background-color-deep-disabled,

  "--background-color-solid-base": $background-color-solid-base,
  "--background-color-solid-hover": $background-color-solid-hover,
  "--background-color-solid-active": $background-color-solid-active,
  "--background-color-solid-inactive": $background-color-solid-inactive,
  "--background-color-solid-disabled": $background-color-solid-disabled,

  "--background-color-major-base": $background-color-major-base,
  "--background-color-major-hover": $background-color-major-hover,
  "--background-color-major-active": $background-color-major-active,
  "--background-color-major-inactive": $background-color-major-inactive,
  "--background-color-major-disabled": $background-color-major-disabled,

  "--background-color-minor-base": $background-color-minor-base,
  "--background-color-minor-hover": $background-color-minor-hover,
  "--background-color-minor-active": $background-color-minor-active,
  "--background-color-minor-inactive": $background-color-minor-inactive,
  "--background-color-minor-disabled": $background-color-minor-disabled,

  "--background-color-positive-base": $background-color-positive-base,
  "--background-color-positive-hover": $background-color-positive-hover,
  "--background-color-positive-active": $background-color-positive-active,
  "--background-color-positive-inactive": $background-color-positive-inactive,
  "--background-color-positive-disabled": $background-color-positive-disabled,

  "--background-color-alertive-base": $background-color-alertive-base,
  "--background-color-alertive-hover": $background-color-alertive-hover,
  "--background-color-alertive-active": $background-color-alertive-active,
  "--background-color-alertive-inactive": $background-color-alertive-inactive,
  "--background-color-alertive-disabled": $background-color-alertive-disabled,

  "--background-color-negative-base": $background-color-negative-base,
  "--background-color-negative-hover": $background-color-negative-hover,
  "--background-color-negative-active": $background-color-negative-active,
  "--background-color-negative-inactive": $background-color-negative-inactive,
  "--background-color-negative-disabled": $background-color-negative-disabled,

  "--background-color-solid-major-base": $background-color-solid-major-base,
  "--background-color-solid-major-hover": $background-color-solid-major-hover,
  "--background-color-solid-major-active": $background-color-solid-major-active,
  "--background-color-solid-major-inactive": $background-color-solid-major-inactive,
  "--background-color-solid-major-disabled": $background-color-solid-major-disabled,

  "--background-color-solid-minor-base": $background-color-solid-minor-base,
  "--background-color-solid-minor-hover": $background-color-solid-minor-hover,
  "--background-color-solid-minor-active": $background-color-solid-minor-active,
  "--background-color-solid-minor-inactive": $background-color-solid-minor-inactive,
  "--background-color-solid-minor-disabled": $background-color-solid-minor-disabled,

  "--background-color-solid-positive-base": $background-color-solid-positive-base,
  "--background-color-solid-positive-hover": $background-color-solid-positive-hover,
  "--background-color-solid-positive-active": $background-color-solid-positive-active,
  "--background-color-solid-positive-inactive": $background-color-solid-positive-inactive,
  "--background-color-solid-positive-disabled": $background-color-solid-positive-disabled,

  "--background-color-solid-alertive-base": $background-color-solid-alertive-base,
  "--background-color-solid-alertive-hover": $background-color-solid-alertive-hover,
  "--background-color-solid-alertive-active": $background-color-solid-alertive-active,
  "--background-color-solid-alertive-inactive": $background-color-solid-alertive-inactive,
  "--background-color-solid-alertive-disabled": $background-color-solid-alertive-disabled,

  "--background-color-solid-negative-base": $background-color-solid-negative-base,
  "--background-color-solid-negative-hover": $background-color-solid-negative-hover,
  "--background-color-solid-negative-active": $background-color-solid-negative-active,
  "--background-color-solid-negative-inactive": $background-color-solid-negative-inactive,
  "--background-color-solid-negative-disabled": $background-color-solid-negative-disabled,
) !default;

$dark-properties: (
  "--red": $dark-red,
  "--magenta": $dark-magenta,
  "--purple": $dark-purple,
  "--indigo": $dark-indigo,
  "--navy": $dark-navy,
  "--blue": $dark-blue,
  "--cyan": $dark-cyan,
  "--teal": $dark-teal,
  "--green": $dark-green,
  "--lime": $dark-lime,
  "--yellow": $dark-yellow,
  "--orange": $dark-orange,
  "--brown": $dark-brown,
  "--gray": $dark-gray,

  "--red-rgb": $dark-red-rgb,
  "--magenta-rgb": $dark-magenta-rgb,
  "--purple-rgb": $dark-purple-rgb,
  "--indigo-rgb": $dark-indigo-rgb,
  "--navy-rgb": $dark-navy-rgb,
  "--blue-rgb": $dark-blue-rgb,
  "--cyan-rgb": $dark-cyan-rgb,
  "--teal-rgb": $dark-teal-rgb,
  "--green-rgb": $dark-green-rgb,
  "--lime-rgb": $dark-lime-rgb,
  "--yellow-rgb": $dark-yellow-rgb,
  "--orange-rgb": $dark-orange-rgb,
  "--brown-rgb": $dark-brown-rgb,
  "--gray-rgb": $dark-gray-rgb,

  "--red-0": $dark-red-0,
  "--red-1": $dark-red-1,
  "--red-2": $dark-red-2,
  "--red-3": $dark-red-3,
  "--red-4": $dark-red-4,
  "--red-5": $dark-red-5,
  "--red-6": $dark-red-6,
  "--red-7": $dark-red-7,
  "--red-8": $dark-red-8,
  "--red-9": $dark-red-9,

  "--magenta-0": $dark-magenta-0,
  "--magenta-1": $dark-magenta-1,
  "--magenta-2": $dark-magenta-2,
  "--magenta-3": $dark-magenta-3,
  "--magenta-4": $dark-magenta-4,
  "--magenta-5": $dark-magenta-5,
  "--magenta-6": $dark-magenta-6,
  "--magenta-7": $dark-magenta-7,
  "--magenta-8": $dark-magenta-8,
  "--magenta-9": $dark-magenta-9,

  "--purple-0": $dark-purple-0,
  "--purple-1": $dark-purple-1,
  "--purple-2": $dark-purple-2,
  "--purple-3": $dark-purple-3,
  "--purple-4": $dark-purple-4,
  "--purple-5": $dark-purple-5,
  "--purple-6": $dark-purple-6,
  "--purple-7": $dark-purple-7,
  "--purple-8": $dark-purple-8,
  "--purple-9": $dark-purple-9,

  "--indigo-0": $dark-indigo-0,
  "--indigo-1": $dark-indigo-1,
  "--indigo-2": $dark-indigo-2,
  "--indigo-3": $dark-indigo-3,
  "--indigo-4": $dark-indigo-4,
  "--indigo-5": $dark-indigo-5,
  "--indigo-6": $dark-indigo-6,
  "--indigo-7": $dark-indigo-7,
  "--indigo-8": $dark-indigo-8,
  "--indigo-9": $dark-indigo-9,

  "--navy-0": $dark-navy-0,
  "--navy-1": $dark-navy-1,
  "--navy-2": $dark-navy-2,
  "--navy-3": $dark-navy-3,
  "--navy-4": $dark-navy-4,
  "--navy-5": $dark-navy-5,
  "--navy-6": $dark-navy-6,
  "--navy-7": $dark-navy-7,
  "--navy-8": $dark-navy-8,
  "--navy-9": $dark-navy-9,

  "--blue-0": $dark-blue-0,
  "--blue-1": $dark-blue-1,
  "--blue-2": $dark-blue-2,
  "--blue-3": $dark-blue-3,
  "--blue-4": $dark-blue-4,
  "--blue-5": $dark-blue-5,
  "--blue-6": $dark-blue-6,
  "--blue-7": $dark-blue-7,
  "--blue-8": $dark-blue-8,
  "--blue-9": $dark-blue-9,

  "--cyan-0": $dark-cyan-0,
  "--cyan-1": $dark-cyan-1,
  "--cyan-2": $dark-cyan-2,
  "--cyan-3": $dark-cyan-3,
  "--cyan-4": $dark-cyan-4,
  "--cyan-5": $dark-cyan-5,
  "--cyan-6": $dark-cyan-6,
  "--cyan-7": $dark-cyan-7,
  "--cyan-8": $dark-cyan-8,
  "--cyan-9": $dark-cyan-9,

  "--teal-0": $dark-teal-0,
  "--teal-1": $dark-teal-1,
  "--teal-2": $dark-teal-2,
  "--teal-3": $dark-teal-3,
  "--teal-4": $dark-teal-4,
  "--teal-5": $dark-teal-5,
  "--teal-6": $dark-teal-6,
  "--teal-7": $dark-teal-7,
  "--teal-8": $dark-teal-8,
  "--teal-9": $dark-teal-9,

  "--green-0": $dark-green-0,
  "--green-1": $dark-green-1,
  "--green-2": $dark-green-2,
  "--green-3": $dark-green-3,
  "--green-4": $dark-green-4,
  "--green-5": $dark-green-5,
  "--green-6": $dark-green-6,
  "--green-7": $dark-green-7,
  "--green-8": $dark-green-8,
  "--green-9": $dark-green-9,

  "--lime-0": $dark-lime-0,
  "--lime-1": $dark-lime-1,
  "--lime-2": $dark-lime-2,
  "--lime-3": $dark-lime-3,
  "--lime-4": $dark-lime-4,
  "--lime-5": $dark-lime-5,
  "--lime-6": $dark-lime-6,
  "--lime-7": $dark-lime-7,
  "--lime-8": $dark-lime-8,
  "--lime-9": $dark-lime-9,

  "--yellow-0": $dark-yellow-0,
  "--yellow-1": $dark-yellow-1,
  "--yellow-2": $dark-yellow-2,
  "--yellow-3": $dark-yellow-3,
  "--yellow-4": $dark-yellow-4,
  "--yellow-5": $dark-yellow-5,
  "--yellow-6": $dark-yellow-6,
  "--yellow-7": $dark-yellow-7,
  "--yellow-8": $dark-yellow-8,
  "--yellow-9": $dark-yellow-9,

  "--orange-0": $dark-orange-0,
  "--orange-1": $dark-orange-1,
  "--orange-2": $dark-orange-2,
  "--orange-3": $dark-orange-3,
  "--orange-4": $dark-orange-4,
  "--orange-5": $dark-orange-5,
  "--orange-6": $dark-orange-6,
  "--orange-7": $dark-orange-7,
  "--orange-8": $dark-orange-8,
  "--orange-9": $dark-orange-9,

  "--brown-0": $dark-brown-0,
  "--brown-1": $dark-brown-1,
  "--brown-2": $dark-brown-2,
  "--brown-3": $dark-brown-3,
  "--brown-4": $dark-brown-4,
  "--brown-5": $dark-brown-5,
  "--brown-6": $dark-brown-6,
  "--brown-7": $dark-brown-7,
  "--brown-8": $dark-brown-8,
  "--brown-9": $dark-brown-9,

  "--gray-0": $dark-gray-0,
  "--gray-1": $dark-gray-1,
  "--gray-2": $dark-gray-2,
  "--gray-3": $dark-gray-3,
  "--gray-4": $dark-gray-4,
  "--gray-5": $dark-gray-5,
  "--gray-6": $dark-gray-6,
  "--gray-7": $dark-gray-7,
  "--gray-8": $dark-gray-8,
  "--gray-9": $dark-gray-9,

  "--basis": $dark-basis,
  "--major": $dark-major,
  "--minor": $dark-minor,
  "--positive": $dark-positive,
  "--alertive": $dark-alertive,
  "--negative": $dark-negative,

  "--basis-rgb": $dark-basis-rgb,
  "--major-rgb": $dark-major-rgb,
  "--minor-rgb": $dark-minor-rgb,
  "--positive-rgb": $dark-positive-rgb,
  "--alertive-rgb": $dark-alertive-rgb,
  "--negative-rgb": $dark-negative-rgb,

  "--alpha-soft": $dark-alpha-soft,
  "--alpha-deep": $dark-alpha-deep,
  "--alpha-dark": $dark-alpha-dark,

  "--text-color-base": $dark-text-color-base,
  "--text-color-hover": $dark-text-color-hover,
  "--text-color-active": $dark-text-color-active,
  "--text-color-inactive": $dark-text-color-inactive,
  "--text-color-disabled": $dark-text-color-disabled,

  "--text-color-solid-base": $dark-text-color-solid-base,
  "--text-color-solid-hover": $dark-text-color-solid-hover,
  "--text-color-solid-active": $dark-text-color-solid-active,
  "--text-color-solid-inactive": $dark-text-color-solid-inactive,
  "--text-color-solid-disabled": $dark-text-color-solid-disabled,

  "--text-color-major-base": $dark-text-color-major-base,
  "--text-color-major-hover": $dark-text-color-major-hover,
  "--text-color-major-active": $dark-text-color-major-active,
  "--text-color-major-inactive": $dark-text-color-major-inactive,
  "--text-color-major-disabled": $dark-text-color-major-disabled,

  "--text-color-minor-base": $dark-text-color-minor-base,
  "--text-color-minor-hover": $dark-text-color-minor-hover,
  "--text-color-minor-active": $dark-text-color-minor-active,
  "--text-color-minor-inactive": $dark-text-color-minor-inactive,
  "--text-color-minor-disabled": $dark-text-color-minor-disabled,

  "--text-color-positive-base": $dark-text-color-positive-base,
  "--text-color-positive-hover": $dark-text-color-positive-hover,
  "--text-color-positive-active": $dark-text-color-positive-active,
  "--text-color-positive-inactive": $dark-text-color-positive-inactive,
  "--text-color-positive-disabled": $dark-text-color-positive-disabled,

  "--text-color-alertive-base": $dark-text-color-alertive-base,
  "--text-color-alertive-hover": $dark-text-color-alertive-hover,
  "--text-color-alertive-active": $dark-text-color-alertive-active,
  "--text-color-alertive-inactive": $dark-text-color-alertive-inactive,
  "--text-color-alertive-disabled": $dark-text-color-alertive-disabled,

  "--text-color-negative-base": $dark-text-color-negative-base,
  "--text-color-negative-hover": $dark-text-color-negative-hover,
  "--text-color-negative-active": $dark-text-color-negative-active,
  "--text-color-negative-inactive": $dark-text-color-negative-inactive,
  "--text-color-negative-disabled": $dark-text-color-negative-disabled,

  "--border-color-base": $dark-border-color-base,
  "--border-color-hover": $dark-border-color-hover,
  "--border-color-active": $dark-border-color-active,
  "--border-color-inactive": $dark-border-color-inactive,
  "--border-color-disabled": $dark-border-color-disabled,

  "--border-color-deep-base": $dark-border-color-deep-base,
  "--border-color-deep-hover": $dark-border-color-deep-hover,
  "--border-color-deep-active": $dark-border-color-deep-active,
  "--border-color-deep-inactive": $dark-border-color-deep-inactive,
  "--border-color-deep-disabled": $dark-border-color-deep-disabled,

  "--border-color-solid-base": $dark-border-color-solid-base,
  "--border-color-solid-hover": $dark-border-color-solid-hover,
  "--border-color-solid-active": $dark-border-color-solid-active,
  "--border-color-solid-inactive": $dark-border-color-solid-inactive,
  "--border-color-solid-disabled": $dark-border-color-solid-disabled,

  "--border-color-major-base": $dark-border-color-major-base,
  "--border-color-major-hover": $dark-border-color-major-hover,
  "--border-color-major-active": $dark-border-color-major-active,
  "--border-color-major-inactive": $dark-border-color-major-inactive,
  "--border-color-major-disabled": $dark-border-color-major-disabled,

  "--border-color-minor-base": $dark-border-color-minor-base,
  "--border-color-minor-hover": $dark-border-color-minor-hover,
  "--border-color-minor-active": $dark-border-color-minor-active,
  "--border-color-minor-inactive": $dark-border-color-minor-inactive,
  "--border-color-minor-disabled": $dark-border-color-minor-disabled,

  "--border-color-positive-base": $dark-border-color-positive-base,
  "--border-color-positive-hover": $dark-border-color-positive-hover,
  "--border-color-positive-active": $dark-border-color-positive-active,
  "--border-color-positive-inactive": $dark-border-color-positive-inactive,
  "--border-color-positive-disabled": $dark-border-color-positive-disabled,

  "--border-color-alertive-base": $dark-border-color-alertive-base,
  "--border-color-alertive-hover": $dark-border-color-alertive-hover,
  "--border-color-alertive-active": $dark-border-color-alertive-active,
  "--border-color-alertive-inactive": $dark-border-color-alertive-inactive,
  "--border-color-alertive-disabled": $dark-border-color-alertive-disabled,

  "--border-color-negative-base": $dark-border-color-negative-base,
  "--border-color-negative-hover": $dark-border-color-negative-hover,
  "--border-color-negative-active": $dark-border-color-negative-active,
  "--border-color-negative-inactive": $dark-border-color-negative-inactive,
  "--border-color-negative-disabled": $dark-border-color-negative-disabled,

  "--border-color-solid-major-base": $dark-border-color-solid-major-base,
  "--border-color-solid-major-hover": $dark-border-color-solid-major-hover,
  "--border-color-solid-major-active": $dark-border-color-solid-major-active,
  "--border-color-solid-major-inactive": $dark-border-color-solid-major-inactive,
  "--border-color-solid-major-disabled": $dark-border-color-solid-major-disabled,

  "--border-color-solid-minor-base": $dark-border-color-solid-minor-base,
  "--border-color-solid-minor-hover": $dark-border-color-solid-minor-hover,
  "--border-color-solid-minor-active": $dark-border-color-solid-minor-active,
  "--border-color-solid-minor-inactive": $dark-border-color-solid-minor-inactive,
  "--border-color-solid-minor-disabled": $dark-border-color-solid-minor-disabled,

  "--border-color-solid-positive-base": $dark-border-color-solid-positive-base,
  "--border-color-solid-positive-hover": $dark-border-color-solid-positive-hover,
  "--border-color-solid-positive-active": $dark-border-color-solid-positive-active,
  "--border-color-solid-positive-inactive": $dark-border-color-solid-positive-inactive,
  "--border-color-solid-positive-disabled": $dark-border-color-solid-positive-disabled,

  "--border-color-solid-alertive-base": $dark-border-color-solid-alertive-base,
  "--border-color-solid-alertive-hover": $dark-border-color-solid-alertive-hover,
  "--border-color-solid-alertive-active": $dark-border-color-solid-alertive-active,
  "--border-color-solid-alertive-inactive": $dark-border-color-solid-alertive-inactive,
  "--border-color-solid-alertive-disabled": $dark-border-color-solid-alertive-disabled,

  "--border-color-solid-negative-base": $dark-border-color-solid-negative-base,
  "--border-color-solid-negative-hover": $dark-border-color-solid-negative-hover,
  "--border-color-solid-negative-active": $dark-border-color-solid-negative-active,
  "--border-color-solid-negative-inactive": $dark-border-color-solid-negative-inactive,
  "--border-color-solid-negative-disabled": $dark-border-color-solid-negative-disabled,

  "--background-color-page": $dark-background-color-page,
  "--background-color-card": $dark-background-color-card,

  "--background-color-base": $dark-background-color-base,
  "--background-color-hover": $dark-background-color-hover,
  "--background-color-active": $dark-background-color-active,
  "--background-color-inactive": $dark-background-color-inactive,
  "--background-color-disabled": $dark-background-color-disabled,

  "--background-color-deep-base": $dark-background-color-deep-base,
  "--background-color-deep-hover": $dark-background-color-deep-hover,
  "--background-color-deep-active": $dark-background-color-deep-active,
  "--background-color-deep-inactive": $dark-background-color-deep-inactive,
  "--background-color-deep-disabled": $dark-background-color-deep-disabled,

  "--background-color-solid-base": $dark-background-color-solid-base,
  "--background-color-solid-hover": $dark-background-color-solid-hover,
  "--background-color-solid-active": $dark-background-color-solid-active,
  "--background-color-solid-inactive": $dark-background-color-solid-inactive,
  "--background-color-solid-disabled": $dark-background-color-solid-disabled,

  "--background-color-major-base": $dark-background-color-major-base,
  "--background-color-major-hover": $dark-background-color-major-hover,
  "--background-color-major-active": $dark-background-color-major-active,
  "--background-color-major-inactive": $dark-background-color-major-inactive,
  "--background-color-major-disabled": $dark-background-color-major-disabled,

  "--background-color-minor-base": $dark-background-color-minor-base,
  "--background-color-minor-hover": $dark-background-color-minor-hover,
  "--background-color-minor-active": $dark-background-color-minor-active,
  "--background-color-minor-inactive": $dark-background-color-minor-inactive,
  "--background-color-minor-disabled": $dark-background-color-minor-disabled,

  "--background-color-positive-base": $dark-background-color-positive-base,
  "--background-color-positive-hover": $dark-background-color-positive-hover,
  "--background-color-positive-active": $dark-background-color-positive-active,
  "--background-color-positive-inactive": $dark-background-color-positive-inactive,
  "--background-color-positive-disabled": $dark-background-color-positive-disabled,

  "--background-color-alertive-base": $dark-background-color-alertive-base,
  "--background-color-alertive-hover": $dark-background-color-alertive-hover,
  "--background-color-alertive-active": $dark-background-color-alertive-active,
  "--background-color-alertive-inactive": $dark-background-color-alertive-inactive,
  "--background-color-alertive-disabled": $dark-background-color-alertive-disabled,

  "--background-color-negative-base": $dark-background-color-negative-base,
  "--background-color-negative-hover": $dark-background-color-negative-hover,
  "--background-color-negative-active": $dark-background-color-negative-active,
  "--background-color-negative-inactive": $dark-background-color-negative-inactive,
  "--background-color-negative-disabled": $dark-background-color-negative-disabled,

  "--background-color-solid-major-base": $dark-background-color-solid-major-base,
  "--background-color-solid-major-hover": $dark-background-color-solid-major-hover,
  "--background-color-solid-major-active": $dark-background-color-solid-major-active,
  "--background-color-solid-major-inactive": $dark-background-color-solid-major-inactive,
  "--background-color-solid-major-disabled": $dark-background-color-solid-major-disabled,

  "--background-color-solid-minor-base": $dark-background-color-solid-minor-base,
  "--background-color-solid-minor-hover": $dark-background-color-solid-minor-hover,
  "--background-color-solid-minor-active": $dark-background-color-solid-minor-active,
  "--background-color-solid-minor-inactive": $dark-background-color-solid-minor-inactive,
  "--background-color-solid-minor-disabled": $dark-background-color-solid-minor-disabled,

  "--background-color-solid-positive-base": $dark-background-color-solid-positive-base,
  "--background-color-solid-positive-hover": $dark-background-color-solid-positive-hover,
  "--background-color-solid-positive-active": $dark-background-color-solid-positive-active,
  "--background-color-solid-positive-inactive": $dark-background-color-solid-positive-inactive,
  "--background-color-solid-positive-disabled": $dark-background-color-solid-positive-disabled,

  "--background-color-solid-alertive-base": $dark-background-color-solid-alertive-base,
  "--background-color-solid-alertive-hover": $dark-background-color-solid-alertive-hover,
  "--background-color-solid-alertive-active": $dark-background-color-solid-alertive-active,
  "--background-color-solid-alertive-inactive": $dark-background-color-solid-alertive-inactive,
  "--background-color-solid-alertive-disabled": $dark-background-color-solid-alertive-disabled,

  "--background-color-solid-negative-base": $dark-background-color-solid-negative-base,
  "--background-color-solid-negative-hover": $dark-background-color-solid-negative-hover,
  "--background-color-solid-negative-active": $dark-background-color-solid-negative-active,
  "--background-color-solid-negative-inactive": $dark-background-color-solid-negative-inactive,
  "--background-color-solid-negative-disabled": $dark-background-color-solid-negative-disabled,
) !default;

$properties: merge-maps($base-properties, $light-properties) !default;
