@import "./base";
@import "./light";
@import "./dark";
@import "./palettes";
@import "../functions/merge-maps";

$base-properties: (
  "--space-1": $space-1,
  "--space-2": $space-2,
  "--space-3": $space-3,
  "--space-4": $space-4,
  "--space-5": $space-5,
  "--space-6": $space-6,
  "--space-7": $space-7,
  "--space-8": $space-8,
  "--space-9": $space-9,

  "--font-size-h1": $font-size-h1,
  "--font-size-h2": $font-size-h2,
  "--font-size-h3": $font-size-h3,
  "--font-size-h4": $font-size-h4,
  "--font-size-h5": $font-size-h5,
  "--font-size-h6": $font-size-h6,

  "--font-size-base": $font-size-base,
  "--font-size-small": $font-size-small,
  "--font-size-large": $font-size-large,
  "--font-size-smaller": $font-size-smaller,
  "--font-size-larger": $font-size-larger,

  "--font-family-base": $font-family-base,
  "--font-family-mono": $font-family-mono,

  "--line-height-base": $line-height-base,
  "--line-height-small": $line-height-small,
  "--line-height-large": $line-height-large,

  "--line-height-fixed-base": $line-height-fixed-base,
  "--line-height-fixed-small": $line-height-fixed-small,
  "--line-height-fixed-large": $line-height-fixed-large,

  "--border-radius-base": $border-radius-base,
  "--border-radius-small": $border-radius-small,
  "--border-radius-large": $border-radius-large,
  "--border-radius-round": $border-radius-round,

  "--border-radius-fixed-base": $border-radius-fixed-base,
  "--border-radius-fixed-small": $border-radius-fixed-small,
  "--border-radius-fixed-large": $border-radius-fixed-large,

  "--z-index-popup": $z-index-popup,

  "--motion-duration-base": $motion-duration-base,
  "--motion-duration-fast": $motion-duration-fast,
  "--motion-duration-slow": $motion-duration-slow,
  "--motion-duration-lazy": $motion-duration-lazy,

  "--motion-function-base": $motion-function-base,
  "--motion-function-spin": $motion-function-spin,
) !default;

$light-properties: (
  "--red": $red,
  "--magenta": $magenta,
  "--purple": $purple,
  "--indigo": $indigo,
  "--navy": $navy,
  "--blue": $blue,
  "--cyan": $cyan,
  "--teal": $teal,
  "--green": $green,
  "--lime": $lime,
  "--yellow": $yellow,
  "--orange": $orange,
  "--brown": $brown,
  "--gray": $gray,

  "--red-rgb": $red-rgb,
  "--magenta-rgb": $magenta-rgb,
  "--purple-rgb": $purple-rgb,
  "--indigo-rgb": $indigo-rgb,
  "--navy-rgb": $navy-rgb,
  "--blue-rgb": $blue-rgb,
  "--cyan-rgb": $cyan-rgb,
  "--teal-rgb": $teal-rgb,
  "--green-rgb": $green-rgb,
  "--lime-rgb": $lime-rgb,
  "--yellow-rgb": $yellow-rgb,
  "--orange-rgb": $orange-rgb,
  "--brown-rgb": $brown-rgb,
  "--gray-rgb": $gray-rgb,

  "--red-0": $red-0,
  "--red-1": $red-1,
  "--red-2": $red-2,
  "--red-3": $red-3,
  "--red-4": $red-4,
  "--red-5": $red-5,
  "--red-6": $red-6,
  "--red-7": $red-7,
  "--red-8": $red-8,
  "--red-9": $red-9,

  "--magenta-0": $magenta-0,
  "--magenta-1": $magenta-1,
  "--magenta-2": $magenta-2,
  "--magenta-3": $magenta-3,
  "--magenta-4": $magenta-4,
  "--magenta-5": $magenta-5,
  "--magenta-6": $magenta-6,
  "--magenta-7": $magenta-7,
  "--magenta-8": $magenta-8,
  "--magenta-9": $magenta-9,

  "--purple-0": $purple-0,
  "--purple-1": $purple-1,
  "--purple-2": $purple-2,
  "--purple-3": $purple-3,
  "--purple-4": $purple-4,
  "--purple-5": $purple-5,
  "--purple-6": $purple-6,
  "--purple-7": $purple-7,
  "--purple-8": $purple-8,
  "--purple-9": $purple-9,

  "--indigo-0": $indigo-0,
  "--indigo-1": $indigo-1,
  "--indigo-2": $indigo-2,
  "--indigo-3": $indigo-3,
  "--indigo-4": $indigo-4,
  "--indigo-5": $indigo-5,
  "--indigo-6": $indigo-6,
  "--indigo-7": $indigo-7,
  "--indigo-8": $indigo-8,
  "--indigo-9": $indigo-9,

  "--navy-0": $navy-0,
  "--navy-1": $navy-1,
  "--navy-2": $navy-2,
  "--navy-3": $navy-3,
  "--navy-4": $navy-4,
  "--navy-5": $navy-5,
  "--navy-6": $navy-6,
  "--navy-7": $navy-7,
  "--navy-8": $navy-8,
  "--navy-9": $navy-9,

  "--blue-0": $blue-0,
  "--blue-1": $blue-1,
  "--blue-2": $blue-2,
  "--blue-3": $blue-3,
  "--blue-4": $blue-4,
  "--blue-5": $blue-5,
  "--blue-6": $blue-6,
  "--blue-7": $blue-7,
  "--blue-8": $blue-8,
  "--blue-9": $blue-9,

  "--cyan-0": $cyan-0,
  "--cyan-1": $cyan-1,
  "--cyan-2": $cyan-2,
  "--cyan-3": $cyan-3,
  "--cyan-4": $cyan-4,
  "--cyan-5": $cyan-5,
  "--cyan-6": $cyan-6,
  "--cyan-7": $cyan-7,
  "--cyan-8": $cyan-8,
  "--cyan-9": $cyan-9,

  "--teal-0": $teal-0,
  "--teal-1": $teal-1,
  "--teal-2": $teal-2,
  "--teal-3": $teal-3,
  "--teal-4": $teal-4,
  "--teal-5": $teal-5,
  "--teal-6": $teal-6,
  "--teal-7": $teal-7,
  "--teal-8": $teal-8,
  "--teal-9": $teal-9,

  "--green-0": $green-0,
  "--green-1": $green-1,
  "--green-2": $green-2,
  "--green-3": $green-3,
  "--green-4": $green-4,
  "--green-5": $green-5,
  "--green-6": $green-6,
  "--green-7": $green-7,
  "--green-8": $green-8,
  "--green-9": $green-9,

  "--lime-0": $lime-0,
  "--lime-1": $lime-1,
  "--lime-2": $lime-2,
  "--lime-3": $lime-3,
  "--lime-4": $lime-4,
  "--lime-5": $lime-5,
  "--lime-6": $lime-6,
  "--lime-7": $lime-7,
  "--lime-8": $lime-8,
  "--lime-9": $lime-9,

  "--yellow-0": $yellow-0,
  "--yellow-1": $yellow-1,
  "--yellow-2": $yellow-2,
  "--yellow-3": $yellow-3,
  "--yellow-4": $yellow-4,
  "--yellow-5": $yellow-5,
  "--yellow-6": $yellow-6,
  "--yellow-7": $yellow-7,
  "--yellow-8": $yellow-8,
  "--yellow-9": $yellow-9,

  "--orange-0": $orange-0,
  "--orange-1": $orange-1,
  "--orange-2": $orange-2,
  "--orange-3": $orange-3,
  "--orange-4": $orange-4,
  "--orange-5": $orange-5,
  "--orange-6": $orange-6,
  "--orange-7": $orange-7,
  "--orange-8": $orange-8,
  "--orange-9": $orange-9,

  "--brown-0": $brown-0,
  "--brown-1": $brown-1,
  "--brown-2": $brown-2,
  "--brown-3": $brown-3,
  "--brown-4": $brown-4,
  "--brown-5": $brown-5,
  "--brown-6": $brown-6,
  "--brown-7": $brown-7,
  "--brown-8": $brown-8,
  "--brown-9": $brown-9,

  "--gray-0": $gray-0,
  "--gray-1": $gray-1,
  "--gray-2": $gray-2,
  "--gray-3": $gray-3,
  "--gray-4": $gray-4,
  "--gray-5": $gray-5,
  "--gray-6": $gray-6,
  "--gray-7": $gray-7,
  "--gray-8": $gray-8,
  "--gray-9": $gray-9,

  "--basis": $basis,
  "--major": $major,
  "--minor": $minor,
  "--positive": $positive,
  "--alertive": $alertive,
  "--negative": $negative,

  "--basis-rgb": $basis-rgb,
  "--major-rgb": $major-rgb,
  "--minor-rgb": $minor-rgb,
  "--positive-rgb": $positive-rgb,
  "--alertive-rgb": $alertive-rgb,
  "--negative-rgb": $negative-rgb,

  "--alpha-soft": $alpha-soft,
  "--alpha-deep": $alpha-deep,
  "--alpha-dark": $alpha-dark,

  "--major-0": $major-0,
  "--major-1": $major-1,
  "--major-2": $major-2,
  "--major-3": $major-3,
  "--major-4": $major-4,
  "--major-5": $major-5,
  "--major-6": $major-6,
  "--major-7": $major-7,
  "--major-8": $major-8,
  "--major-9": $major-9,

  "--minor-0": $minor-0,
  "--minor-1": $minor-1,
  "--minor-2": $minor-2,
  "--minor-3": $minor-3,
  "--minor-4": $minor-4,
  "--minor-5": $minor-5,
  "--minor-6": $minor-6,
  "--minor-7": $minor-7,
  "--minor-8": $minor-8,
  "--minor-9": $minor-9,

  "--positive-0": $positive-0,
  "--positive-1": $positive-1,
  "--positive-2": $positive-2,
  "--positive-3": $positive-3,
  "--positive-4": $positive-4,
  "--positive-5": $positive-5,
  "--positive-6": $positive-6,
  "--positive-7": $positive-7,
  "--positive-8": $positive-8,
  "--positive-9": $positive-9,

  "--alertive-0": $alertive-0,
  "--alertive-1": $alertive-1,
  "--alertive-2": $alertive-2,
  "--alertive-3": $alertive-3,
  "--alertive-4": $alertive-4,
  "--alertive-5": $alertive-5,
  "--alertive-6": $alertive-6,
  "--alertive-7": $alertive-7,
  "--alertive-8": $alertive-8,
  "--alertive-9": $alertive-9,

  "--negative-0": $negative-0,
  "--negative-1": $negative-1,
  "--negative-2": $negative-2,
  "--negative-3": $negative-3,
  "--negative-4": $negative-4,
  "--negative-5": $negative-5,
  "--negative-6": $negative-6,
  "--negative-7": $negative-7,
  "--negative-8": $negative-8,
  "--negative-9": $negative-9,

  "--text-color-base": $text-color-base,
  "--text-color-hover": $text-color-hover,
  "--text-color-muted": $text-color-muted,
  "--text-color-active": $text-color-active,
  "--text-color-inactive": $text-color-inactive,
  "--text-color-disabled": $text-color-disabled,

  "--text-color-solid-base": $text-color-solid-base,
  "--text-color-solid-hover": $text-color-solid-hover,
  "--text-color-solid-active": $text-color-solid-active,
  "--text-color-solid-inactive": $text-color-solid-inactive,
  "--text-color-solid-disabled": $text-color-solid-disabled,

  "--border-color-base": $border-color-base,
  "--border-color-hover": $border-color-hover,
  "--border-color-active": $border-color-active,
  "--border-color-inactive": $border-color-inactive,
  "--border-color-disabled": $border-color-disabled,

  "--border-color-deep-base": $border-color-deep-base,
  "--border-color-deep-hover": $border-color-deep-hover,
  "--border-color-deep-active": $border-color-deep-active,
  "--border-color-deep-inactive": $border-color-deep-inactive,
  "--border-color-deep-disabled": $border-color-deep-disabled,

  "--border-color-solid-base": $border-color-solid-base,
  "--border-color-solid-hover": $border-color-solid-hover,
  "--border-color-solid-active": $border-color-solid-active,
  "--border-color-solid-inactive": $border-color-solid-inactive,
  "--border-color-solid-disabled": $border-color-solid-disabled,

  "--background-color-page": $background-color-page,
  "--background-color-card": $background-color-card,
  "--background-color-over": $background-color-over,

  "--background-color-base": $background-color-base,
  "--background-color-hover": $background-color-hover,
  "--background-color-active": $background-color-active,
  "--background-color-inactive": $background-color-inactive,
  "--background-color-disabled": $background-color-disabled,

  "--background-color-deep-base": $background-color-deep-base,
  "--background-color-deep-hover": $background-color-deep-hover,
  "--background-color-deep-active": $background-color-deep-active,
  "--background-color-deep-inactive": $background-color-deep-inactive,
  "--background-color-deep-disabled": $background-color-deep-disabled,

  "--background-color-solid-base": $background-color-solid-base,
  "--background-color-solid-hover": $background-color-solid-hover,
  "--background-color-solid-active": $background-color-solid-active,
  "--background-color-solid-inactive": $background-color-solid-inactive,
  "--background-color-solid-disabled": $background-color-solid-disabled,

  "--box-shadow-1": $box-shadow-1,
  "--box-shadow-2": $box-shadow-2,
  "--box-shadow-3": $box-shadow-3,
  "--box-shadow-4": $box-shadow-4,
  "--box-shadow-5": $box-shadow-5,
) !default;

$dark-properties: (
  "--red": $dark-red,
  "--magenta": $dark-magenta,
  "--purple": $dark-purple,
  "--indigo": $dark-indigo,
  "--navy": $dark-navy,
  "--blue": $dark-blue,
  "--cyan": $dark-cyan,
  "--teal": $dark-teal,
  "--green": $dark-green,
  "--lime": $dark-lime,
  "--yellow": $dark-yellow,
  "--orange": $dark-orange,
  "--brown": $dark-brown,
  "--gray": $dark-gray,

  "--red-rgb": $dark-red-rgb,
  "--magenta-rgb": $dark-magenta-rgb,
  "--purple-rgb": $dark-purple-rgb,
  "--indigo-rgb": $dark-indigo-rgb,
  "--navy-rgb": $dark-navy-rgb,
  "--blue-rgb": $dark-blue-rgb,
  "--cyan-rgb": $dark-cyan-rgb,
  "--teal-rgb": $dark-teal-rgb,
  "--green-rgb": $dark-green-rgb,
  "--lime-rgb": $dark-lime-rgb,
  "--yellow-rgb": $dark-yellow-rgb,
  "--orange-rgb": $dark-orange-rgb,
  "--brown-rgb": $dark-brown-rgb,
  "--gray-rgb": $dark-gray-rgb,

  "--red-0": $dark-red-0,
  "--red-1": $dark-red-1,
  "--red-2": $dark-red-2,
  "--red-3": $dark-red-3,
  "--red-4": $dark-red-4,
  "--red-5": $dark-red-5,
  "--red-6": $dark-red-6,
  "--red-7": $dark-red-7,
  "--red-8": $dark-red-8,
  "--red-9": $dark-red-9,

  "--magenta-0": $dark-magenta-0,
  "--magenta-1": $dark-magenta-1,
  "--magenta-2": $dark-magenta-2,
  "--magenta-3": $dark-magenta-3,
  "--magenta-4": $dark-magenta-4,
  "--magenta-5": $dark-magenta-5,
  "--magenta-6": $dark-magenta-6,
  "--magenta-7": $dark-magenta-7,
  "--magenta-8": $dark-magenta-8,
  "--magenta-9": $dark-magenta-9,

  "--purple-0": $dark-purple-0,
  "--purple-1": $dark-purple-1,
  "--purple-2": $dark-purple-2,
  "--purple-3": $dark-purple-3,
  "--purple-4": $dark-purple-4,
  "--purple-5": $dark-purple-5,
  "--purple-6": $dark-purple-6,
  "--purple-7": $dark-purple-7,
  "--purple-8": $dark-purple-8,
  "--purple-9": $dark-purple-9,

  "--indigo-0": $dark-indigo-0,
  "--indigo-1": $dark-indigo-1,
  "--indigo-2": $dark-indigo-2,
  "--indigo-3": $dark-indigo-3,
  "--indigo-4": $dark-indigo-4,
  "--indigo-5": $dark-indigo-5,
  "--indigo-6": $dark-indigo-6,
  "--indigo-7": $dark-indigo-7,
  "--indigo-8": $dark-indigo-8,
  "--indigo-9": $dark-indigo-9,

  "--navy-0": $dark-navy-0,
  "--navy-1": $dark-navy-1,
  "--navy-2": $dark-navy-2,
  "--navy-3": $dark-navy-3,
  "--navy-4": $dark-navy-4,
  "--navy-5": $dark-navy-5,
  "--navy-6": $dark-navy-6,
  "--navy-7": $dark-navy-7,
  "--navy-8": $dark-navy-8,
  "--navy-9": $dark-navy-9,

  "--blue-0": $dark-blue-0,
  "--blue-1": $dark-blue-1,
  "--blue-2": $dark-blue-2,
  "--blue-3": $dark-blue-3,
  "--blue-4": $dark-blue-4,
  "--blue-5": $dark-blue-5,
  "--blue-6": $dark-blue-6,
  "--blue-7": $dark-blue-7,
  "--blue-8": $dark-blue-8,
  "--blue-9": $dark-blue-9,

  "--cyan-0": $dark-cyan-0,
  "--cyan-1": $dark-cyan-1,
  "--cyan-2": $dark-cyan-2,
  "--cyan-3": $dark-cyan-3,
  "--cyan-4": $dark-cyan-4,
  "--cyan-5": $dark-cyan-5,
  "--cyan-6": $dark-cyan-6,
  "--cyan-7": $dark-cyan-7,
  "--cyan-8": $dark-cyan-8,
  "--cyan-9": $dark-cyan-9,

  "--teal-0": $dark-teal-0,
  "--teal-1": $dark-teal-1,
  "--teal-2": $dark-teal-2,
  "--teal-3": $dark-teal-3,
  "--teal-4": $dark-teal-4,
  "--teal-5": $dark-teal-5,
  "--teal-6": $dark-teal-6,
  "--teal-7": $dark-teal-7,
  "--teal-8": $dark-teal-8,
  "--teal-9": $dark-teal-9,

  "--green-0": $dark-green-0,
  "--green-1": $dark-green-1,
  "--green-2": $dark-green-2,
  "--green-3": $dark-green-3,
  "--green-4": $dark-green-4,
  "--green-5": $dark-green-5,
  "--green-6": $dark-green-6,
  "--green-7": $dark-green-7,
  "--green-8": $dark-green-8,
  "--green-9": $dark-green-9,

  "--lime-0": $dark-lime-0,
  "--lime-1": $dark-lime-1,
  "--lime-2": $dark-lime-2,
  "--lime-3": $dark-lime-3,
  "--lime-4": $dark-lime-4,
  "--lime-5": $dark-lime-5,
  "--lime-6": $dark-lime-6,
  "--lime-7": $dark-lime-7,
  "--lime-8": $dark-lime-8,
  "--lime-9": $dark-lime-9,

  "--yellow-0": $dark-yellow-0,
  "--yellow-1": $dark-yellow-1,
  "--yellow-2": $dark-yellow-2,
  "--yellow-3": $dark-yellow-3,
  "--yellow-4": $dark-yellow-4,
  "--yellow-5": $dark-yellow-5,
  "--yellow-6": $dark-yellow-6,
  "--yellow-7": $dark-yellow-7,
  "--yellow-8": $dark-yellow-8,
  "--yellow-9": $dark-yellow-9,

  "--orange-0": $dark-orange-0,
  "--orange-1": $dark-orange-1,
  "--orange-2": $dark-orange-2,
  "--orange-3": $dark-orange-3,
  "--orange-4": $dark-orange-4,
  "--orange-5": $dark-orange-5,
  "--orange-6": $dark-orange-6,
  "--orange-7": $dark-orange-7,
  "--orange-8": $dark-orange-8,
  "--orange-9": $dark-orange-9,

  "--brown-0": $dark-brown-0,
  "--brown-1": $dark-brown-1,
  "--brown-2": $dark-brown-2,
  "--brown-3": $dark-brown-3,
  "--brown-4": $dark-brown-4,
  "--brown-5": $dark-brown-5,
  "--brown-6": $dark-brown-6,
  "--brown-7": $dark-brown-7,
  "--brown-8": $dark-brown-8,
  "--brown-9": $dark-brown-9,

  "--gray-0": $dark-gray-0,
  "--gray-1": $dark-gray-1,
  "--gray-2": $dark-gray-2,
  "--gray-3": $dark-gray-3,
  "--gray-4": $dark-gray-4,
  "--gray-5": $dark-gray-5,
  "--gray-6": $dark-gray-6,
  "--gray-7": $dark-gray-7,
  "--gray-8": $dark-gray-8,
  "--gray-9": $dark-gray-9,

  "--basis": $dark-basis,
  "--major": $dark-major,
  "--minor": $dark-minor,
  "--positive": $dark-positive,
  "--alertive": $dark-alertive,
  "--negative": $dark-negative,

  "--basis-rgb": $dark-basis-rgb,
  "--major-rgb": $dark-major-rgb,
  "--minor-rgb": $dark-minor-rgb,
  "--positive-rgb": $dark-positive-rgb,
  "--alertive-rgb": $dark-alertive-rgb,
  "--negative-rgb": $dark-negative-rgb,

  "--alpha-soft": $dark-alpha-soft,
  "--alpha-deep": $dark-alpha-deep,
  "--alpha-dark": $dark-alpha-dark,

  "--major-0": $dark-major-0,
  "--major-1": $dark-major-1,
  "--major-2": $dark-major-2,
  "--major-3": $dark-major-3,
  "--major-4": $dark-major-4,
  "--major-5": $dark-major-5,
  "--major-6": $dark-major-6,
  "--major-7": $dark-major-7,
  "--major-8": $dark-major-8,
  "--major-9": $dark-major-9,

  "--minor-0": $dark-minor-0,
  "--minor-1": $dark-minor-1,
  "--minor-2": $dark-minor-2,
  "--minor-3": $dark-minor-3,
  "--minor-4": $dark-minor-4,
  "--minor-5": $dark-minor-5,
  "--minor-6": $dark-minor-6,
  "--minor-7": $dark-minor-7,
  "--minor-8": $dark-minor-8,
  "--minor-9": $dark-minor-9,

  "--positive-0": $dark-positive-0,
  "--positive-1": $dark-positive-1,
  "--positive-2": $dark-positive-2,
  "--positive-3": $dark-positive-3,
  "--positive-4": $dark-positive-4,
  "--positive-5": $dark-positive-5,
  "--positive-6": $dark-positive-6,
  "--positive-7": $dark-positive-7,
  "--positive-8": $dark-positive-8,
  "--positive-9": $dark-positive-9,

  "--alertive-0": $dark-alertive-0,
  "--alertive-1": $dark-alertive-1,
  "--alertive-2": $dark-alertive-2,
  "--alertive-3": $dark-alertive-3,
  "--alertive-4": $dark-alertive-4,
  "--alertive-5": $dark-alertive-5,
  "--alertive-6": $dark-alertive-6,
  "--alertive-7": $dark-alertive-7,
  "--alertive-8": $dark-alertive-8,
  "--alertive-9": $dark-alertive-9,

  "--negative-0": $dark-negative-0,
  "--negative-1": $dark-negative-1,
  "--negative-2": $dark-negative-2,
  "--negative-3": $dark-negative-3,
  "--negative-4": $dark-negative-4,
  "--negative-5": $dark-negative-5,
  "--negative-6": $dark-negative-6,
  "--negative-7": $dark-negative-7,
  "--negative-8": $dark-negative-8,
  "--negative-9": $dark-negative-9,

  "--text-color-base": $dark-text-color-base,
  "--text-color-muted": $dark-text-color-muted,
  "--text-color-hover": $dark-text-color-hover,
  "--text-color-active": $dark-text-color-active,
  "--text-color-inactive": $dark-text-color-inactive,
  "--text-color-disabled": $dark-text-color-disabled,

  "--text-color-solid-base": $dark-text-color-solid-base,
  "--text-color-solid-hover": $dark-text-color-solid-hover,
  "--text-color-solid-active": $dark-text-color-solid-active,
  "--text-color-solid-inactive": $dark-text-color-solid-inactive,
  "--text-color-solid-disabled": $dark-text-color-solid-disabled,

  "--border-color-base": $dark-border-color-base,
  "--border-color-hover": $dark-border-color-hover,
  "--border-color-active": $dark-border-color-active,
  "--border-color-inactive": $dark-border-color-inactive,
  "--border-color-disabled": $dark-border-color-disabled,

  "--border-color-deep-base": $dark-border-color-deep-base,
  "--border-color-deep-hover": $dark-border-color-deep-hover,
  "--border-color-deep-active": $dark-border-color-deep-active,
  "--border-color-deep-inactive": $dark-border-color-deep-inactive,
  "--border-color-deep-disabled": $dark-border-color-deep-disabled,

  "--border-color-solid-base": $dark-border-color-solid-base,
  "--border-color-solid-hover": $dark-border-color-solid-hover,
  "--border-color-solid-active": $dark-border-color-solid-active,
  "--border-color-solid-inactive": $dark-border-color-solid-inactive,
  "--border-color-solid-disabled": $dark-border-color-solid-disabled,

  "--background-color-page": $dark-background-color-page,
  "--background-color-card": $dark-background-color-card,
  "--background-color-over": $dark-background-color-over,

  "--background-color-base": $dark-background-color-base,
  "--background-color-hover": $dark-background-color-hover,
  "--background-color-active": $dark-background-color-active,
  "--background-color-inactive": $dark-background-color-inactive,
  "--background-color-disabled": $dark-background-color-disabled,

  "--background-color-deep-base": $dark-background-color-deep-base,
  "--background-color-deep-hover": $dark-background-color-deep-hover,
  "--background-color-deep-active": $dark-background-color-deep-active,
  "--background-color-deep-inactive": $dark-background-color-deep-inactive,
  "--background-color-deep-disabled": $dark-background-color-deep-disabled,

  "--background-color-solid-base": $dark-background-color-solid-base,
  "--background-color-solid-hover": $dark-background-color-solid-hover,
  "--background-color-solid-active": $dark-background-color-solid-active,
  "--background-color-solid-inactive": $dark-background-color-solid-inactive,
  "--background-color-solid-disabled": $dark-background-color-solid-disabled,

  "--box-shadow-1": $dark-box-shadow-1,
  "--box-shadow-2": $dark-box-shadow-2,
  "--box-shadow-3": $dark-box-shadow-3,
  "--box-shadow-4": $dark-box-shadow-4,
  "--box-shadow-5": $dark-box-shadow-5,
) !default;

$properties: merge-maps($base-properties, $light-properties) !default;
