@import "@lilib/themes";

.#{$cls-prefix}button {
  @include reset;

  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
  padding: var(--space-2) var(--space-4);
  color: var(--text-color-base);
  font-weight: 400;
  font-size: var(--font-size-base);
  line-height: var(--line-height-fixed-base);
  text-align: left;
  vertical-align: middle;
  background-color: var(--background-color-base);
  border: 1px solid var(--border-color-base);
  border-radius: var(--border-radius-base);
  cursor: pointer;
  user-select: none;

  &-content {
    flex: 1 1 0;
  }

  &-loader {
    display: none;
  }

  & > .#{$cls-prefix}icon,
  & > .#{$cls-prefix}spinner {
    flex: 0 0 auto;

    &.#{$cls-prefix}left-spaced {
      margin-left: var(--space-2);
    }

    &.#{$cls-prefix}right-spaced {
      margin-right: var(--space-2);
    }
  }

  &.#{$cls-prefix}small {
    padding: var(--space-1) var(--space-2);
    font-size: var(--font-size-small);
    line-height: var(--line-height-fixed-small);

    & > .#{$cls-prefix}icon,
    & > .#{$cls-prefix}spinner {
      &.#{$cls-prefix}left-spaced {
        margin-left: var(--space-1);
      }

      &.#{$cls-prefix}right-spaced {
        margin-right: var(--space-1);
      }
    }
  }

  &.#{$cls-prefix}large {
    padding: var(--space-3) var(--space-6);
    font-size: var(--font-size-large);
    line-height: var(--line-height-fixed-large);

    & > .#{$cls-prefix}icon,
    & > .#{$cls-prefix}spinner {
      &.#{$cls-prefix}left-spaced {
        margin-left: var(--space-3);
      }

      &.#{$cls-prefix}right-spaced {
        margin-right: var(--space-3);
      }
    }
  }

  &.#{$cls-prefix}fluid {
    display: flex;
    width: 100%;
    margin: auto;
    text-align: center;
  }

  &.#{$cls-prefix}round {
    border-radius: var(--border-radius-round);
  }

  &.#{$cls-prefix}truncated {
    & > .#{$cls-prefix}button-content {
      @include text-overflow;
    }
  }

  &.#{$cls-prefix}icon-only {
    padding: var(--space-2);
    line-height: 1;

    &.#{$cls-prefix}small {
      padding: var(--space-1);
    }

    &.#{$cls-prefix}large {
      padding: var(--space-3);
    }
  }

  &.#{$cls-prefix}loading {
    position: relative;

    & > .#{$cls-prefix}icon,
    & > .#{$cls-prefix}button-content {
      @include transition(fast, opacity);
    }

    &.#{$cls-prefix}transition {
      &-exit,
      &-exiting,
      &-exited {
        & > .#{$cls-prefix}icon,
        & > .#{$cls-prefix}button-content {
          opacity: 0;
        }
      }
    }

    & > .#{$cls-prefix}button-loader {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      @include transition(fast, opacity);

      &.#{$cls-prefix}transition {
        &-enter,
        &-exit,
        &-exiting,
        &-exited {
          opacity: 0;
        }
      }
    }
  }

  [data-focusing] &:focus {
    @include focus-outline;
  }

  &:hover {
    color: var(--text-color-hover);
    background-color: var(--background-color-hover);
    border-color: var(--border-color-hover);
  }

  &:active {
    color: var(--text-color-active);
    background-color: var(--background-color-active);
    border-color: var(--border-color-active);
  }

  &[disabled] {
    color: var(--text-color-base);
    background-color: var(--background-color-base);
    border-color: var(--border-color-base);
    cursor: default;

    &[href] {
      pointer-events: none;
    }
  }

  &.#{$cls-prefix}active {
    color: var(--text-color-active);
    background-color: var(--background-color-active);
    border-color: var(--border-color-active);
  }

  &.#{$cls-prefix}disabled {
    color: var(--text-color-disabled);
    background-color: var(--background-color-disabled);
    border-color: var(--border-color-disabled);
    cursor: not-allowed;

    &.#{$cls-prefix}active {
      color: var(--text-color-inactive);
      background-color: var(--background-color-inactive);
      border-color: var(--border-color-inactive);
    }
  }

  @each $intent in $intents {
    &.#{$cls-prefix}#{$intent} {
      background-color: var(--#{$intent}-0);
      border-color: var(--#{$intent}-3);

      &:hover {
        background-color: var(--#{$intent}-1);
        border-color: var(--#{$intent}-4);
      }

      &:active {
        background-color: var(--#{$intent}-2);
        border-color: var(--#{$intent}-5);
      }

      &[disabled] {
        background-color: var(--#{$intent}-0);
        border-color: var(--#{$intent}-3);
      }

      &.#{$cls-prefix}active {
        background-color: var(--#{$intent}-2);
        border-color: var(--#{$intent}-5);
      }

      &.#{$cls-prefix}disabled {
        background-color: var(--#{$intent}-0);
        border-color: var(--#{$intent}-1);

        &.#{$cls-prefix}active {
          background-color: var(--#{$intent}-1);
          border-color: var(--#{$intent}-2);
        }
      }
    }
  }

  @each $color in $colors {
    &.#{$cls-prefix}#{$color} {
      background-color: var(--#{$color}-0);
      border-color: var(--#{$color}-3);

      &:hover {
        background-color: var(--#{$color}-1);
        border-color: var(--#{$color}-4);
      }

      &:active {
        background-color: var(--#{$color}-2);
        border-color: var(--#{$color}-5);
      }

      &[disabled] {
        background-color: var(--#{$color}-0);
        border-color: var(--#{$color}-3);
      }

      &.#{$cls-prefix}active {
        background-color: var(--#{$color}-2);
        border-color: var(--#{$color}-5);
      }

      &.#{$cls-prefix}disabled {
        background-color: var(--#{$color}-0);
        border-color: var(--#{$color}-1);

        &.#{$cls-prefix}active {
          background-color: var(--#{$color}-1);
          border-color: var(--#{$color}-2);
        }
      }
    }
  }
}

.#{$cls-prefix}button.#{$cls-prefix}solid {
  color: var(--text-color-solid-base);
  background-color: var(--background-color-solid-base);
  border-color: var(--border-color-solid-base);

  &:hover {
    color: var(--text-color-solid-hover);
    background-color: var(--background-color-solid-hover);
    border-color: var(--border-color-solid-hover);
  }

  &:active {
    color: var(--text-color-solid-active);
    background-color: var(--background-color-solid-active);
    border-color: var(--border-color-solid-active);
  }

  &[disabled] {
    color: var(--text-color-solid-base);
    background-color: var(--background-color-solid-base);
    border-color: var(--border-color-solid-base);
  }

  &.#{$cls-prefix}active {
    color: var(--text-color-solid-active);
    background-color: var(--background-color-solid-active);
    border-color: var(--border-color-solid-active);
  }

  &.#{$cls-prefix}disabled {
    color: var(--text-color-solid-disabled);
    background-color: var(--background-color-solid-disabled);
    border-color: var(--border-color-solid-disabled);

    &.#{$cls-prefix}active {
      color: var(--text-color-solid-inactive);
      background-color: var(--background-color-solid-inactive);
      border-color: var(--border-color-solid-inactive);
    }
  }

  @each $intent in $intents {
    &.#{$cls-prefix}#{$intent} {
      color: var(--text-color-solid-base);
      background-color: var(--#{$intent}-5);
      border-color: var(--#{$intent}-7);

      &:hover {
        color: var(--text-color-solid-hover);
        background-color: var(--#{$intent}-6);
        border-color: var(--#{$intent}-8);
      }

      &:active {
        color: var(--text-color-solid-active);
        background-color: var(--#{$intent}-7);
        border-color: var(--#{$intent}-9);
      }

      &[disabled] {
        color: var(--text-color-solid-base);
        background-color: var(--#{$intent}-5);
        border-color: var(--#{$intent}-7);
      }

      &.#{$cls-prefix}active {
        color: var(--text-color-solid-active);
        background-color: var(--#{$intent}-7);
        border-color: var(--#{$intent}-9);
      }

      &.#{$cls-prefix}disabled {
        color: var(--text-color-solid-disabled);
        background-color: var(--#{$intent}-2);
        border-color: var(--#{$intent}-3);

        &.#{$cls-prefix}active {
          color: var(--text-color-solid-inactive);
          background-color: var(--#{$intent}-3);
          border-color: var(--#{$intent}-4);
        }
      }
    }
  }

  @each $color in $colors {
    &.#{$cls-prefix}#{$color} {
      color: var(--text-color-solid-base);
      background-color: var(--#{$color}-5);
      border-color: var(--#{$color}-7);

      &:hover {
        color: var(--text-color-solid-hover);
        background-color: var(--#{$color}-6);
        border-color: var(--#{$color}-8);
      }

      &:active {
        color: var(--text-color-solid-active);
        background-color: var(--#{$color}-7);
        border-color: var(--#{$color}-9);
      }

      &[disabled] {
        color: var(--text-color-solid-base);
        background-color: var(--#{$color}-5);
        border-color: var(--#{$color}-7);
      }

      &.#{$cls-prefix}active {
        color: var(--text-color-solid-active);
        background-color: var(--#{$color}-7);
        border-color: var(--#{$color}-9);
      }

      &.#{$cls-prefix}disabled {
        color: var(--text-color-solid-disabled);
        background-color: var(--#{$color}-2);
        border-color: var(--#{$color}-3);

        &.#{$cls-prefix}active {
          color: var(--text-color-solid-inactive);
          background-color: var(--#{$color}-3);
          border-color: var(--#{$color}-4);
        }
      }
    }
  }
}

.#{$cls-prefix}button.#{$cls-prefix}hollow {
  background-color: transparent;

  &:hover {
    background-color: rgba(var(--basis-rgb) / var(--alpha-soft));
  }

  &:active {
    background-color: rgba(var(--basis-rgb) / var(--alpha-deep));
  }

  &[disabled] {
    background-color: transparent;
  }

  &.#{$cls-prefix}active {
    background-color: rgba(var(--basis-rgb) / var(--alpha-deep));
  }

  &.#{$cls-prefix}disabled {
    background-color: transparent;

    &.#{$cls-prefix}active {
      background-color: rgba(var(--basis-rgb) / var(--alpha-soft));
    }
  }

  @each $intent in $intents {
    &.#{$cls-prefix}#{$intent} {
      color: var(--#{$intent}-5);
      background-color: transparent;

      &:hover {
        color: var(--#{$intent}-6);
        background-color: rgba(var(--#{$intent}-rgb) / var(--alpha-soft));
      }

      &:active {
        color: var(--#{$intent}-7);
        background-color: rgba(var(--#{$intent}-rgb) / var(--alpha-deep));
      }

      &[disabled] {
        color: var(--#{$intent}-5);
        background-color: transparent;
      }

      &.#{$cls-prefix}active {
        color: var(--#{$intent}-7);
        background-color: rgba(var(--#{$intent}-rgb) / var(--alpha-deep));
      }

      &.#{$cls-prefix}disabled {
        color: var(--#{$intent}-2);
        background-color: transparent;

        &.#{$cls-prefix}active {
          color: var(--#{$intent}-3);
          background-color: rgba(var(--#{$intent}-rgb) / var(--alpha-soft));
        }
      }
    }
  }

  @each $color in $colors {
    &.#{$cls-prefix}#{$color} {
      color: var(--#{$color}-5);
      background-color: transparent;

      &:hover {
        color: var(--#{$color}-6);
        background-color: rgba(var(--#{$color}-rgb) / var(--alpha-soft));
      }

      &:active {
        color: var(--#{$color}-7);
        background-color: rgba(var(--#{$color}-rgb) / var(--alpha-deep));
      }

      &[disabled] {
        color: var(--#{$color}-5);
        background-color: transparent;
      }

      &.#{$cls-prefix}active {
        color: var(--#{$color}-7);
        background-color: rgba(var(--#{$color}-rgb) / var(--alpha-deep));
      }

      &.#{$cls-prefix}disabled {
        color: var(--#{$color}-2);
        background-color: transparent;

        &.#{$cls-prefix}active {
          color: var(--#{$color}-3);
          background-color: rgba(var(--#{$color}-rgb) / var(--alpha-soft));
        }
      }
    }
  }
}

.#{$cls-prefix}button.#{$cls-prefix}borderless {
  border-color: transparent;

  &:hover {
    border-color: transparent;
  }

  &:active {
    border-color: transparent;
  }

  &[disabled] {
    border-color: transparent;
  }

  &.#{$cls-prefix}active {
    border-color: transparent;
  }

  &.#{$cls-prefix}disabled {
    border-color: transparent;

    &.#{$cls-prefix}active {
      border-color: transparent;
    }
  }

  @each $intent in $intents {
    &.#{$cls-prefix}#{$intent} {
      border-color: transparent;

      &:hover {
        border-color: transparent;
      }

      &:active {
        border-color: transparent;
      }

      &[disabled] {
        border-color: transparent;
      }

      &.#{$cls-prefix}active {
        border-color: transparent;
      }

      &.#{$cls-prefix}disabled {
        border-color: transparent;

        &.#{$cls-prefix}active {
          border-color: transparent;
        }
      }
    }
  }
}

.#{$cls-prefix}button.#{$cls-prefix}rtl {
  text-align: right;

  &.#{$cls-prefix}fluid {
    text-align: center;
  }
}
