@import "@lilib/themes";

.#{$cls-prefix}button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: var(--space-2x) var(--space-4x);
  color: var(--text-color-base);
  font-weight: var(--font-weight-button);
  font-size: var(--font-size-base);
  font-family: inherit;
  font-style: normal;
  line-height: var(--line-height-small);
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
  background-color: var(--background-color-1);
  border: var(--border-width-form) solid var(--border-color-base);
  border-radius: var(--border-radius-base);
  cursor: pointer;
  appearance: none;
  user-select: none;

  &-content {
    flex: 1 1 auto;
  }

  &-loader {
    display: none;
  }

  & > .#{$cls-prefix}icon,
  & > .#{$cls-prefix}spinner {
    flex: 0 0 auto;

    &.#{$cls-prefix}start-spaced {
      margin-left: var(--space-2x);
    }

    &.#{$cls-prefix}end-spaced {
      margin-right: var(--space-2x);
    }
  }

  &.#{$cls-prefix}small {
    padding: var(--space-1x) var(--space-2x);
    font-size: var(--font-size-small);

    & > .#{$cls-prefix}icon,
    & > .#{$cls-prefix}spinner {
      &.#{$cls-prefix}start-spaced {
        margin-left: var(--space-1x);
      }

      &.#{$cls-prefix}end-spaced {
        margin-right: var(--space-1x);
      }
    }
  }

  &.#{$cls-prefix}large {
    padding: var(--space-3x) var(--space-6x);
    font-size: var(--font-size-large);

    & > .#{$cls-prefix}icon,
    & > .#{$cls-prefix}spinner {
      &.#{$cls-prefix}start-spaced {
        margin-left: var(--space-3x);
      }

      &.#{$cls-prefix}end-spaced {
        margin-right: var(--space-3x);
      }
    }
  }

  &.#{$cls-prefix}fluid {
    display: flex;
    width: 100%;
    margin: auto;
    text-align: center;
  }

  &.#{$cls-prefix}round {
    border-radius: var(--border-radius-round);
  }

  &.#{$cls-prefix}truncated {
    & > .#{$cls-prefix}button-content {
      @include text-overflow;
    }
  }

  &.#{$cls-prefix}icon-only {
    padding: var(--space-2x);
    line-height: 1;

    &.#{$cls-prefix}small {
      padding: var(--space-1x);
    }

    &.#{$cls-prefix}large {
      padding: var(--space-3x);
    }
  }

  &.#{$cls-prefix}loading {
    position: relative;

    & > .#{$cls-prefix}icon,
    & > .#{$cls-prefix}button-content {
      @include transition(fast, opacity);
    }

    &.#{$cls-prefix}transition {
      &-exit,
      &-exiting,
      &-exited {
        & > .#{$cls-prefix}icon,
        & > .#{$cls-prefix}button-content {
          opacity: 0;
        }
      }
    }

    & > .#{$cls-prefix}button-loader {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      @include transition(fast, opacity);

      &.#{$cls-prefix}transition {
        &-enter,
        &-exit,
        &-exiting,
        &-exited {
          opacity: 0;
        }
      }
    }
  }

  &:hover {
    color: var(--text-color-hover);
    text-decoration: none;
    background-color: var(--background-color-2);
    border-color: var(--border-color-hover);
  }

  &:active {
    color: var(--text-color-active);
    text-decoration: none;
    background-color: var(--background-color-3);
    border-color: var(--border-color-active);
  }

  &[disabled] {
    color: var(--text-color-base);
    background-color: var(--background-color-1);
    border-color: var(--border-color-base);
    cursor: default;

    &[href] {
      pointer-events: none;
    }
  }

  &.#{$cls-prefix}active {
    color: var(--text-color-active);
    background-color: var(--background-color-3);
    border-color: var(--border-color-active);
  }

  &.#{$cls-prefix}disabled {
    color: var(--text-color-disabled);
    background-color: var(--background-color-1);
    border-color: var(--border-color-disabled);
    cursor: not-allowed;

    &.#{$cls-prefix}active {
      color: var(--text-color-inactive);
      background-color: var(--background-color-2);
      border-color: var(--border-color-inactive);
    }
  }

  @each $intent in $intents {
    &.#{$cls-prefix}#{$intent} {
      color: var(--text-color-#{$intent}-base);
      background-color: var(--background-color-#{$intent}-1);
      border-color: var(--border-color-#{$intent}-base);

      &:hover {
        color: var(--text-color-#{$intent}-hover);
        background-color: var(--background-color-#{$intent}-2);
        border-color: var(--border-color-#{$intent}-hover);
      }

      &:active {
        color: var(--text-color-#{$intent}-active);
        background-color: var(--background-color-#{$intent}-3);
        border-color: var(--border-color-#{$intent}-active);
      }

      &[disabled] {
        color: var(--text-color-#{$intent}-base);
        background-color: var(--background-color-#{$intent}-1);
        border-color: var(--border-color-#{$intent}-base);
      }

      &.#{$cls-prefix}active {
        color: var(--text-color-#{$intent}-active);
        background-color: var(--background-color-#{$intent}-3);
        border-color: var(--border-color-#{$intent}-active);
      }

      &.#{$cls-prefix}disabled {
        color: var(--text-color-#{$intent}-disabled);
        background-color: var(--background-color-#{$intent}-1);
        border-color: var(--border-color-#{$intent}-disabled);

        &.#{$cls-prefix}active {
          color: var(--text-color-#{$intent}-inactive);
          background-color: var(--background-color-#{$intent}-2);
          border-color: var(--border-color-#{$intent}-inactive);
        }
      }
    }
  }
}

.#{$cls-prefix}button.#{$cls-prefix}solid {
  color: var(--text-color-reverse-base);
  background-color: var(--background-color-solid-base);
  border-color: var(--border-color-solid-base);

  &:hover {
    color: var(--text-color-reverse-hover);
    background-color: var(--background-color-solid-hover);
    border-color: var(--border-color-solid-hover);
  }

  &:active {
    color: var(--text-color-reverse-active);
    background-color: var(--background-color-solid-active);
    border-color: var(--border-color-solid-active);
  }

  &[disabled] {
    color: var(--text-color-reverse-base);
    background-color: var(--background-color-solid-base);
    border-color: var(--border-color-solid-base);
  }

  &.#{$cls-prefix}active {
    color: var(--text-color-reverse-active);
    background-color: var(--background-color-solid-active);
    border-color: var(--border-color-solid-active);
  }

  &.#{$cls-prefix}disabled {
    color: var(--text-color-reverse-disabled);
    background-color: var(--background-color-solid-disabled);
    border-color: var(--border-color-solid-disabled);

    &.#{$cls-prefix}active {
      color: var(--text-color-reverse-inactive);
      background-color: var(--background-color-solid-inactive);
      border-color: var(--border-color-solid-inactive);
    }
  }

  @each $intent in $intents {
    &.#{$cls-prefix}#{$intent} {
      color: var(--text-color-solid-base);
      background-color: var(--background-color-solid-#{$intent}-base);
      border-color: var(--border-color-solid-#{$intent}-base);

      &:hover {
        color: var(--text-color-solid-hover);
        background-color: var(--background-color-solid-#{$intent}-hover);
        border-color: var(--border-color-solid-#{$intent}-hover);
      }

      &:active {
        color: var(--text-color-solid-active);
        background-color: var(--background-color-solid-#{$intent}-active);
        border-color: var(--border-color-solid-#{$intent}-active);
      }

      &[disabled] {
        color: var(--text-color-solid-base);
        background-color: var(--background-color-solid-#{$intent}-base);
        border-color: var(--border-color-solid-#{$intent}-base);
      }

      &.#{$cls-prefix}active {
        color: var(--text-color-solid-active);
        background-color: var(--background-color-solid-#{$intent}-active);
        border-color: var(--border-color-solid-#{$intent}-active);
      }

      &.#{$cls-prefix}disabled {
        color: var(--text-color-solid-disabled);
        background-color: var(--background-color-solid-#{$intent}-disabled);
        border-color: var(--border-color-solid-#{$intent}-disabled);

        &.#{$cls-prefix}active {
          color: var(--text-color-solid-inactive);
          background-color: var(--background-color-solid-#{$intent}-inactive);
          border-color: var(--border-color-solid-#{$intent}-inactive);
        }
      }
    }
  }
}

.#{$cls-prefix}button.#{$cls-prefix}hollow {
  background-color: transparent;

  &:hover {
    background-color: var(--background-color-a1);
  }

  &:active {
    background-color: var(--background-color-a2);
  }

  &[disabled] {
    background-color: transparent;
  }

  &.#{$cls-prefix}active {
    background-color: var(--background-color-a2);
  }

  &.#{$cls-prefix}disabled {
    background-color: transparent;

    &.#{$cls-prefix}active {
      background-color: var(--background-color-a1);
    }
  }

  @each $intent in $intents {
    &.#{$cls-prefix}#{$intent} {
      background-color: transparent;

      &:hover {
        background-color: var(--background-color-#{$intent}-a1);
      }

      &:active {
        background-color: var(--background-color-#{$intent}-a2);
      }

      &[disabled] {
        background-color: transparent;
      }

      &.#{$cls-prefix}active {
        background-color: var(--background-color-#{$intent}-a2);
      }

      &.#{$cls-prefix}disabled {
        background-color: transparent;

        &.#{$cls-prefix}active {
          background-color: var(--background-color-#{$intent}-a1);
        }
      }
    }
  }
}

.#{$cls-prefix}button.#{$cls-prefix}borderless {
  border-color: transparent;

  &:hover {
    border-color: transparent;
  }

  &:active {
    border-color: transparent;
  }

  &[disabled] {
    border-color: transparent;
  }

  &.#{$cls-prefix}active {
    border-color: transparent;
  }

  &.#{$cls-prefix}disabled {
    border-color: transparent;

    &.#{$cls-prefix}active {
      border-color: transparent;
    }
  }

  @each $intent in $intents {
    &.#{$cls-prefix}#{$intent} {
      border-color: transparent;

      &:hover {
        border-color: transparent;
      }

      &:active {
        border-color: transparent;
      }

      &[disabled] {
        border-color: transparent;
      }

      &.#{$cls-prefix}active {
        border-color: transparent;
      }

      &.#{$cls-prefix}disabled {
        border-color: transparent;

        &.#{$cls-prefix}active {
          border-color: transparent;
        }
      }
    }
  }
}

.#{$cls-prefix}button.#{$cls-prefix}rtl {
  & > .#{$cls-prefix}icon,
  & > .#{$cls-prefix}spinner {
    &.#{$cls-prefix}start-spaced {
      margin-right: var(--space-2x);
    }

    &.#{$cls-prefix}end-spaced {
      margin-left: var(--space-2x);
    }
  }

  &.#{$cls-prefix}small {
    & > .#{$cls-prefix}icon,
    & > .#{$cls-prefix}spinner {
      &.#{$cls-prefix}start-spaced {
        margin-right: var(--space-1x);
      }

      &.#{$cls-prefix}end-spaced {
        margin-left: var(--space-1x);
      }
    }
  }

  &.#{$cls-prefix}large {
    & > .#{$cls-prefix}icon,
    & > .#{$cls-prefix}spinner {
      &.#{$cls-prefix}start-spaced {
        margin-right: var(--space-3x);
      }

      &.#{$cls-prefix}end-spaced {
        margin-left: var(--space-3x);
      }
    }
  }
}
