@import "@lilib/themes";

.#{$cls-prefix}button-group {
  & .#{$cls-prefix}button {
    position: relative;
    z-index: 2;

    &:hover {
      z-index: 3;
    }

    &:active {
      z-index: 4;
    }

    &:focus {
      z-index: 5;
    }

    &[disabled] {
      z-index: 2;
    }

    &.#{$cls-prefix}active {
      z-index: 4;

      &:focus {
        z-index: 5;
      }
    }

    &.#{$cls-prefix}disabled {
      z-index: 0;

      &.#{$cls-prefix}active {
        z-index: 1;
      }
    }
  }
}

.#{$cls-prefix}button-group.#{$cls-prefix}horizontal {
  display: inline-flex;
  align-items: stretch;
  max-width: 100%;
  vertical-align: middle;

  &.#{$cls-prefix}fluid {
    display: flex;
    width: 100%;

    & .#{$cls-prefix}button {
      flex: 1 1 auto;
      text-align: center;
    }
  }
}

.#{$cls-prefix}button-group.#{$cls-prefix}vertical {
  display: inline-block;
  max-width: 100%;

  &.#{$cls-prefix}vertical {
    & .#{$cls-prefix}button {
      &:not(:first-child) {
        margin-top: -1px;
      }

      &:first-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:last-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      &:not(:first-child):not(:last-child) {
        border-radius: 0;
      }
    }
  }

  &.#{$cls-prefix}fluid {
    display: block;
    width: 100%;
  }
}

.#{$cls-prefix}button-group.#{$cls-prefix}ltr {
  &.#{$cls-prefix}horizontal {
    & .#{$cls-prefix}button {
      &:not(:first-child) {
        margin-left: -1px;
      }

      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:not(:first-child):not(:last-child) {
        border-radius: 0;
      }
    }
  }
}

.#{$cls-prefix}button-group.#{$cls-prefix}rtl {
  &.#{$cls-prefix}horizontal {
    & .#{$cls-prefix}button {
      &:not(:first-child) {
        margin-right: -1px;
      }

      &:first-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:last-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:not(:first-child):not(:last-child) {
        border-radius: 0;
      }
    }
  }
}
