@import "@lilib/themes";

.#{$cls-prefix}spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  line-height: 1;
  vertical-align: -0.125em;

  &.#{$cls-prefix}start-spaced {
    margin-inline-start: 0.375em;
  }

  &.#{$cls-prefix}end-spaced {
    margin-inline-end: 0.375em;
  }

  &.#{$cls-prefix}contented {
    position: relative;

    & > .#{$cls-prefix}spinner-switcher {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      @include transition(base, ease, transform, opacity);

      &.#{$cls-prefix}transition {
        &-enter,
        &-exit,
        &-exiting,
        &-exited {
          transform: scale(0);
          opacity: 0;
        }

        &-exited {
          display: none;
        }
      }
    }
  }

  &:not(.#{$cls-prefix}contented) {
    @include transition(base, ease, width, margin-inline-start, margin-inline-end, transform, opacity);

    &.#{$cls-prefix}transition {
      &-enter,
      &-exit,
      &-exiting {
        width: 0.01px;
        margin-inline-start: 0;
        margin-inline-end: 0;
        transform: scale(0);
        opacity: 0;
      }
    }
  }
}
