@import "@lilib/themes";

.#{$cls-prefix}spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  line-height: 1;
  vertical-align: -0.125em;

  &.#{$cls-prefix}start-spaced {
    margin-left: 0.375em;
  }

  &.#{$cls-prefix}end-spaced {
    margin-right: 0.375em;
  }

  &.#{$cls-prefix}contained {
    position: relative;

    & > .#{$cls-prefix}spinner-switcher {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      @include transition(fast, transform, opacity);

      &.#{$cls-prefix}transition {
        &-enter,
        &-exit,
        &-exiting,
        &-exited {
          transform: scale(0);
          opacity: 0;
        }
      }
    }
  }

  &.#{$cls-prefix}standalone {
    @include transition(
      fast,
      width,
      margin-right,
      margin-left,
      transform,
      opacity
    );

    &.#{$cls-prefix}transition {
      &-enter,
      &-exit,
      &-exiting {
        width: 0.01px;
        margin-right: 0;
        margin-left: 0;
        transform: scale(0);
        opacity: 0;
      }
    }
  }
}

.#{$cls-prefix}spinner.#{$cls-prefix}rtl {
  &.#{$cls-prefix}start-spaced {
    margin-right: 0.375em;
  }

  &.#{$cls-prefix}end-spaced {
    margin-left: 0.375em;
  }
}
