@import "@lilib/themes";

.#{$cls-prefix}collapse {
  &.#{$cls-prefix}transition {
    &-enter,
    &-entering,
    &-exit,
    &-exiting {
      overflow: hidden;
      @include transition(base, ease, height, opacity);
    }

    &-enter,
    &-exiting,
    &-exited {
      opacity: 0;
    }

    &-entering {
      opacity: 1;
    }

    &-exited {
      display: none;
    }
  }
}
