$prefix: "li-" !default;
$intents: ("major", "minor", "positive", "alertive", "negative") !default;

$colors: (
  "red",
  "magenta",
  "purple",
  "indigo",
  "navy",
  "blue",
  "cyan",
  "teal",
  "green",
  "lime",
  "yellow",
  "orange",
  "brown",
  "gray"
) !default;

$font-family-base: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", "Open Sans", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-code: Menlo, Monaco, Consolas, "Courier New", Courier, monospace !default;

$font-size-base: 16px !default;
$font-size-small: 12px !default;
$font-size-large: 20px !default;

$line-height-base: 1.5 !default;
$line-height-small: 1.25 !default;
$line-height-large: 2 !default;
$line-height-fixed-base: 24px !default;
$line-height-fixed-small: 18px !default;
$line-height-fixed-large: 30px !default;

$border-radius-base: 0.5em !default;
$border-radius-small: 0.25em !default;
$border-radius-large: 1em !default;
$border-radius-fixed-base: 8px !default;
$border-radius-fixed-small: 4px !default;
$border-radius-fixed-large: 16px !default;

$space-xxs: 4px !default;
$space-xs: 8px !default;
$space-sm: 12px !default;
$space-md: 16px !default;
$space-lg: 24px !default;
$space-xl: 32px !default;
$space-xxl: 40px !default;

$compact-space-xxs: 2px !default;
$compact-space-xs: 4px !default;
$compact-space-sm: 6px !default;
$compact-space-md: 8px !default;
$compact-space-lg: 12px !default;
$compact-space-xl: 16px !default;
$compact-space-xxl: 20px !default;

$blur-base: 12px !default;
$blur-small: 4px !default;
$blur-large: 20px !default;

$motion-duration-base: 300ms !default;
$motion-duration-fast: 150ms !default;
$motion-duration-slow: 750ms !default;
$motion-duration-lazy: 1250ms !default;
$motion-function-base: ease-in-out !default;
