$white: #fff !default;
$black: #000 !default;

$red: hsl(355deg, 75%, 55%) !default;
$magenta: hsl(300deg, 70%, 45%) !default;
$purple: hsl(280deg, 80%, 50%) !default;
$indigo: hsl(255deg, 80%, 50%) !default;
$navy: hsl(235deg, 70%, 50%) !default;
$blue: hsl(215deg, 80%, 50%) !default;
$cyan: hsl(190deg, 65%, 40%) !default;
$teal: hsl(165deg, 65%, 35%) !default;
$green: hsl(130deg, 45%, 40%) !default;
$lime: hsl(80deg, 55%, 45%) !default;
$yellow: hsl(45deg, 95%, 45%) !default;
$orange: hsl(30deg, 85%, 50%) !default;
$brown: hsl(355deg, 15%, 50%) !default;
$gray: hsl(215deg, 5%, 50%) !default;
