@import "./base";
@import "./light";
@import "./dark";
@import "../_functions/merge-maps";

$base-properties: (
  "--font-family-base": $font-family-base,
  "--font-family-code": $font-family-code,
  "--font-size-base": $font-size-base,
  "--font-size-small": $font-size-small,
  "--font-size-large": $font-size-large,
  "--line-height-base": $line-height-base,
  "--line-height-small": $line-height-small,
  "--line-height-large": $line-height-large,
  "--line-height-fixed-base": $line-height-fixed-base,
  "--line-height-fixed-small": $line-height-fixed-small,
  "--line-height-fixed-large": $line-height-fixed-large,
  "--border-radius-base": $border-radius-base,
  "--border-radius-small": $border-radius-small,
  "--border-radius-large": $border-radius-large,
  "--border-radius-fixed-base": $border-radius-fixed-base,
  "--border-radius-fixed-small": $border-radius-fixed-small,
  "--border-radius-fixed-large": $border-radius-fixed-large,
  "--blur-base": $blur-base,
  "--blur-small": $blur-small,
  "--blur-large": $blur-large,
  "--motion-duration-base": $motion-duration-base,
  "--motion-duration-fast": $motion-duration-fast,
  "--motion-duration-slow": $motion-duration-slow,
  "--motion-duration-lazy": $motion-duration-lazy,
  "--motion-function-base": $motion-function-base,
) !default;

$imcompact-properties: (
  "--space-xxs": $space-xxs,
  "--space-xs": $space-xs,
  "--space-sm": $space-sm,
  "--space-md": $space-md,
  "--space-lg": $space-lg,
  "--space-xl": $space-xl,
  "--space-xxl": $space-xxl,
) !default;

$compact-properties: (
  "--space-xxs": $compact-space-xxs,
  "--space-xs": $compact-space-xs,
  "--space-sm": $compact-space-sm,
  "--space-md": $compact-space-md,
  "--space-lg": $compact-space-lg,
  "--space-xl": $compact-space-xl,
  "--space-xxl": $compact-space-xxl,
) !default;

$light-properties: (
  "--red": $red,
  "--magenta": $magenta,
  "--purple": $purple,
  "--indigo": $indigo,
  "--navy": $navy,
  "--blue": $blue,
  "--cyan": $cyan,
  "--teal": $teal,
  "--green": $green,
  "--lime": $lime,
  "--yellow": $yellow,
  "--orange": $orange,
  "--brown": $brown,
  "--gray": $gray,
  "--major": $major,
  "--minor": $minor,
  "--positive": $positive,
  "--alertive": $alertive,
  "--negative": $negative,
  "--text-color-base": $text-color-base,
  "--text-color-hover": $text-color-hover,
  "--text-color-active": $text-color-active,
  "--text-color-inactive": $text-color-inactive,
  "--text-color-disabled": $text-color-disabled,
  "--text-color-reverse-base": $text-color-reverse-base,
  "--text-color-reverse-hover": $text-color-reverse-hover,
  "--text-color-reverse-active": $text-color-reverse-active,
  "--text-color-reverse-inactive": $text-color-reverse-inactive,
  "--text-color-reverse-disabled": $text-color-reverse-disabled,
  "--text-color-major-base": $text-color-major-base,
  "--text-color-major-hover": $text-color-major-hover,
  "--text-color-major-active": $text-color-major-active,
  "--text-color-major-inactive": $text-color-major-inactive,
  "--text-color-major-disabled": $text-color-major-disabled,
  "--text-color-minor-base": $text-color-minor-base,
  "--text-color-minor-hover": $text-color-minor-hover,
  "--text-color-minor-active": $text-color-minor-active,
  "--text-color-minor-inactive": $text-color-minor-inactive,
  "--text-color-minor-disabled": $text-color-minor-disabled,
  "--text-color-positive-base": $text-color-positive-base,
  "--text-color-positive-hover": $text-color-positive-hover,
  "--text-color-positive-active": $text-color-positive-active,
  "--text-color-positive-inactive": $text-color-positive-inactive,
  "--text-color-positive-disabled": $text-color-positive-disabled,
  "--text-color-alertive-base": $text-color-alertive-base,
  "--text-color-alertive-hover": $text-color-alertive-hover,
  "--text-color-alertive-active": $text-color-alertive-active,
  "--text-color-alertive-inactive": $text-color-alertive-inactive,
  "--text-color-alertive-disabled": $text-color-alertive-disabled,
  "--text-color-negative-base": $text-color-negative-base,
  "--text-color-negative-hover": $text-color-negative-hover,
  "--text-color-negative-active": $text-color-negative-active,
  "--text-color-negative-inactive": $text-color-negative-inactive,
  "--text-color-negative-disabled": $text-color-negative-disabled,
  "--border-color-base": $border-color-base,
  "--border-color-hover": $border-color-hover,
  "--border-color-active": $border-color-active,
  "--border-color-inactive": $border-color-inactive,
  "--border-color-disabled": $border-color-disabled,
  "--border-color-major-base": $border-color-major-base,
  "--border-color-major-hover": $border-color-major-hover,
  "--border-color-major-active": $border-color-major-active,
  "--border-color-major-inactive": $border-color-major-inactive,
  "--border-color-major-disabled": $border-color-major-disabled,
  "--border-color-minor-base": $border-color-minor-base,
  "--border-color-minor-hover": $border-color-minor-hover,
  "--border-color-minor-active": $border-color-minor-active,
  "--border-color-minor-inactive": $border-color-minor-inactive,
  "--border-color-minor-disabled": $border-color-minor-disabled,
  "--border-color-positive-base": $border-color-positive-base,
  "--border-color-positive-hover": $border-color-positive-hover,
  "--border-color-positive-active": $border-color-positive-active,
  "--border-color-positive-inactive": $border-color-positive-inactive,
  "--border-color-positive-disabled": $border-color-positive-disabled,
  "--border-color-alertive-base": $border-color-alertive-base,
  "--border-color-alertive-hover": $border-color-alertive-hover,
  "--border-color-alertive-active": $border-color-alertive-active,
  "--border-color-alertive-inactive": $border-color-alertive-inactive,
  "--border-color-alertive-disabled": $border-color-alertive-disabled,
  "--border-color-negative-base": $border-color-negative-base,
  "--border-color-negative-hover": $border-color-negative-hover,
  "--border-color-negative-active": $border-color-negative-active,
  "--border-color-negative-inactive": $border-color-negative-inactive,
  "--border-color-negative-disabled": $border-color-negative-disabled,
) !default;

$dark-properties: (
  "--red": $dark-red,
  "--magenta": $dark-magenta,
  "--purple": $dark-purple,
  "--indigo": $dark-indigo,
  "--navy": $dark-navy,
  "--blue": $dark-blue,
  "--cyan": $dark-cyan,
  "--teal": $dark-teal,
  "--green": $dark-green,
  "--lime": $dark-lime,
  "--yellow": $dark-yellow,
  "--orange": $dark-orange,
  "--brown": $dark-brown,
  "--gray": $dark-gray,
  "--major": $dark-major,
  "--minor": $dark-minor,
  "--positive": $dark-positive,
  "--alertive": $dark-alertive,
  "--negative": $dark-negative,
  "--text-color-base": $dark-text-color-base,
  "--text-color-hover": $dark-text-color-hover,
  "--text-color-active": $dark-text-color-active,
  "--text-color-inactive": $dark-text-color-inactive,
  "--text-color-disabled": $dark-text-color-disabled,
  "--text-color-reverse-base": $dark-text-color-reverse-base,
  "--text-color-reverse-hover": $dark-text-color-reverse-hover,
  "--text-color-reverse-active": $dark-text-color-reverse-active,
  "--text-color-reverse-inactive": $dark-text-color-reverse-inactive,
  "--text-color-reverse-disabled": $dark-text-color-reverse-disabled,
  "--text-color-major-base": $dark-text-color-major-base,
  "--text-color-major-hover": $dark-text-color-major-hover,
  "--text-color-major-active": $dark-text-color-major-active,
  "--text-color-major-inactive": $dark-text-color-major-inactive,
  "--text-color-major-disabled": $dark-text-color-major-disabled,
  "--text-color-minor-base": $dark-text-color-minor-base,
  "--text-color-minor-hover": $dark-text-color-minor-hover,
  "--text-color-minor-active": $dark-text-color-minor-active,
  "--text-color-minor-inactive": $dark-text-color-minor-inactive,
  "--text-color-minor-disabled": $dark-text-color-minor-disabled,
  "--text-color-positive-base": $dark-text-color-positive-base,
  "--text-color-positive-hover": $dark-text-color-positive-hover,
  "--text-color-positive-active": $dark-text-color-positive-active,
  "--text-color-positive-inactive": $dark-text-color-positive-inactive,
  "--text-color-positive-disabled": $dark-text-color-positive-disabled,
  "--text-color-alertive-base": $dark-text-color-alertive-base,
  "--text-color-alertive-hover": $dark-text-color-alertive-hover,
  "--text-color-alertive-active": $dark-text-color-alertive-active,
  "--text-color-alertive-inactive": $dark-text-color-alertive-inactive,
  "--text-color-alertive-disabled": $dark-text-color-alertive-disabled,
  "--text-color-negative-base": $dark-text-color-negative-base,
  "--text-color-negative-hover": $dark-text-color-negative-hover,
  "--text-color-negative-active": $dark-text-color-negative-active,
  "--text-color-negative-inactive": $dark-text-color-negative-inactive,
  "--text-color-negative-disabled": $dark-text-color-negative-disabled,
  "--border-color-base": $dark-border-color-base,
  "--border-color-hover": $dark-border-color-hover,
  "--border-color-active": $dark-border-color-active,
  "--border-color-inactive": $dark-border-color-inactive,
  "--border-color-disabled": $dark-border-color-disabled,
  "--border-color-major-base": $dark-border-color-major-base,
  "--border-color-major-hover": $dark-border-color-major-hover,
  "--border-color-major-active": $dark-border-color-major-active,
  "--border-color-major-inactive": $dark-border-color-major-inactive,
  "--border-color-major-disabled": $dark-border-color-major-disabled,
  "--border-color-minor-base": $dark-border-color-minor-base,
  "--border-color-minor-hover": $dark-border-color-minor-hover,
  "--border-color-minor-active": $dark-border-color-minor-active,
  "--border-color-minor-inactive": $dark-border-color-minor-inactive,
  "--border-color-minor-disabled": $dark-border-color-minor-disabled,
  "--border-color-positive-base": $dark-border-color-positive-base,
  "--border-color-positive-hover": $dark-border-color-positive-hover,
  "--border-color-positive-active": $dark-border-color-positive-active,
  "--border-color-positive-inactive": $dark-border-color-positive-inactive,
  "--border-color-positive-disabled": $dark-border-color-positive-disabled,
  "--border-color-alertive-base": $dark-border-color-alertive-base,
  "--border-color-alertive-hover": $dark-border-color-alertive-hover,
  "--border-color-alertive-active": $dark-border-color-alertive-active,
  "--border-color-alertive-inactive": $dark-border-color-alertive-inactive,
  "--border-color-alertive-disabled": $dark-border-color-alertive-disabled,
  "--border-color-negative-base": $dark-border-color-negative-base,
  "--border-color-negative-hover": $dark-border-color-negative-hover,
  "--border-color-negative-active": $dark-border-color-negative-active,
  "--border-color-negative-inactive": $dark-border-color-negative-inactive,
  "--border-color-negative-disabled": $dark-border-color-negative-disabled,
) !default;

$properties: merge-maps(
  $base-properties,
  $imcompact-properties,
  $light-properties
) !default;
