@import "@lilib/themes";

.#{$cls-prefix}icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  line-height: 1;
  vertical-align: -0.125em;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  &.#{$cls-prefix}textual {
    vertical-align: baseline;
  }

  &.#{$cls-prefix}spinning {
    animation: #{$cls-prefix}icon-spin var(--motion-duration-slow)
      var(--motion-function-spin) 0s infinite;
  }
}

@keyframes #{$cls-prefix}icon-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
