@import "@lilib/themes";

.#{$cls-prefix}modal {
  position: fixed;
  top: 32px;
  left: 50%;
  max-width: calc(100vw - 64px);
  max-height: calc(100vh - 64px);
  transform: translateX(-50%);
  transform-origin: top left;

  &-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index-modal);
  }

  &.#{$cls-prefix}card {
    box-shadow: var(--shadow-5);

    & > .#{$cls-prefix}card-main > .#{$cls-prefix}card-header > .#{$cls-prefix}card-headmark {
      margin-inline-end: calc(var(--space-2) * -1);
    }
  }

  &.#{$cls-prefix}transition {
    &-enter,
    &-exit,
    &-exiting {
      transform: translateX(-50%) translateY(-32px);
      @include transition(base, ease-in-out, transform);
    }

    &-entering {
      transform: translateX(-50%) translateY(0);
      @include transition(base, ease-in-out, transform);
    }

    &-exited {
      display: none;
    }
  }

  &.#{$cls-prefix}centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.#{$cls-prefix}transition {
      &-enter,
      &-exit,
      &-exiting {
        transform: scale(0.8) translate(-50%, -50%);
      }

      &-entering {
        transform: scale(1) translate(-50%, -50%);
      }
    }
  }

  &.#{$cls-prefix}small {
    width: 400px;
  }

  &.#{$cls-prefix}medium {
    width: 600px;
  }

  &.#{$cls-prefix}large {
    width: 800px;
  }
}
