@import "@lilib/themes";

.#{$cls-prefix}switch {
  position: relative;
  display: inline-block;
  max-width: 100%;
  font-size: var(--font-size-base);
  line-height: 1;
  vertical-align: middle;
  border-radius: var(--border-radius-round);
  cursor: pointer;
  user-select: none;

  &-input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    appearance: none;

    [data-focusing] &:focus + .#{$cls-prefix}switch-track {
      @include focus-outline;
    }
  }

  &-track {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    min-width: calc(#{var(--line-height-fixed-base)} * 1.75);
    max-width: 100%;
    height: var(--line-height-fixed-base);
    color: var(--text-color-base);
    vertical-align: middle;
    background-color: var(--background-color-deep-base);
    border: 1px solid var(--border-color-deep-base);
    border-radius: var(--border-radius-round);
  }

  &-checked-label {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 0;
    padding-right: var(--line-height-fixed-base);
    padding-left: calc(#{var(--line-height-fixed-base)} / 4);
    overflow: hidden;
    white-space: nowrap;
    visibility: hidden;
  }

  &-unchecked-label {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-right: calc(#{var(--line-height-fixed-base)} / 4);
    padding-left: var(--line-height-fixed-base);
    overflow: hidden;
    white-space: nowrap;
  }

  &-slider {
    position: absolute;
    top: 2px;
    left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: calc(#{var(--line-height-fixed-base)} - 6px);
    height: calc(#{var(--line-height-fixed-base)} - 6px);
    color: var(--text-color-base);
    background-color: var(--background-color-base);
    border: 1px solid var(--border-color-deep-base);
    border-radius: var(--border-radius-round);
    @include transition(fast, ease-in-out, left);
  }

  &.#{$cls-prefix}checked {
    & .#{$cls-prefix}switch-track {
      color: var(--text-color-solid-base);
      background-color: var(--major);
      border-color: var(--border-color-major-solid-base);
    }

    & .#{$cls-prefix}switch-checked-label {
      height: 100%;
      visibility: visible;
    }

    & .#{$cls-prefix}switch-unchecked-label {
      height: 0;
      visibility: hidden;
    }

    & .#{$cls-prefix}switch-slider {
      left: calc(100% - ((#{var(--line-height-fixed-base)} - 4px)));
      color: var(--major);
      border-color: var(--border-color-major-solid-base);
    }
  }

  &.#{$cls-prefix}small {
    font-size: var(--font-size-small);

    & .#{$cls-prefix}switch-track {
      min-width: calc(#{var(--line-height-fixed-small)} * 1.75);
      height: var(--line-height-fixed-small);
    }

    & .#{$cls-prefix}switch-checked-label {
      padding-right: var(--line-height-fixed-small);
      padding-left: calc(#{var(--line-height-fixed-small)} / 4);
    }

    & .#{$cls-prefix}switch-unchecked-label {
      padding-right: calc(#{var(--line-height-fixed-small)} / 4);
      padding-left: var(--line-height-fixed-small);
    }

    & .#{$cls-prefix}switch-slider {
      top: 1px;
      left: 1px;
      width: calc(#{var(--line-height-fixed-small)} - 4px);
      height: calc(#{var(--line-height-fixed-small)} - 4px);
    }

    &.#{$cls-prefix}checked .#{$cls-prefix}switch-slider {
      left: calc(100% - ((#{var(--line-height-fixed-small)} - 3px)));
    }
  }

  &.#{$cls-prefix}large {
    font-size: var(--font-size-large);

    & .#{$cls-prefix}switch-track {
      min-width: calc(#{var(--line-height-fixed-large)} * 1.75);
      height: var(--line-height-fixed-large);
    }

    & .#{$cls-prefix}switch-checked-label {
      padding-right: var(--line-height-fixed-large);
      padding-left: calc(#{var(--line-height-fixed-large)} / 4);
    }

    & .#{$cls-prefix}switch-unchecked-label {
      padding-right: calc(#{var(--line-height-fixed-large)} / 4);
      padding-left: var(--line-height-fixed-large);
    }

    & .#{$cls-prefix}switch-slider {
      top: 3px;
      left: 3px;
      width: calc(#{var(--line-height-fixed-large)} - 8px);
      height: calc(#{var(--line-height-fixed-large)} - 8px);
    }

    &.#{$cls-prefix}checked .#{$cls-prefix}switch-slider {
      left: calc(100% - ((#{var(--line-height-fixed-large)} - 5px)));
    }
  }

  &:hover {
    & .#{$cls-prefix}switch-track {
      color: var(--text-color-hover);
      background-color: var(--background-color-deep-hover);
      border-color: var(--border-color-deep-hover);
    }

    & .#{$cls-prefix}switch-slider {
      color: var(--text-color-hover);
      border-color: var(--border-color-deep-hover);
    }
  }

  &:active {
    & .#{$cls-prefix}switch-track {
      color: var(--text-color-active);
      background-color: var(--background-color-deep-active);
      border-color: var(--border-color-deep-active);
    }

    & .#{$cls-prefix}switch-slider {
      color: var(--text-color-active);
      border-color: var(--border-color-deep-active);
    }
  }

  &.#{$cls-prefix}checked:hover {
    & .#{$cls-prefix}switch-track {
      color: var(--text-color-solid-hover);
      background-color: var(--background-color-major-solid-active);
      border-color: var(--border-color-major-solid-active);
    }

    & .#{$cls-prefix}switch-slider {
      color: var(--background-color-major-solid-active);
      border-color: var(--border-color-major-solid-active);
    }
  }

  &.#{$cls-prefix}checked:active {
    & .#{$cls-prefix}switch-track {
      color: var(--text-color-solid-active);
      background-color: var(--border-color-major-solid-base);
      border-color: var(--border-color-major-solid-active);
    }

    & .#{$cls-prefix}switch-slider {
      color: var(--border-color-major-solid-base);
      border-color: var(--border-color-major-solid-active);
    }
  }

  &.#{$cls-prefix}loading {
    cursor: default;

    & .#{$cls-prefix}switch-track {
      color: var(--text-color-base);
      background-color: var(--background-color-deep-base);
      border-color: var(--border-color-deep-base);
    }

    & .#{$cls-prefix}switch-slider {
      color: var(--text-color-base);
      border-color: var(--border-color-deep-base);
    }

    &.#{$cls-prefix}checked {
      & .#{$cls-prefix}switch-track {
        color: var(--text-color-solid-base);
        background-color: var(--major);
        border-color: var(--border-color-major-solid-base);
      }

      & .#{$cls-prefix}switch-slider {
        color: var(--major);
        border-color: var(--border-color-major-solid-base);
      }
    }
  }

  &.#{$cls-prefix}disabled {
    cursor: not-allowed;

    & .#{$cls-prefix}switch-track {
      color: var(--text-color-disabled);
      background-color: var(--background-color-deep-disabled);
      border-color: var(--border-color-deep-disabled);
    }

    & .#{$cls-prefix}switch-slider {
      color: var(--text-color-disabled);
      border-color: var(--border-color-deep-disabled);
    }

    &.#{$cls-prefix}checked {
      & .#{$cls-prefix}switch-track {
        color: var(--text-color-solid-disabled);
        background-color: var(--text-color-major-disabled);
        border-color: var(--border-color-major-solid-disabled);
      }

      & .#{$cls-prefix}switch-slider {
        color: var(--text-color-major-disabled);
        border-color: var(--border-color-major-solid-disabled);
      }
    }
  }
}

.#{$cls-prefix}switch.#{$cls-prefix}rtl {
  & .#{$cls-prefix}switch-checked-label {
    padding-right: calc(#{var(--line-height-fixed-base)} / 4);
    padding-left: var(--line-height-fixed-base);
  }

  & .#{$cls-prefix}switch-unchecked-label {
    padding-right: var(--line-height-fixed-base);
    padding-left: calc(#{var(--line-height-fixed-base)} / 4);
  }

  & .#{$cls-prefix}switch-slider {
    left: calc(100% - ((#{var(--line-height-fixed-base)} - 4px)));
  }

  &.#{$cls-prefix}checked {
    & .#{$cls-prefix}switch-slider {
      left: 2px;
    }
  }

  &.#{$cls-prefix}small {
    & .#{$cls-prefix}switch-slider {
      left: calc(100% - ((#{var(--line-height-fixed-small)} - 3px)));
    }

    & .#{$cls-prefix}switch-checked-label {
      padding-right: calc(#{var(--line-height-fixed-small)} / 4);
      padding-left: var(--line-height-fixed-small);
    }

    & .#{$cls-prefix}switch-unchecked-label {
      padding-right: var(--line-height-fixed-small);
      padding-left: calc(#{var(--line-height-fixed-small)} / 4);
    }

    &.#{$cls-prefix}checked .#{$cls-prefix}switch-slider {
      left: 1px;
    }
  }

  &.#{$cls-prefix}large {
    & .#{$cls-prefix}switch-slider {
      left: calc(100% - ((#{var(--line-height-fixed-large)} - 4px)));
    }

    & .#{$cls-prefix}switch-checked-label {
      padding-right: calc(#{var(--line-height-fixed-large)} / 4);
      padding-left: var(--line-height-fixed-large);
    }

    & .#{$cls-prefix}switch-unchecked-label {
      padding-right: var(--line-height-fixed-large);
      padding-left: calc(#{var(--line-height-fixed-large)} / 4);
    }

    &.#{$cls-prefix}checked .#{$cls-prefix}switch-slider {
      left: 3px;
    }
  }
}
