@import "@lilib/themes";

.#{$cls-prefix}alert {
  display: flex;
  align-items: flex-start;
  padding: var(--space-4) var(--space-6);

  // background-color: var(--background-color-hollow-soft);
  border: 1px solid var(--border-color-base);
  border-radius: var(--border-radius-fixed-base);

  &-icon {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    width: $line-height-base * 1em;
    height: $line-height-base * 1em;
    margin-right: var(--space-4);
    transform: scale(1.25);
  }

  &-content {
    flex: 1 1 0;
  }

  &-close {
    display: inline-flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: $line-height-base * 1em;
    height: $line-height-base * 1em;
    margin: 0;
    margin-left: var(--space-4);
    padding: 0;
    color: var(--text-color-inactive);
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    font-style: normal;
    line-height: inherit;
    text-decoration: none;
    vertical-align: middle;
    background: none;
    border: 0;
    border-radius: var(--border-radius-small);
    cursor: pointer;
    appearance: none;
    user-select: none;

    &:hover {
      color: var(--text-color-hover);

      // background-color: var(--background-color-hollow-soft);
    }

    &:active {
      color: var(--text-color-active);

      // background-color: var(--background-color-hollow-deep);
    }

    &:focus {
      @include focus-outline;
    }
  }

  @each $intent in $intents {
    &.#{$cls-prefix}#{$intent} {
      // background-color: var(--background-color-hollow-#{$intent}-soft);
      // border-color: var(--border-color-#{$intent}-base);

      & > .#{$cls-prefix}alert-icon {
        // color: var(--text-color-#{$intent}-base);
      }
    }
  }
}

.#{$cls-prefix}alert.#{$cls-prefix}rtl {
  & > .#{$cls-prefix}alert-icon {
    margin-right: 0;
    margin-left: var(--space-4);
  }

  & > .#{$cls-prefix}alert-close {
    margin-right: var(--space-4);
    margin-left: 0;
  }
}
